    pair_coeff @/atom:OPLSAA/90 @/atom:OPLSAA/90 lj/cut/coul/long 0.07 3.55
    pair_coeff @/atom:OPLSAA/91 @/atom:OPLSAA/91 lj/cut/coul/long 0.03 2.42
    pair_coeff @/atom:OPLSAA/92 @/atom:OPLSAA/92 lj/cut/coul/long 0.07 3.55
    bond_coeff @/bond:OPLSAA/90-90 harmonic 469.0 1.4
    bond_coeff @/bond:OPLSAA/90-92 harmonic 469.0 1.4
    bond_coeff @/bond:OPLSAA/92-90 harmonic 469.0 1.4
    bond_coeff @/bond:OPLSAA/92-92 harmonic 469.0 1.4
    bond_coeff @/bond:OPLSAA/90-91 harmonic 367.0 1.08
    bond_coeff @/bond:OPLSAA/92-91 harmonic 367.0 1.08
    angle_coeff @/angle:OPLSAA/90-90-90 harmonic 63.0 120.0
    angle_coeff @/angle:OPLSAA/90-90-92 harmonic 63.0 120.0
    angle_coeff @/angle:OPLSAA/90-92-90 harmonic 63.0 120.0
    angle_coeff @/angle:OPLSAA/90-92-92 harmonic 63.0 120.0
    angle_coeff @/angle:OPLSAA/92-90-90 harmonic 63.0 120.0
    angle_coeff @/angle:OPLSAA/92-90-92 harmonic 63.0 120.0
    angle_coeff @/angle:OPLSAA/92-92-90 harmonic 63.0 120.0
    angle_coeff @/angle:OPLSAA/92-92-92 harmonic 63.0 120.0
    angle_coeff @/angle:OPLSAA/90-90-91 harmonic 35.0 120.0
    angle_coeff @/angle:OPLSAA/90-92-91 harmonic 35.0 120.0
    angle_coeff @/angle:OPLSAA/92-90-91 harmonic 35.0 120.0
    angle_coeff @/angle:OPLSAA/92-92-91 harmonic 35.0 120.0
    dihedral_coeff @/dihedral:OPLSAA/0-90-90-0 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-90-92-0 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-92-90-0 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-92-92-0 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-90-90-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-90-90-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-90-92-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-90-92-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-92-90-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-92-90-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-92-92-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-92-92-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-90-90-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-90-92-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-92-90-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/0-92-92-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-90-90-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-90-90-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-90-92-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-90-92-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-92-90-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-92-90-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-92-92-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-92-92-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-90-90-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-90-90-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-90-92-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-90-92-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-92-90-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-92-90-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-92-92-90 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-92-92-92 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-90-90-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-90-92-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-92-90-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/90-92-92-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-90-90-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-90-92-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-92-90-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/92-92-92-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/91-90-90-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/91-90-92-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/91-92-90-91 opls 0.0 7.25 0.0 0.0
    dihedral_coeff @/dihedral:OPLSAA/91-92-92-91 opls 0.0 7.25 0.0 0.0
    improper_coeff @/improper:OPLSAA/0-0-90-0 harmonic 2.5 180 
    improper_coeff @/improper:OPLSAA/0-0-92-0 harmonic 2.5 180 
