    @/bond:OPLSAA/96-97 @/atom:OPLSAA/96 @/atom:OPLSAA/97
    @/bond:OPLSAA/96-80 @/atom:OPLSAA/96 @/atom:OPLSAA/80
    @/bond:OPLSAA/96-99 @/atom:OPLSAA/96 @/atom:OPLSAA/99
    @/bond:OPLSAA/96-124 @/atom:OPLSAA/96 @/atom:OPLSAA/124
    @/bond:OPLSAA/80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/bond:OPLSAA/80-99 @/atom:OPLSAA/80 @/atom:OPLSAA/99
    @/bond:OPLSAA/80-124 @/atom:OPLSAA/80 @/atom:OPLSAA/124
    @/bond:OPLSAA/99-80 @/atom:OPLSAA/99 @/atom:OPLSAA/80
    @/bond:OPLSAA/99-99 @/atom:OPLSAA/99 @/atom:OPLSAA/99
    @/bond:OPLSAA/99-124 @/atom:OPLSAA/99 @/atom:OPLSAA/124
    @/bond:OPLSAA/124-80 @/atom:OPLSAA/124 @/atom:OPLSAA/80
    @/bond:OPLSAA/124-99 @/atom:OPLSAA/124 @/atom:OPLSAA/99
    @/bond:OPLSAA/124-124 @/atom:OPLSAA/124 @/atom:OPLSAA/124
    @/bond:OPLSAA/80-122 @/atom:OPLSAA/80 @/atom:OPLSAA/122
    @/bond:OPLSAA/99-122 @/atom:OPLSAA/99 @/atom:OPLSAA/122
    @/bond:OPLSAA/124-122 @/atom:OPLSAA/124 @/atom:OPLSAA/122
    @/bond:OPLSAA/80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/bond:OPLSAA/80-127 @/atom:OPLSAA/80 @/atom:OPLSAA/127
    @/bond:OPLSAA/99-85 @/atom:OPLSAA/99 @/atom:OPLSAA/85
    @/bond:OPLSAA/99-127 @/atom:OPLSAA/99 @/atom:OPLSAA/127
    @/bond:OPLSAA/124-85 @/atom:OPLSAA/124 @/atom:OPLSAA/85
    @/bond:OPLSAA/124-127 @/atom:OPLSAA/124 @/atom:OPLSAA/127
