    @/angle:OPLSAA/97-96-80 @/atom:OPLSAA/97 @/atom:OPLSAA/96 @/atom:OPLSAA/80
    @/angle:OPLSAA/97-96-99 @/atom:OPLSAA/97 @/atom:OPLSAA/96 @/atom:OPLSAA/99
    @/angle:OPLSAA/97-96-124 @/atom:OPLSAA/97 @/atom:OPLSAA/96 @/atom:OPLSAA/124
    @/angle:OPLSAA/96-80-80 @/atom:OPLSAA/96 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/96-80-99 @/atom:OPLSAA/96 @/atom:OPLSAA/80 @/atom:OPLSAA/99
    @/angle:OPLSAA/96-80-124 @/atom:OPLSAA/96 @/atom:OPLSAA/80 @/atom:OPLSAA/124
    @/angle:OPLSAA/96-99-80 @/atom:OPLSAA/96 @/atom:OPLSAA/99 @/atom:OPLSAA/80
    @/angle:OPLSAA/96-99-99 @/atom:OPLSAA/96 @/atom:OPLSAA/99 @/atom:OPLSAA/99
    @/angle:OPLSAA/96-99-124 @/atom:OPLSAA/96 @/atom:OPLSAA/99 @/atom:OPLSAA/124
    @/angle:OPLSAA/96-124-80 @/atom:OPLSAA/96 @/atom:OPLSAA/124 @/atom:OPLSAA/80
    @/angle:OPLSAA/96-124-99 @/atom:OPLSAA/96 @/atom:OPLSAA/124 @/atom:OPLSAA/99
    @/angle:OPLSAA/96-124-124 @/atom:OPLSAA/96 @/atom:OPLSAA/124 @/atom:OPLSAA/124
    @/angle:OPLSAA/80-80-122 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/122
    @/angle:OPLSAA/80-99-122 @/atom:OPLSAA/80 @/atom:OPLSAA/99 @/atom:OPLSAA/122
    @/angle:OPLSAA/80-124-122 @/atom:OPLSAA/80 @/atom:OPLSAA/124 @/atom:OPLSAA/122
    @/angle:OPLSAA/99-80-122 @/atom:OPLSAA/99 @/atom:OPLSAA/80 @/atom:OPLSAA/122
    @/angle:OPLSAA/99-99-122 @/atom:OPLSAA/99 @/atom:OPLSAA/99 @/atom:OPLSAA/122
    @/angle:OPLSAA/99-124-122 @/atom:OPLSAA/99 @/atom:OPLSAA/124 @/atom:OPLSAA/122
    @/angle:OPLSAA/124-80-122 @/atom:OPLSAA/124 @/atom:OPLSAA/80 @/atom:OPLSAA/122
    @/angle:OPLSAA/124-99-122 @/atom:OPLSAA/124 @/atom:OPLSAA/99 @/atom:OPLSAA/122
    @/angle:OPLSAA/124-124-122 @/atom:OPLSAA/124 @/atom:OPLSAA/124 @/atom:OPLSAA/122
    @/angle:OPLSAA/85-80-85 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-80-127 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/127
    @/angle:OPLSAA/85-99-85 @/atom:OPLSAA/85 @/atom:OPLSAA/99 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-99-127 @/atom:OPLSAA/85 @/atom:OPLSAA/99 @/atom:OPLSAA/127
    @/angle:OPLSAA/85-124-85 @/atom:OPLSAA/85 @/atom:OPLSAA/124 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-124-127 @/atom:OPLSAA/85 @/atom:OPLSAA/124 @/atom:OPLSAA/127
    @/angle:OPLSAA/127-80-85 @/atom:OPLSAA/127 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/127-80-127 @/atom:OPLSAA/127 @/atom:OPLSAA/80 @/atom:OPLSAA/127
    @/angle:OPLSAA/127-99-85 @/atom:OPLSAA/127 @/atom:OPLSAA/99 @/atom:OPLSAA/85
    @/angle:OPLSAA/127-99-127 @/atom:OPLSAA/127 @/atom:OPLSAA/99 @/atom:OPLSAA/127
    @/angle:OPLSAA/127-124-85 @/atom:OPLSAA/127 @/atom:OPLSAA/124 @/atom:OPLSAA/85
    @/angle:OPLSAA/127-124-127 @/atom:OPLSAA/127 @/atom:OPLSAA/124 @/atom:OPLSAA/127
    @/angle:OPLSAA/96-80-85 @/atom:OPLSAA/96 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/96-80-127 @/atom:OPLSAA/96 @/atom:OPLSAA/80 @/atom:OPLSAA/127
    @/angle:OPLSAA/96-99-85 @/atom:OPLSAA/96 @/atom:OPLSAA/99 @/atom:OPLSAA/85
    @/angle:OPLSAA/96-99-127 @/atom:OPLSAA/96 @/atom:OPLSAA/99 @/atom:OPLSAA/127
    @/angle:OPLSAA/96-124-85 @/atom:OPLSAA/96 @/atom:OPLSAA/124 @/atom:OPLSAA/85
    @/angle:OPLSAA/96-124-127 @/atom:OPLSAA/96 @/atom:OPLSAA/124 @/atom:OPLSAA/127
    @/angle:OPLSAA/122-80-85 @/atom:OPLSAA/122 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/122-80-127 @/atom:OPLSAA/122 @/atom:OPLSAA/80 @/atom:OPLSAA/127
    @/angle:OPLSAA/122-99-85 @/atom:OPLSAA/122 @/atom:OPLSAA/99 @/atom:OPLSAA/85
    @/angle:OPLSAA/122-99-127 @/atom:OPLSAA/122 @/atom:OPLSAA/99 @/atom:OPLSAA/127
    @/angle:OPLSAA/122-124-85 @/atom:OPLSAA/122 @/atom:OPLSAA/124 @/atom:OPLSAA/85
    @/angle:OPLSAA/122-124-127 @/atom:OPLSAA/122 @/atom:OPLSAA/124 @/atom:OPLSAA/127
    @/angle:OPLSAA/80-80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-80-127 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/127
    @/angle:OPLSAA/80-99-85 @/atom:OPLSAA/80 @/atom:OPLSAA/99 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-99-127 @/atom:OPLSAA/80 @/atom:OPLSAA/99 @/atom:OPLSAA/127
    @/angle:OPLSAA/80-124-85 @/atom:OPLSAA/80 @/atom:OPLSAA/124 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-124-127 @/atom:OPLSAA/80 @/atom:OPLSAA/124 @/atom:OPLSAA/127
    @/angle:OPLSAA/99-80-85 @/atom:OPLSAA/99 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/99-80-127 @/atom:OPLSAA/99 @/atom:OPLSAA/80 @/atom:OPLSAA/127
    @/angle:OPLSAA/99-99-85 @/atom:OPLSAA/99 @/atom:OPLSAA/99 @/atom:OPLSAA/85
    @/angle:OPLSAA/99-99-127 @/atom:OPLSAA/99 @/atom:OPLSAA/99 @/atom:OPLSAA/127
    @/angle:OPLSAA/99-124-85 @/atom:OPLSAA/99 @/atom:OPLSAA/124 @/atom:OPLSAA/85
    @/angle:OPLSAA/99-124-127 @/atom:OPLSAA/99 @/atom:OPLSAA/124 @/atom:OPLSAA/127
    @/angle:OPLSAA/124-80-85 @/atom:OPLSAA/124 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/124-80-127 @/atom:OPLSAA/124 @/atom:OPLSAA/80 @/atom:OPLSAA/127
    @/angle:OPLSAA/124-99-85 @/atom:OPLSAA/124 @/atom:OPLSAA/99 @/atom:OPLSAA/85
    @/angle:OPLSAA/124-99-127 @/atom:OPLSAA/124 @/atom:OPLSAA/99 @/atom:OPLSAA/127
    @/angle:OPLSAA/124-124-85 @/atom:OPLSAA/124 @/atom:OPLSAA/124 @/atom:OPLSAA/85
    @/angle:OPLSAA/124-124-127 @/atom:OPLSAA/124 @/atom:OPLSAA/124 @/atom:OPLSAA/127
