 @/atom:OPLSAA/54_bCT_aCT_dCT_iCT   @/atom:OPLSAA/54_bCT_aCT_dCT_iCT  @/atom:OPLSAA/60_bHC_aHC_dHC_iHC   @/atom:OPLSAA/60_bHC_aHC_dHC_iHC  @/atom:OPLSAA/154_bOH_aOH_dOH_iOH  @/atom:OPLSAA/154_bOH_aOH_dOH_iOH  @/atom:OPLSAA/155_bHO_aHO_dHO_iHO  @/atom:OPLSAA/155_bHO_aHO_dHO_iHO  @/atom:OPLSAA/157_bCT_aCT_dCT_iCT  @/atom:OPLSAA/157_bCT_aCT_dCT_iCT  @/atom:OPLSAA/180_bOS_aOS_dOS_iOS  @/atom:OPLSAA/180_bOS_aOS_dOS_iOS  @/atom:OPLSAA/182_bCT_aCT_dCT_iCT  @/atom:OPLSAA/182_bCT_aCT_dCT_iCT  @/atom:OPLSAA/185_bHC_aHC_dHC_iHC  @/atom:OPLSAA/185_bHC_aHC_dHC_iHC 