@/dihedral:OPLSAA/CT_CT_CT_CT__2 @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i*
@/dihedral:OPLSAA/CT_CT_CT_CT__1 @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i*
@/dihedral:OPLSAA/CT_CT_CT_OH__2 @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i*
@/dihedral:OPLSAA/CT_CT_CT_OH__1 @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i*
@/dihedral:OPLSAA/CT_CT_CT_OS @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOS*_i*
@/dihedral:OPLSAA/CT_CT_OH_HO__2 @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dHO*_i*
@/dihedral:OPLSAA/CT_CT_OH_HO__1 @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dHO*_i*
@/dihedral:OPLSAA/CT_OS_CT_CT @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOS*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i*
@/dihedral:OPLSAA/HC_CT_CT_CT @/atom:OPLSAA/*_b*_a*_dHC*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i*
@/dihedral:OPLSAA/HC_CT_CT_HC @/atom:OPLSAA/*_b*_a*_dHC*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dHC*_i*
@/dihedral:OPLSAA/HC_CT_CT_OH @/atom:OPLSAA/*_b*_a*_dHC*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i*
@/dihedral:OPLSAA/HC_CT_CT_OS @/atom:OPLSAA/*_b*_a*_dHC*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOS*_i*
@/dihedral:OPLSAA/HC_CT_OH_HO__3 @/atom:OPLSAA/*_b*_a*_dHC*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dHO*_i*
@/dihedral:OPLSAA/HC_CT_OH_HO__2 @/atom:OPLSAA/*_b*_a*_dHC*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dHO*_i*
@/dihedral:OPLSAA/HC_CT_OH_HO__1 @/atom:OPLSAA/*_b*_a*_dHC*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dHO*_i*
@/dihedral:OPLSAA/HO_OH_CT_CT @/atom:OPLSAA/*_b*_a*_dHO*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i*
@/dihedral:OPLSAA/OH_CT_CT_OH__3 @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i*
@/dihedral:OPLSAA/OH_CT_CT_OH__2 @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i*
@/dihedral:OPLSAA/OH_CT_CT_OH__1 @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOH*_i*
@/dihedral:OPLSAA/OH_CT_CT_OS @/atom:OPLSAA/*_b*_a*_dOH*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOS*_i*
@/dihedral:OPLSAA/OS_CT_CT_OS @/atom:OPLSAA/*_b*_a*_dOS*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dCT*_i* @/atom:OPLSAA/*_b*_a*_dOS*_i*
