@/atom:OPLSAA/54_bCT_aCT_dCT_iCT 12.011  # 54_bCT_aCT_dCT_iCT
@/atom:OPLSAA/60_bHC_aHC_dHC_iHC 1.008  # 60_bHC_aHC_dHC_iHC
@/atom:OPLSAA/154_bOH_aOH_dOH_iOH 15.999  # 154_bOH_aOH_dOH_iOH
@/atom:OPLSAA/155_bHO_aHO_dHO_iHO 1.008  # 155_bHO_aHO_dHO_iHO
@/atom:OPLSAA/157_bCT_aCT_dCT_iCT 12.011  # 157_bCT_aCT_dCT_iCT
@/atom:OPLSAA/180_bOS_aOS_dOS_iOS 15.999  # 180_bOS_aOS_dOS_iOS
@/atom:OPLSAA/182_bCT_aCT_dCT_iCT 12.011  # 182_bCT_aCT_dCT_iCT
@/atom:OPLSAA/185_bHC_aHC_dHC_iHC 1.008  # 185_bHC_aHC_dHC_iHC
