@/angle:OPLSAA/CT_CT_CT @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i*
@/angle:OPLSAA/CT_CT_HC @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aHC*_d*_i*
@/angle:OPLSAA/CT_CT_OH @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aOH*_d*_i*
@/angle:OPLSAA/CT_CT_OS @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aOS*_d*_i*
@/angle:OPLSAA/CT_HC_HC @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aHC*_d*_i* @/atom:OPLSAA/*_b*_aHC*_d*_i*
@/angle:OPLSAA/CT_OH_HO @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aOH*_d*_i* @/atom:OPLSAA/*_b*_aHO*_d*_i*
@/angle:OPLSAA/CT_OS_CT @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aOS*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i*
@/angle:OPLSAA/HC_CT_HC @/atom:OPLSAA/*_b*_aHC*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aHC*_d*_i*
@/angle:OPLSAA/HC_CT_OH @/atom:OPLSAA/*_b*_aHC*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aOH*_d*_i*
@/angle:OPLSAA/HC_CT_OS @/atom:OPLSAA/*_b*_aHC*_d*_i* @/atom:OPLSAA/*_b*_aCT*_d*_i* @/atom:OPLSAA/*_b*_aOS*_d*_i*
