    @/angle:OPLSAA/407-406-80 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/407-406-81 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/407-406-431 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/407-406-432 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/432
    @/angle:OPLSAA/80-406-408 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-406-408 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-406-408 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/432-406-408 @/atom:OPLSAA/432 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/407-406-408 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-80-408 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-81-408 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-431-408 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-432-408 @/atom:OPLSAA/80 @/atom:OPLSAA/432 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-80-408 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-81-408 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-431-408 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-432-408 @/atom:OPLSAA/81 @/atom:OPLSAA/432 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-80-408 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-81-408 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-431-408 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-432-408 @/atom:OPLSAA/431 @/atom:OPLSAA/432 @/atom:OPLSAA/408
    @/angle:OPLSAA/432-80-408 @/atom:OPLSAA/432 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/432-81-408 @/atom:OPLSAA/432 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/432-431-408 @/atom:OPLSAA/432 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/432-432-408 @/atom:OPLSAA/432 @/atom:OPLSAA/432 @/atom:OPLSAA/408
    @/angle:OPLSAA/85-80-85 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-80-410 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-81-85 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-81-410 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-431-85 @/atom:OPLSAA/85 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-431-410 @/atom:OPLSAA/85 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-432-85 @/atom:OPLSAA/85 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-432-410 @/atom:OPLSAA/85 @/atom:OPLSAA/432 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-80-85 @/atom:OPLSAA/410 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-80-410 @/atom:OPLSAA/410 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-81-85 @/atom:OPLSAA/410 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-81-410 @/atom:OPLSAA/410 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-431-85 @/atom:OPLSAA/410 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-431-410 @/atom:OPLSAA/410 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-432-85 @/atom:OPLSAA/410 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-432-410 @/atom:OPLSAA/410 @/atom:OPLSAA/432 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-80-85 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-80-410 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-81-85 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-81-410 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-431-85 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-431-410 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-432-85 @/atom:OPLSAA/406 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-432-410 @/atom:OPLSAA/406 @/atom:OPLSAA/432 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-80-85 @/atom:OPLSAA/408 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-80-410 @/atom:OPLSAA/408 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-81-85 @/atom:OPLSAA/408 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-81-410 @/atom:OPLSAA/408 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-431-85 @/atom:OPLSAA/408 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-431-410 @/atom:OPLSAA/408 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-432-85 @/atom:OPLSAA/408 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-432-410 @/atom:OPLSAA/408 @/atom:OPLSAA/432 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-80-410 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-81-85 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-81-410 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-431-85 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-431-410 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-432-85 @/atom:OPLSAA/80 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-432-410 @/atom:OPLSAA/80 @/atom:OPLSAA/432 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-80-85 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-80-410 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-81-410 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-431-85 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-431-410 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-432-85 @/atom:OPLSAA/81 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-432-410 @/atom:OPLSAA/81 @/atom:OPLSAA/432 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-80-85 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-80-410 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-81-85 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-81-410 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-431-85 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-431-410 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-432-85 @/atom:OPLSAA/431 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-432-410 @/atom:OPLSAA/431 @/atom:OPLSAA/432 @/atom:OPLSAA/410
    @/angle:OPLSAA/432-80-85 @/atom:OPLSAA/432 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/432-80-410 @/atom:OPLSAA/432 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/432-81-85 @/atom:OPLSAA/432 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/432-81-410 @/atom:OPLSAA/432 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/432-431-85 @/atom:OPLSAA/432 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/432-431-410 @/atom:OPLSAA/432 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/432-432-85 @/atom:OPLSAA/432 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/angle:OPLSAA/432-432-410 @/atom:OPLSAA/432 @/atom:OPLSAA/432 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-408-80 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-408-81 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-408-431 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-408-432 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/432
