    @/bond:OPLSAA/406-407 @/atom:OPLSAA/406 @/atom:OPLSAA/407
    @/bond:OPLSAA/406-80 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/bond:OPLSAA/406-81 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/bond:OPLSAA/406-431 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/bond:OPLSAA/406-432 @/atom:OPLSAA/406 @/atom:OPLSAA/432
    @/bond:OPLSAA/406-408 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/bond:OPLSAA/80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/bond:OPLSAA/80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/bond:OPLSAA/80-431 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/bond:OPLSAA/80-432 @/atom:OPLSAA/80 @/atom:OPLSAA/432
    @/bond:OPLSAA/81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/bond:OPLSAA/81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/bond:OPLSAA/81-431 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/bond:OPLSAA/81-432 @/atom:OPLSAA/81 @/atom:OPLSAA/432
    @/bond:OPLSAA/431-80 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/bond:OPLSAA/431-81 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/bond:OPLSAA/431-431 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/bond:OPLSAA/431-432 @/atom:OPLSAA/431 @/atom:OPLSAA/432
    @/bond:OPLSAA/432-80 @/atom:OPLSAA/432 @/atom:OPLSAA/80
    @/bond:OPLSAA/432-81 @/atom:OPLSAA/432 @/atom:OPLSAA/81
    @/bond:OPLSAA/432-431 @/atom:OPLSAA/432 @/atom:OPLSAA/431
    @/bond:OPLSAA/432-432 @/atom:OPLSAA/432 @/atom:OPLSAA/432
    @/bond:OPLSAA/80-408 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/bond:OPLSAA/81-408 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/bond:OPLSAA/431-408 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/bond:OPLSAA/432-408 @/atom:OPLSAA/432 @/atom:OPLSAA/408
    @/bond:OPLSAA/80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/bond:OPLSAA/80-410 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/bond:OPLSAA/81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/bond:OPLSAA/81-410 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/bond:OPLSAA/431-85 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/bond:OPLSAA/431-410 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/bond:OPLSAA/432-85 @/atom:OPLSAA/432 @/atom:OPLSAA/85
    @/bond:OPLSAA/432-410 @/atom:OPLSAA/432 @/atom:OPLSAA/410
