    @/angle:OPLSAA/406-406-407 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/407
    @/angle:OPLSAA/407-406-407 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/407
    @/angle:OPLSAA/80-406-80 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-406-81 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-406-84 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/84
    @/angle:OPLSAA/80-406-409 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/409
    @/angle:OPLSAA/81-406-80 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-406-81 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-406-84 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/84
    @/angle:OPLSAA/81-406-409 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/409
    @/angle:OPLSAA/84-406-80 @/atom:OPLSAA/84 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/84-406-81 @/atom:OPLSAA/84 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/84-406-84 @/atom:OPLSAA/84 @/atom:OPLSAA/406 @/atom:OPLSAA/84
    @/angle:OPLSAA/84-406-409 @/atom:OPLSAA/84 @/atom:OPLSAA/406 @/atom:OPLSAA/409
    @/angle:OPLSAA/409-406-80 @/atom:OPLSAA/409 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/409-406-81 @/atom:OPLSAA/409 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/409-406-84 @/atom:OPLSAA/409 @/atom:OPLSAA/406 @/atom:OPLSAA/84
    @/angle:OPLSAA/409-406-409 @/atom:OPLSAA/409 @/atom:OPLSAA/406 @/atom:OPLSAA/409
    @/angle:OPLSAA/406-406-80 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-406-81 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-406-84 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/84
    @/angle:OPLSAA/406-406-409 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/409
    @/angle:OPLSAA/407-406-80 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/407-406-81 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/407-406-84 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/84
    @/angle:OPLSAA/407-406-409 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/409
    @/angle:OPLSAA/80-406-408 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-406-408 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/84-406-408 @/atom:OPLSAA/84 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/409-406-408 @/atom:OPLSAA/409 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/407-406-408 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-406-85 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-406-85 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/84-406-85 @/atom:OPLSAA/84 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/409-406-85 @/atom:OPLSAA/409 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-406-85 @/atom:OPLSAA/85 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/407-406-85 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-406-85 @/atom:OPLSAA/408 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-80-406 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/406
    @/angle:OPLSAA/406-81-406 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/406
    @/angle:OPLSAA/406-84-406 @/atom:OPLSAA/406 @/atom:OPLSAA/84 @/atom:OPLSAA/406
    @/angle:OPLSAA/406-409-406 @/atom:OPLSAA/406 @/atom:OPLSAA/409 @/atom:OPLSAA/406
    @/angle:OPLSAA/80-80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-80-84 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/84
    @/angle:OPLSAA/80-80-409 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/409
    @/angle:OPLSAA/80-81-80 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-81-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-81-84 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/84
    @/angle:OPLSAA/80-81-409 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/409
    @/angle:OPLSAA/80-84-80 @/atom:OPLSAA/80 @/atom:OPLSAA/84 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-84-81 @/atom:OPLSAA/80 @/atom:OPLSAA/84 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-84-84 @/atom:OPLSAA/80 @/atom:OPLSAA/84 @/atom:OPLSAA/84
    @/angle:OPLSAA/80-84-409 @/atom:OPLSAA/80 @/atom:OPLSAA/84 @/atom:OPLSAA/409
    @/angle:OPLSAA/80-409-80 @/atom:OPLSAA/80 @/atom:OPLSAA/409 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-409-81 @/atom:OPLSAA/80 @/atom:OPLSAA/409 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-409-84 @/atom:OPLSAA/80 @/atom:OPLSAA/409 @/atom:OPLSAA/84
    @/angle:OPLSAA/80-409-409 @/atom:OPLSAA/80 @/atom:OPLSAA/409 @/atom:OPLSAA/409
    @/angle:OPLSAA/81-80-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-80-81 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-80-84 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/84
    @/angle:OPLSAA/81-80-409 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/409
    @/angle:OPLSAA/81-81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-81-84 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/84
    @/angle:OPLSAA/81-81-409 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/409
    @/angle:OPLSAA/81-84-80 @/atom:OPLSAA/81 @/atom:OPLSAA/84 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-84-81 @/atom:OPLSAA/81 @/atom:OPLSAA/84 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-84-84 @/atom:OPLSAA/81 @/atom:OPLSAA/84 @/atom:OPLSAA/84
    @/angle:OPLSAA/81-84-409 @/atom:OPLSAA/81 @/atom:OPLSAA/84 @/atom:OPLSAA/409
    @/angle:OPLSAA/81-409-80 @/atom:OPLSAA/81 @/atom:OPLSAA/409 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-409-81 @/atom:OPLSAA/81 @/atom:OPLSAA/409 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-409-84 @/atom:OPLSAA/81 @/atom:OPLSAA/409 @/atom:OPLSAA/84
    @/angle:OPLSAA/81-409-409 @/atom:OPLSAA/81 @/atom:OPLSAA/409 @/atom:OPLSAA/409
    @/angle:OPLSAA/84-80-80 @/atom:OPLSAA/84 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/84-80-81 @/atom:OPLSAA/84 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/84-80-84 @/atom:OPLSAA/84 @/atom:OPLSAA/80 @/atom:OPLSAA/84
    @/angle:OPLSAA/84-80-409 @/atom:OPLSAA/84 @/atom:OPLSAA/80 @/atom:OPLSAA/409
    @/angle:OPLSAA/84-81-80 @/atom:OPLSAA/84 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/84-81-81 @/atom:OPLSAA/84 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/84-81-84 @/atom:OPLSAA/84 @/atom:OPLSAA/81 @/atom:OPLSAA/84
    @/angle:OPLSAA/84-81-409 @/atom:OPLSAA/84 @/atom:OPLSAA/81 @/atom:OPLSAA/409
    @/angle:OPLSAA/84-84-80 @/atom:OPLSAA/84 @/atom:OPLSAA/84 @/atom:OPLSAA/80
    @/angle:OPLSAA/84-84-81 @/atom:OPLSAA/84 @/atom:OPLSAA/84 @/atom:OPLSAA/81
    @/angle:OPLSAA/84-84-84 @/atom:OPLSAA/84 @/atom:OPLSAA/84 @/atom:OPLSAA/84
    @/angle:OPLSAA/84-84-409 @/atom:OPLSAA/84 @/atom:OPLSAA/84 @/atom:OPLSAA/409
    @/angle:OPLSAA/84-409-80 @/atom:OPLSAA/84 @/atom:OPLSAA/409 @/atom:OPLSAA/80
    @/angle:OPLSAA/84-409-81 @/atom:OPLSAA/84 @/atom:OPLSAA/409 @/atom:OPLSAA/81
    @/angle:OPLSAA/84-409-84 @/atom:OPLSAA/84 @/atom:OPLSAA/409 @/atom:OPLSAA/84
    @/angle:OPLSAA/84-409-409 @/atom:OPLSAA/84 @/atom:OPLSAA/409 @/atom:OPLSAA/409
    @/angle:OPLSAA/409-80-80 @/atom:OPLSAA/409 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/409-80-81 @/atom:OPLSAA/409 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/409-80-84 @/atom:OPLSAA/409 @/atom:OPLSAA/80 @/atom:OPLSAA/84
    @/angle:OPLSAA/409-80-409 @/atom:OPLSAA/409 @/atom:OPLSAA/80 @/atom:OPLSAA/409
    @/angle:OPLSAA/409-81-80 @/atom:OPLSAA/409 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/409-81-81 @/atom:OPLSAA/409 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/409-81-84 @/atom:OPLSAA/409 @/atom:OPLSAA/81 @/atom:OPLSAA/84
    @/angle:OPLSAA/409-81-409 @/atom:OPLSAA/409 @/atom:OPLSAA/81 @/atom:OPLSAA/409
    @/angle:OPLSAA/409-84-80 @/atom:OPLSAA/409 @/atom:OPLSAA/84 @/atom:OPLSAA/80
    @/angle:OPLSAA/409-84-81 @/atom:OPLSAA/409 @/atom:OPLSAA/84 @/atom:OPLSAA/81
    @/angle:OPLSAA/409-84-84 @/atom:OPLSAA/409 @/atom:OPLSAA/84 @/atom:OPLSAA/84
    @/angle:OPLSAA/409-84-409 @/atom:OPLSAA/409 @/atom:OPLSAA/84 @/atom:OPLSAA/409
    @/angle:OPLSAA/409-409-80 @/atom:OPLSAA/409 @/atom:OPLSAA/409 @/atom:OPLSAA/80
    @/angle:OPLSAA/409-409-81 @/atom:OPLSAA/409 @/atom:OPLSAA/409 @/atom:OPLSAA/81
    @/angle:OPLSAA/409-409-84 @/atom:OPLSAA/409 @/atom:OPLSAA/409 @/atom:OPLSAA/84
    @/angle:OPLSAA/409-409-409 @/atom:OPLSAA/409 @/atom:OPLSAA/409 @/atom:OPLSAA/409
    @/angle:OPLSAA/406-80-80 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-80-81 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-80-84 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/84
    @/angle:OPLSAA/406-80-409 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/409
    @/angle:OPLSAA/406-81-80 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-81-81 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-81-84 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/84
    @/angle:OPLSAA/406-81-409 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/409
    @/angle:OPLSAA/406-84-80 @/atom:OPLSAA/406 @/atom:OPLSAA/84 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-84-81 @/atom:OPLSAA/406 @/atom:OPLSAA/84 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-84-84 @/atom:OPLSAA/406 @/atom:OPLSAA/84 @/atom:OPLSAA/84
    @/angle:OPLSAA/406-84-409 @/atom:OPLSAA/406 @/atom:OPLSAA/84 @/atom:OPLSAA/409
    @/angle:OPLSAA/406-409-80 @/atom:OPLSAA/406 @/atom:OPLSAA/409 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-409-81 @/atom:OPLSAA/406 @/atom:OPLSAA/409 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-409-84 @/atom:OPLSAA/406 @/atom:OPLSAA/409 @/atom:OPLSAA/84
    @/angle:OPLSAA/406-409-409 @/atom:OPLSAA/406 @/atom:OPLSAA/409 @/atom:OPLSAA/409
    @/angle:OPLSAA/406-80-408 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/406-81-408 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/406-84-408 @/atom:OPLSAA/406 @/atom:OPLSAA/84 @/atom:OPLSAA/408
    @/angle:OPLSAA/406-409-408 @/atom:OPLSAA/406 @/atom:OPLSAA/409 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-80-408 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-81-408 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-84-408 @/atom:OPLSAA/80 @/atom:OPLSAA/84 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-409-408 @/atom:OPLSAA/80 @/atom:OPLSAA/409 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-80-408 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-81-408 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-84-408 @/atom:OPLSAA/81 @/atom:OPLSAA/84 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-409-408 @/atom:OPLSAA/81 @/atom:OPLSAA/409 @/atom:OPLSAA/408
    @/angle:OPLSAA/84-80-408 @/atom:OPLSAA/84 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/84-81-408 @/atom:OPLSAA/84 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/84-84-408 @/atom:OPLSAA/84 @/atom:OPLSAA/84 @/atom:OPLSAA/408
    @/angle:OPLSAA/84-409-408 @/atom:OPLSAA/84 @/atom:OPLSAA/409 @/atom:OPLSAA/408
    @/angle:OPLSAA/409-80-408 @/atom:OPLSAA/409 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/409-81-408 @/atom:OPLSAA/409 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/409-84-408 @/atom:OPLSAA/409 @/atom:OPLSAA/84 @/atom:OPLSAA/408
    @/angle:OPLSAA/409-409-408 @/atom:OPLSAA/409 @/atom:OPLSAA/409 @/atom:OPLSAA/408
    @/angle:OPLSAA/85-80-85 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-81-85 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-84-85 @/atom:OPLSAA/85 @/atom:OPLSAA/84 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-409-85 @/atom:OPLSAA/85 @/atom:OPLSAA/409 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-80-85 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-81-85 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-84-85 @/atom:OPLSAA/406 @/atom:OPLSAA/84 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-409-85 @/atom:OPLSAA/406 @/atom:OPLSAA/409 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-80-85 @/atom:OPLSAA/408 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-81-85 @/atom:OPLSAA/408 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-84-85 @/atom:OPLSAA/408 @/atom:OPLSAA/84 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-409-85 @/atom:OPLSAA/408 @/atom:OPLSAA/409 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-81-85 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-84-85 @/atom:OPLSAA/80 @/atom:OPLSAA/84 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-409-85 @/atom:OPLSAA/80 @/atom:OPLSAA/409 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-80-85 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-84-85 @/atom:OPLSAA/81 @/atom:OPLSAA/84 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-409-85 @/atom:OPLSAA/81 @/atom:OPLSAA/409 @/atom:OPLSAA/85
    @/angle:OPLSAA/84-80-85 @/atom:OPLSAA/84 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/84-81-85 @/atom:OPLSAA/84 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/84-84-85 @/atom:OPLSAA/84 @/atom:OPLSAA/84 @/atom:OPLSAA/85
    @/angle:OPLSAA/84-409-85 @/atom:OPLSAA/84 @/atom:OPLSAA/409 @/atom:OPLSAA/85
    @/angle:OPLSAA/409-80-85 @/atom:OPLSAA/409 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/409-81-85 @/atom:OPLSAA/409 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/409-84-85 @/atom:OPLSAA/409 @/atom:OPLSAA/84 @/atom:OPLSAA/85
    @/angle:OPLSAA/409-409-85 @/atom:OPLSAA/409 @/atom:OPLSAA/409 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-408-80 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-408-81 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-408-84 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/84
    @/angle:OPLSAA/80-408-409 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/409
    @/angle:OPLSAA/81-408-80 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-408-81 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-408-84 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/84
    @/angle:OPLSAA/81-408-409 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/409
    @/angle:OPLSAA/84-408-80 @/atom:OPLSAA/84 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/84-408-81 @/atom:OPLSAA/84 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/84-408-84 @/atom:OPLSAA/84 @/atom:OPLSAA/408 @/atom:OPLSAA/84
    @/angle:OPLSAA/84-408-409 @/atom:OPLSAA/84 @/atom:OPLSAA/408 @/atom:OPLSAA/409
    @/angle:OPLSAA/409-408-80 @/atom:OPLSAA/409 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/409-408-81 @/atom:OPLSAA/409 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/409-408-84 @/atom:OPLSAA/409 @/atom:OPLSAA/408 @/atom:OPLSAA/84
    @/angle:OPLSAA/409-408-409 @/atom:OPLSAA/409 @/atom:OPLSAA/408 @/atom:OPLSAA/409
    @/angle:OPLSAA/406-408-80 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-408-81 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-408-84 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/84
    @/angle:OPLSAA/406-408-409 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/409
