    @/bond:OPLSAA/406-406 @/atom:OPLSAA/406 @/atom:OPLSAA/406
    @/bond:OPLSAA/406-407 @/atom:OPLSAA/406 @/atom:OPLSAA/407
    @/bond:OPLSAA/406-80 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/bond:OPLSAA/406-81 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/bond:OPLSAA/406-84 @/atom:OPLSAA/406 @/atom:OPLSAA/84
    @/bond:OPLSAA/406-409 @/atom:OPLSAA/406 @/atom:OPLSAA/409
    @/bond:OPLSAA/406-408 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/bond:OPLSAA/406-85 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/bond:OPLSAA/80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/bond:OPLSAA/80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/bond:OPLSAA/80-84 @/atom:OPLSAA/80 @/atom:OPLSAA/84
    @/bond:OPLSAA/80-409 @/atom:OPLSAA/80 @/atom:OPLSAA/409
    @/bond:OPLSAA/81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/bond:OPLSAA/81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/bond:OPLSAA/81-84 @/atom:OPLSAA/81 @/atom:OPLSAA/84
    @/bond:OPLSAA/81-409 @/atom:OPLSAA/81 @/atom:OPLSAA/409
    @/bond:OPLSAA/84-80 @/atom:OPLSAA/84 @/atom:OPLSAA/80
    @/bond:OPLSAA/84-81 @/atom:OPLSAA/84 @/atom:OPLSAA/81
    @/bond:OPLSAA/84-84 @/atom:OPLSAA/84 @/atom:OPLSAA/84
    @/bond:OPLSAA/84-409 @/atom:OPLSAA/84 @/atom:OPLSAA/409
    @/bond:OPLSAA/409-80 @/atom:OPLSAA/409 @/atom:OPLSAA/80
    @/bond:OPLSAA/409-81 @/atom:OPLSAA/409 @/atom:OPLSAA/81
    @/bond:OPLSAA/409-84 @/atom:OPLSAA/409 @/atom:OPLSAA/84
    @/bond:OPLSAA/409-409 @/atom:OPLSAA/409 @/atom:OPLSAA/409
    @/bond:OPLSAA/80-408 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/bond:OPLSAA/81-408 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/bond:OPLSAA/84-408 @/atom:OPLSAA/84 @/atom:OPLSAA/408
    @/bond:OPLSAA/409-408 @/atom:OPLSAA/409 @/atom:OPLSAA/408
    @/bond:OPLSAA/80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/bond:OPLSAA/81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/bond:OPLSAA/84-85 @/atom:OPLSAA/84 @/atom:OPLSAA/85
    @/bond:OPLSAA/409-85 @/atom:OPLSAA/409 @/atom:OPLSAA/85
    @/bond:OPLSAA/408-408 @/atom:OPLSAA/408 @/atom:OPLSAA/408
