    @/angle:OPLSAA/80-80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-80-82 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-81-80 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-81-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-81-82 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-82-80 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-82-81 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-82-82 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-80-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-80-81 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-80-82 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-81-82 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-82-80 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-82-81 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-82-82 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-80-80 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-80-81 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-80-82 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-81-80 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-81-81 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-81-82 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-82-80 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-82-81 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-82-82 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/85-80-85 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-81-85 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-82-85 @/atom:OPLSAA/85 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-81-85 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-82-85 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-80-85 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-82-85 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-80-85 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-81-85 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-82-85 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/85
