$/bond:polymer_1/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_1/monomer[0]/C1 $/atom:polymer_1/monomer[0]/C2
$/bond:polymer_1/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[0]/C1 $/atom:polymer_1/monomer[0]/H3
$/bond:polymer_1/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[0]/C1 $/atom:polymer_1/monomer[0]/H4
$/bond:polymer_1/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[0]/C2 $/atom:polymer_1/monomer[0]/H5
$/bond:polymer_1/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[0]/C2 $/atom:polymer_1/monomer[0]/H6
$/bond:polymer_1/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[0]/C1 $/atom:polymer_1/monomer[0]/H7
$/bond:polymer_1/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[1]/C1 $/atom:polymer_1/monomer[1]/C2
$/bond:polymer_1/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[1]/C1 $/atom:polymer_1/monomer[1]/H3
$/bond:polymer_1/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[1]/C1 $/atom:polymer_1/monomer[1]/H4
$/bond:polymer_1/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[1]/C2 $/atom:polymer_1/monomer[1]/H5
$/bond:polymer_1/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[1]/C2 $/atom:polymer_1/monomer[1]/H6
$/bond:polymer_1/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[2]/C1 $/atom:polymer_1/monomer[2]/C2
$/bond:polymer_1/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[2]/C1 $/atom:polymer_1/monomer[2]/H3
$/bond:polymer_1/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[2]/C1 $/atom:polymer_1/monomer[2]/H4
$/bond:polymer_1/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[2]/C2 $/atom:polymer_1/monomer[2]/H5
$/bond:polymer_1/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[2]/C2 $/atom:polymer_1/monomer[2]/H6
$/bond:polymer_1/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[3]/C1 $/atom:polymer_1/monomer[3]/C2
$/bond:polymer_1/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[3]/C1 $/atom:polymer_1/monomer[3]/H3
$/bond:polymer_1/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[3]/C1 $/atom:polymer_1/monomer[3]/H4
$/bond:polymer_1/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[3]/C2 $/atom:polymer_1/monomer[3]/H5
$/bond:polymer_1/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[3]/C2 $/atom:polymer_1/monomer[3]/H6
$/bond:polymer_1/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[4]/C1 $/atom:polymer_1/monomer[4]/C2
$/bond:polymer_1/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[4]/C1 $/atom:polymer_1/monomer[4]/H3
$/bond:polymer_1/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[4]/C1 $/atom:polymer_1/monomer[4]/H4
$/bond:polymer_1/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[4]/C2 $/atom:polymer_1/monomer[4]/H5
$/bond:polymer_1/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[4]/C2 $/atom:polymer_1/monomer[4]/H6
$/bond:polymer_1/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[5]/C1 $/atom:polymer_1/monomer[5]/C2
$/bond:polymer_1/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[5]/C1 $/atom:polymer_1/monomer[5]/H3
$/bond:polymer_1/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[5]/C1 $/atom:polymer_1/monomer[5]/H4
$/bond:polymer_1/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[5]/C2 $/atom:polymer_1/monomer[5]/H5
$/bond:polymer_1/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[5]/C2 $/atom:polymer_1/monomer[5]/H6
$/bond:polymer_1/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[6]/C1 $/atom:polymer_1/monomer[6]/C2
$/bond:polymer_1/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[6]/C1 $/atom:polymer_1/monomer[6]/H3
$/bond:polymer_1/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[6]/C1 $/atom:polymer_1/monomer[6]/H4
$/bond:polymer_1/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[6]/C2 $/atom:polymer_1/monomer[6]/H5
$/bond:polymer_1/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[6]/C2 $/atom:polymer_1/monomer[6]/H6
$/bond:polymer_1/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[7]/C1 $/atom:polymer_1/monomer[7]/C2
$/bond:polymer_1/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[7]/C1 $/atom:polymer_1/monomer[7]/H3
$/bond:polymer_1/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[7]/C1 $/atom:polymer_1/monomer[7]/H4
$/bond:polymer_1/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[7]/C2 $/atom:polymer_1/monomer[7]/H5
$/bond:polymer_1/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[7]/C2 $/atom:polymer_1/monomer[7]/H6
$/bond:polymer_1/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[8]/C1 $/atom:polymer_1/monomer[8]/C2
$/bond:polymer_1/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[8]/C1 $/atom:polymer_1/monomer[8]/H3
$/bond:polymer_1/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[8]/C1 $/atom:polymer_1/monomer[8]/H4
$/bond:polymer_1/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[8]/C2 $/atom:polymer_1/monomer[8]/H5
$/bond:polymer_1/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_1/monomer[8]/C2 $/atom:polymer_1/monomer[8]/H6
$/bond:polymer_1/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[9]/C1 $/atom:polymer_1/monomer[9]/C2
$/bond:polymer_1/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C1 $/atom:polymer_1/monomer[9]/H3
$/bond:polymer_1/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C1 $/atom:polymer_1/monomer[9]/H4
$/bond:polymer_1/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C2 $/atom:polymer_1/monomer[9]/H5
$/bond:polymer_1/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C2 $/atom:polymer_1/monomer[9]/H6
$/bond:polymer_1/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C2 $/atom:polymer_1/monomer[9]/H7
$/bond:polymer_1/b1 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[0]/C2 $/atom:polymer_1/monomer[1]/C1
$/bond:polymer_1/b2 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[1]/C2 $/atom:polymer_1/monomer[2]/C1
$/bond:polymer_1/b3 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[2]/C2 $/atom:polymer_1/monomer[3]/C1
$/bond:polymer_1/b4 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[3]/C2 $/atom:polymer_1/monomer[4]/C1
$/bond:polymer_1/b5 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[4]/C2 $/atom:polymer_1/monomer[5]/C1
$/bond:polymer_1/b6 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[5]/C2 $/atom:polymer_1/monomer[6]/C1
$/bond:polymer_1/b7 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[6]/C2 $/atom:polymer_1/monomer[7]/C1
$/bond:polymer_1/b8 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[7]/C2 $/atom:polymer_1/monomer[8]/C1
$/bond:polymer_1/b9 @/bond:OPLSAA/82-81 $/atom:polymer_1/monomer[8]/C2 $/atom:polymer_1/monomer[9]/C1
$/bond:polymer_2/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_2/monomer[0]/C1 $/atom:polymer_2/monomer[0]/C2
$/bond:polymer_2/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[0]/C1 $/atom:polymer_2/monomer[0]/H3
$/bond:polymer_2/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[0]/C1 $/atom:polymer_2/monomer[0]/H4
$/bond:polymer_2/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[0]/C2 $/atom:polymer_2/monomer[0]/H5
$/bond:polymer_2/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[0]/C2 $/atom:polymer_2/monomer[0]/H6
$/bond:polymer_2/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[0]/C1 $/atom:polymer_2/monomer[0]/H7
$/bond:polymer_2/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[1]/C1 $/atom:polymer_2/monomer[1]/C2
$/bond:polymer_2/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[1]/C1 $/atom:polymer_2/monomer[1]/H3
$/bond:polymer_2/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[1]/C1 $/atom:polymer_2/monomer[1]/H4
$/bond:polymer_2/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[1]/C2 $/atom:polymer_2/monomer[1]/H5
$/bond:polymer_2/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[1]/C2 $/atom:polymer_2/monomer[1]/H6
$/bond:polymer_2/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[2]/C1 $/atom:polymer_2/monomer[2]/C2
$/bond:polymer_2/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[2]/C1 $/atom:polymer_2/monomer[2]/H3
$/bond:polymer_2/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[2]/C1 $/atom:polymer_2/monomer[2]/H4
$/bond:polymer_2/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[2]/C2 $/atom:polymer_2/monomer[2]/H5
$/bond:polymer_2/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[2]/C2 $/atom:polymer_2/monomer[2]/H6
$/bond:polymer_2/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[3]/C1 $/atom:polymer_2/monomer[3]/C2
$/bond:polymer_2/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[3]/C1 $/atom:polymer_2/monomer[3]/H3
$/bond:polymer_2/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[3]/C1 $/atom:polymer_2/monomer[3]/H4
$/bond:polymer_2/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[3]/C2 $/atom:polymer_2/monomer[3]/H5
$/bond:polymer_2/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[3]/C2 $/atom:polymer_2/monomer[3]/H6
$/bond:polymer_2/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[4]/C1 $/atom:polymer_2/monomer[4]/C2
$/bond:polymer_2/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[4]/C1 $/atom:polymer_2/monomer[4]/H3
$/bond:polymer_2/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[4]/C1 $/atom:polymer_2/monomer[4]/H4
$/bond:polymer_2/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[4]/C2 $/atom:polymer_2/monomer[4]/H5
$/bond:polymer_2/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[4]/C2 $/atom:polymer_2/monomer[4]/H6
$/bond:polymer_2/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[5]/C1 $/atom:polymer_2/monomer[5]/C2
$/bond:polymer_2/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[5]/C1 $/atom:polymer_2/monomer[5]/H3
$/bond:polymer_2/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[5]/C1 $/atom:polymer_2/monomer[5]/H4
$/bond:polymer_2/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[5]/C2 $/atom:polymer_2/monomer[5]/H5
$/bond:polymer_2/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[5]/C2 $/atom:polymer_2/monomer[5]/H6
$/bond:polymer_2/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[6]/C1 $/atom:polymer_2/monomer[6]/C2
$/bond:polymer_2/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[6]/C1 $/atom:polymer_2/monomer[6]/H3
$/bond:polymer_2/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[6]/C1 $/atom:polymer_2/monomer[6]/H4
$/bond:polymer_2/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[6]/C2 $/atom:polymer_2/monomer[6]/H5
$/bond:polymer_2/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[6]/C2 $/atom:polymer_2/monomer[6]/H6
$/bond:polymer_2/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[7]/C1 $/atom:polymer_2/monomer[7]/C2
$/bond:polymer_2/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[7]/C1 $/atom:polymer_2/monomer[7]/H3
$/bond:polymer_2/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[7]/C1 $/atom:polymer_2/monomer[7]/H4
$/bond:polymer_2/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[7]/C2 $/atom:polymer_2/monomer[7]/H5
$/bond:polymer_2/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[7]/C2 $/atom:polymer_2/monomer[7]/H6
$/bond:polymer_2/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[8]/C1 $/atom:polymer_2/monomer[8]/C2
$/bond:polymer_2/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[8]/C1 $/atom:polymer_2/monomer[8]/H3
$/bond:polymer_2/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[8]/C1 $/atom:polymer_2/monomer[8]/H4
$/bond:polymer_2/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[8]/C2 $/atom:polymer_2/monomer[8]/H5
$/bond:polymer_2/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_2/monomer[8]/C2 $/atom:polymer_2/monomer[8]/H6
$/bond:polymer_2/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[9]/C1 $/atom:polymer_2/monomer[9]/C2
$/bond:polymer_2/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C1 $/atom:polymer_2/monomer[9]/H3
$/bond:polymer_2/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C1 $/atom:polymer_2/monomer[9]/H4
$/bond:polymer_2/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C2 $/atom:polymer_2/monomer[9]/H5
$/bond:polymer_2/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C2 $/atom:polymer_2/monomer[9]/H6
$/bond:polymer_2/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C2 $/atom:polymer_2/monomer[9]/H7
$/bond:polymer_2/b1 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[0]/C2 $/atom:polymer_2/monomer[1]/C1
$/bond:polymer_2/b2 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[1]/C2 $/atom:polymer_2/monomer[2]/C1
$/bond:polymer_2/b3 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[2]/C2 $/atom:polymer_2/monomer[3]/C1
$/bond:polymer_2/b4 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[3]/C2 $/atom:polymer_2/monomer[4]/C1
$/bond:polymer_2/b5 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[4]/C2 $/atom:polymer_2/monomer[5]/C1
$/bond:polymer_2/b6 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[5]/C2 $/atom:polymer_2/monomer[6]/C1
$/bond:polymer_2/b7 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[6]/C2 $/atom:polymer_2/monomer[7]/C1
$/bond:polymer_2/b8 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[7]/C2 $/atom:polymer_2/monomer[8]/C1
$/bond:polymer_2/b9 @/bond:OPLSAA/82-81 $/atom:polymer_2/monomer[8]/C2 $/atom:polymer_2/monomer[9]/C1
$/bond:polymer_3/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_3/monomer[0]/C1 $/atom:polymer_3/monomer[0]/C2
$/bond:polymer_3/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[0]/C1 $/atom:polymer_3/monomer[0]/H3
$/bond:polymer_3/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[0]/C1 $/atom:polymer_3/monomer[0]/H4
$/bond:polymer_3/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[0]/C2 $/atom:polymer_3/monomer[0]/H5
$/bond:polymer_3/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[0]/C2 $/atom:polymer_3/monomer[0]/H6
$/bond:polymer_3/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[0]/C1 $/atom:polymer_3/monomer[0]/H7
$/bond:polymer_3/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[1]/C1 $/atom:polymer_3/monomer[1]/C2
$/bond:polymer_3/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[1]/C1 $/atom:polymer_3/monomer[1]/H3
$/bond:polymer_3/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[1]/C1 $/atom:polymer_3/monomer[1]/H4
$/bond:polymer_3/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[1]/C2 $/atom:polymer_3/monomer[1]/H5
$/bond:polymer_3/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[1]/C2 $/atom:polymer_3/monomer[1]/H6
$/bond:polymer_3/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[2]/C1 $/atom:polymer_3/monomer[2]/C2
$/bond:polymer_3/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[2]/C1 $/atom:polymer_3/monomer[2]/H3
$/bond:polymer_3/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[2]/C1 $/atom:polymer_3/monomer[2]/H4
$/bond:polymer_3/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[2]/C2 $/atom:polymer_3/monomer[2]/H5
$/bond:polymer_3/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[2]/C2 $/atom:polymer_3/monomer[2]/H6
$/bond:polymer_3/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[3]/C1 $/atom:polymer_3/monomer[3]/C2
$/bond:polymer_3/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[3]/C1 $/atom:polymer_3/monomer[3]/H3
$/bond:polymer_3/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[3]/C1 $/atom:polymer_3/monomer[3]/H4
$/bond:polymer_3/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[3]/C2 $/atom:polymer_3/monomer[3]/H5
$/bond:polymer_3/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[3]/C2 $/atom:polymer_3/monomer[3]/H6
$/bond:polymer_3/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[4]/C1 $/atom:polymer_3/monomer[4]/C2
$/bond:polymer_3/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[4]/C1 $/atom:polymer_3/monomer[4]/H3
$/bond:polymer_3/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[4]/C1 $/atom:polymer_3/monomer[4]/H4
$/bond:polymer_3/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[4]/C2 $/atom:polymer_3/monomer[4]/H5
$/bond:polymer_3/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[4]/C2 $/atom:polymer_3/monomer[4]/H6
$/bond:polymer_3/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[5]/C1 $/atom:polymer_3/monomer[5]/C2
$/bond:polymer_3/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[5]/C1 $/atom:polymer_3/monomer[5]/H3
$/bond:polymer_3/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[5]/C1 $/atom:polymer_3/monomer[5]/H4
$/bond:polymer_3/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[5]/C2 $/atom:polymer_3/monomer[5]/H5
$/bond:polymer_3/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[5]/C2 $/atom:polymer_3/monomer[5]/H6
$/bond:polymer_3/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[6]/C1 $/atom:polymer_3/monomer[6]/C2
$/bond:polymer_3/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[6]/C1 $/atom:polymer_3/monomer[6]/H3
$/bond:polymer_3/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[6]/C1 $/atom:polymer_3/monomer[6]/H4
$/bond:polymer_3/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[6]/C2 $/atom:polymer_3/monomer[6]/H5
$/bond:polymer_3/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[6]/C2 $/atom:polymer_3/monomer[6]/H6
$/bond:polymer_3/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[7]/C1 $/atom:polymer_3/monomer[7]/C2
$/bond:polymer_3/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[7]/C1 $/atom:polymer_3/monomer[7]/H3
$/bond:polymer_3/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[7]/C1 $/atom:polymer_3/monomer[7]/H4
$/bond:polymer_3/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[7]/C2 $/atom:polymer_3/monomer[7]/H5
$/bond:polymer_3/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[7]/C2 $/atom:polymer_3/monomer[7]/H6
$/bond:polymer_3/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[8]/C1 $/atom:polymer_3/monomer[8]/C2
$/bond:polymer_3/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[8]/C1 $/atom:polymer_3/monomer[8]/H3
$/bond:polymer_3/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[8]/C1 $/atom:polymer_3/monomer[8]/H4
$/bond:polymer_3/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[8]/C2 $/atom:polymer_3/monomer[8]/H5
$/bond:polymer_3/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_3/monomer[8]/C2 $/atom:polymer_3/monomer[8]/H6
$/bond:polymer_3/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[9]/C1 $/atom:polymer_3/monomer[9]/C2
$/bond:polymer_3/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C1 $/atom:polymer_3/monomer[9]/H3
$/bond:polymer_3/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C1 $/atom:polymer_3/monomer[9]/H4
$/bond:polymer_3/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C2 $/atom:polymer_3/monomer[9]/H5
$/bond:polymer_3/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C2 $/atom:polymer_3/monomer[9]/H6
$/bond:polymer_3/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C2 $/atom:polymer_3/monomer[9]/H7
$/bond:polymer_3/b1 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[0]/C2 $/atom:polymer_3/monomer[1]/C1
$/bond:polymer_3/b2 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[1]/C2 $/atom:polymer_3/monomer[2]/C1
$/bond:polymer_3/b3 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[2]/C2 $/atom:polymer_3/monomer[3]/C1
$/bond:polymer_3/b4 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[3]/C2 $/atom:polymer_3/monomer[4]/C1
$/bond:polymer_3/b5 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[4]/C2 $/atom:polymer_3/monomer[5]/C1
$/bond:polymer_3/b6 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[5]/C2 $/atom:polymer_3/monomer[6]/C1
$/bond:polymer_3/b7 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[6]/C2 $/atom:polymer_3/monomer[7]/C1
$/bond:polymer_3/b8 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[7]/C2 $/atom:polymer_3/monomer[8]/C1
$/bond:polymer_3/b9 @/bond:OPLSAA/82-81 $/atom:polymer_3/monomer[8]/C2 $/atom:polymer_3/monomer[9]/C1
$/bond:polymer_4/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_4/monomer[0]/C1 $/atom:polymer_4/monomer[0]/C2
$/bond:polymer_4/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_4/monomer[0]/C1 $/atom:polymer_4/monomer[0]/H3
$/bond:polymer_4/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_4/monomer[0]/C1 $/atom:polymer_4/monomer[0]/H4
$/bond:polymer_4/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[0]/C2 $/atom:polymer_4/monomer[0]/H5
$/bond:polymer_4/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[0]/C2 $/atom:polymer_4/monomer[0]/H6
$/bond:polymer_4/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_4/monomer[0]/C1 $/atom:polymer_4/monomer[0]/H7
$/bond:polymer_4/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[1]/C1 $/atom:polymer_4/monomer[1]/C2
$/bond:polymer_4/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[1]/C1 $/atom:polymer_4/monomer[1]/H3
$/bond:polymer_4/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[1]/C1 $/atom:polymer_4/monomer[1]/H4
$/bond:polymer_4/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[1]/C2 $/atom:polymer_4/monomer[1]/H5
$/bond:polymer_4/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[1]/C2 $/atom:polymer_4/monomer[1]/H6
$/bond:polymer_4/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[2]/C1 $/atom:polymer_4/monomer[2]/C2
$/bond:polymer_4/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[2]/C1 $/atom:polymer_4/monomer[2]/H3
$/bond:polymer_4/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[2]/C1 $/atom:polymer_4/monomer[2]/H4
$/bond:polymer_4/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[2]/C2 $/atom:polymer_4/monomer[2]/H5
$/bond:polymer_4/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[2]/C2 $/atom:polymer_4/monomer[2]/H6
$/bond:polymer_4/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[3]/C1 $/atom:polymer_4/monomer[3]/C2
$/bond:polymer_4/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[3]/C1 $/atom:polymer_4/monomer[3]/H3
$/bond:polymer_4/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[3]/C1 $/atom:polymer_4/monomer[3]/H4
$/bond:polymer_4/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[3]/C2 $/atom:polymer_4/monomer[3]/H5
$/bond:polymer_4/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[3]/C2 $/atom:polymer_4/monomer[3]/H6
$/bond:polymer_4/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[4]/C1 $/atom:polymer_4/monomer[4]/C2
$/bond:polymer_4/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[4]/C1 $/atom:polymer_4/monomer[4]/H3
$/bond:polymer_4/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[4]/C1 $/atom:polymer_4/monomer[4]/H4
$/bond:polymer_4/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[4]/C2 $/atom:polymer_4/monomer[4]/H5
$/bond:polymer_4/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[4]/C2 $/atom:polymer_4/monomer[4]/H6
$/bond:polymer_4/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[5]/C1 $/atom:polymer_4/monomer[5]/C2
$/bond:polymer_4/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[5]/C1 $/atom:polymer_4/monomer[5]/H3
$/bond:polymer_4/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[5]/C1 $/atom:polymer_4/monomer[5]/H4
$/bond:polymer_4/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[5]/C2 $/atom:polymer_4/monomer[5]/H5
$/bond:polymer_4/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[5]/C2 $/atom:polymer_4/monomer[5]/H6
$/bond:polymer_4/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[6]/C1 $/atom:polymer_4/monomer[6]/C2
$/bond:polymer_4/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[6]/C1 $/atom:polymer_4/monomer[6]/H3
$/bond:polymer_4/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[6]/C1 $/atom:polymer_4/monomer[6]/H4
$/bond:polymer_4/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[6]/C2 $/atom:polymer_4/monomer[6]/H5
$/bond:polymer_4/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[6]/C2 $/atom:polymer_4/monomer[6]/H6
$/bond:polymer_4/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[7]/C1 $/atom:polymer_4/monomer[7]/C2
$/bond:polymer_4/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[7]/C1 $/atom:polymer_4/monomer[7]/H3
$/bond:polymer_4/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[7]/C1 $/atom:polymer_4/monomer[7]/H4
$/bond:polymer_4/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[7]/C2 $/atom:polymer_4/monomer[7]/H5
$/bond:polymer_4/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[7]/C2 $/atom:polymer_4/monomer[7]/H6
$/bond:polymer_4/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[8]/C1 $/atom:polymer_4/monomer[8]/C2
$/bond:polymer_4/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[8]/C1 $/atom:polymer_4/monomer[8]/H3
$/bond:polymer_4/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[8]/C1 $/atom:polymer_4/monomer[8]/H4
$/bond:polymer_4/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[8]/C2 $/atom:polymer_4/monomer[8]/H5
$/bond:polymer_4/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_4/monomer[8]/C2 $/atom:polymer_4/monomer[8]/H6
$/bond:polymer_4/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_4/monomer[9]/C1 $/atom:polymer_4/monomer[9]/C2
$/bond:polymer_4/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[9]/C1 $/atom:polymer_4/monomer[9]/H3
$/bond:polymer_4/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[9]/C1 $/atom:polymer_4/monomer[9]/H4
$/bond:polymer_4/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[9]/C2 $/atom:polymer_4/monomer[9]/H5
$/bond:polymer_4/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[9]/C2 $/atom:polymer_4/monomer[9]/H6
$/bond:polymer_4/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_4/monomer[9]/C2 $/atom:polymer_4/monomer[9]/H7
$/bond:polymer_4/b1 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[0]/C2 $/atom:polymer_4/monomer[1]/C1
$/bond:polymer_4/b2 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[1]/C2 $/atom:polymer_4/monomer[2]/C1
$/bond:polymer_4/b3 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[2]/C2 $/atom:polymer_4/monomer[3]/C1
$/bond:polymer_4/b4 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[3]/C2 $/atom:polymer_4/monomer[4]/C1
$/bond:polymer_4/b5 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[4]/C2 $/atom:polymer_4/monomer[5]/C1
$/bond:polymer_4/b6 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[5]/C2 $/atom:polymer_4/monomer[6]/C1
$/bond:polymer_4/b7 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[6]/C2 $/atom:polymer_4/monomer[7]/C1
$/bond:polymer_4/b8 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[7]/C2 $/atom:polymer_4/monomer[8]/C1
$/bond:polymer_4/b9 @/bond:OPLSAA/82-81 $/atom:polymer_4/monomer[8]/C2 $/atom:polymer_4/monomer[9]/C1
$/bond:polymer_5/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_5/monomer[0]/C1 $/atom:polymer_5/monomer[0]/C2
$/bond:polymer_5/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_5/monomer[0]/C1 $/atom:polymer_5/monomer[0]/H3
$/bond:polymer_5/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_5/monomer[0]/C1 $/atom:polymer_5/monomer[0]/H4
$/bond:polymer_5/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[0]/C2 $/atom:polymer_5/monomer[0]/H5
$/bond:polymer_5/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[0]/C2 $/atom:polymer_5/monomer[0]/H6
$/bond:polymer_5/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_5/monomer[0]/C1 $/atom:polymer_5/monomer[0]/H7
$/bond:polymer_5/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[1]/C1 $/atom:polymer_5/monomer[1]/C2
$/bond:polymer_5/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[1]/C1 $/atom:polymer_5/monomer[1]/H3
$/bond:polymer_5/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[1]/C1 $/atom:polymer_5/monomer[1]/H4
$/bond:polymer_5/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[1]/C2 $/atom:polymer_5/monomer[1]/H5
$/bond:polymer_5/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[1]/C2 $/atom:polymer_5/monomer[1]/H6
$/bond:polymer_5/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[2]/C1 $/atom:polymer_5/monomer[2]/C2
$/bond:polymer_5/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[2]/C1 $/atom:polymer_5/monomer[2]/H3
$/bond:polymer_5/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[2]/C1 $/atom:polymer_5/monomer[2]/H4
$/bond:polymer_5/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[2]/C2 $/atom:polymer_5/monomer[2]/H5
$/bond:polymer_5/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[2]/C2 $/atom:polymer_5/monomer[2]/H6
$/bond:polymer_5/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[3]/C1 $/atom:polymer_5/monomer[3]/C2
$/bond:polymer_5/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[3]/C1 $/atom:polymer_5/monomer[3]/H3
$/bond:polymer_5/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[3]/C1 $/atom:polymer_5/monomer[3]/H4
$/bond:polymer_5/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[3]/C2 $/atom:polymer_5/monomer[3]/H5
$/bond:polymer_5/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[3]/C2 $/atom:polymer_5/monomer[3]/H6
$/bond:polymer_5/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[4]/C1 $/atom:polymer_5/monomer[4]/C2
$/bond:polymer_5/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[4]/C1 $/atom:polymer_5/monomer[4]/H3
$/bond:polymer_5/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[4]/C1 $/atom:polymer_5/monomer[4]/H4
$/bond:polymer_5/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[4]/C2 $/atom:polymer_5/monomer[4]/H5
$/bond:polymer_5/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[4]/C2 $/atom:polymer_5/monomer[4]/H6
$/bond:polymer_5/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[5]/C1 $/atom:polymer_5/monomer[5]/C2
$/bond:polymer_5/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[5]/C1 $/atom:polymer_5/monomer[5]/H3
$/bond:polymer_5/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[5]/C1 $/atom:polymer_5/monomer[5]/H4
$/bond:polymer_5/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[5]/C2 $/atom:polymer_5/monomer[5]/H5
$/bond:polymer_5/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[5]/C2 $/atom:polymer_5/monomer[5]/H6
$/bond:polymer_5/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[6]/C1 $/atom:polymer_5/monomer[6]/C2
$/bond:polymer_5/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[6]/C1 $/atom:polymer_5/monomer[6]/H3
$/bond:polymer_5/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[6]/C1 $/atom:polymer_5/monomer[6]/H4
$/bond:polymer_5/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[6]/C2 $/atom:polymer_5/monomer[6]/H5
$/bond:polymer_5/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[6]/C2 $/atom:polymer_5/monomer[6]/H6
$/bond:polymer_5/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[7]/C1 $/atom:polymer_5/monomer[7]/C2
$/bond:polymer_5/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[7]/C1 $/atom:polymer_5/monomer[7]/H3
$/bond:polymer_5/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[7]/C1 $/atom:polymer_5/monomer[7]/H4
$/bond:polymer_5/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[7]/C2 $/atom:polymer_5/monomer[7]/H5
$/bond:polymer_5/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[7]/C2 $/atom:polymer_5/monomer[7]/H6
$/bond:polymer_5/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[8]/C1 $/atom:polymer_5/monomer[8]/C2
$/bond:polymer_5/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[8]/C1 $/atom:polymer_5/monomer[8]/H3
$/bond:polymer_5/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[8]/C1 $/atom:polymer_5/monomer[8]/H4
$/bond:polymer_5/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[8]/C2 $/atom:polymer_5/monomer[8]/H5
$/bond:polymer_5/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_5/monomer[8]/C2 $/atom:polymer_5/monomer[8]/H6
$/bond:polymer_5/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_5/monomer[9]/C1 $/atom:polymer_5/monomer[9]/C2
$/bond:polymer_5/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[9]/C1 $/atom:polymer_5/monomer[9]/H3
$/bond:polymer_5/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[9]/C1 $/atom:polymer_5/monomer[9]/H4
$/bond:polymer_5/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[9]/C2 $/atom:polymer_5/monomer[9]/H5
$/bond:polymer_5/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[9]/C2 $/atom:polymer_5/monomer[9]/H6
$/bond:polymer_5/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_5/monomer[9]/C2 $/atom:polymer_5/monomer[9]/H7
$/bond:polymer_5/b1 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[0]/C2 $/atom:polymer_5/monomer[1]/C1
$/bond:polymer_5/b2 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[1]/C2 $/atom:polymer_5/monomer[2]/C1
$/bond:polymer_5/b3 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[2]/C2 $/atom:polymer_5/monomer[3]/C1
$/bond:polymer_5/b4 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[3]/C2 $/atom:polymer_5/monomer[4]/C1
$/bond:polymer_5/b5 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[4]/C2 $/atom:polymer_5/monomer[5]/C1
$/bond:polymer_5/b6 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[5]/C2 $/atom:polymer_5/monomer[6]/C1
$/bond:polymer_5/b7 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[6]/C2 $/atom:polymer_5/monomer[7]/C1
$/bond:polymer_5/b8 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[7]/C2 $/atom:polymer_5/monomer[8]/C1
$/bond:polymer_5/b9 @/bond:OPLSAA/82-81 $/atom:polymer_5/monomer[8]/C2 $/atom:polymer_5/monomer[9]/C1
$/bond:polymer_6/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_6/monomer[0]/C1 $/atom:polymer_6/monomer[0]/C2
$/bond:polymer_6/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_6/monomer[0]/C1 $/atom:polymer_6/monomer[0]/H3
$/bond:polymer_6/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_6/monomer[0]/C1 $/atom:polymer_6/monomer[0]/H4
$/bond:polymer_6/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[0]/C2 $/atom:polymer_6/monomer[0]/H5
$/bond:polymer_6/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[0]/C2 $/atom:polymer_6/monomer[0]/H6
$/bond:polymer_6/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_6/monomer[0]/C1 $/atom:polymer_6/monomer[0]/H7
$/bond:polymer_6/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[1]/C1 $/atom:polymer_6/monomer[1]/C2
$/bond:polymer_6/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[1]/C1 $/atom:polymer_6/monomer[1]/H3
$/bond:polymer_6/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[1]/C1 $/atom:polymer_6/monomer[1]/H4
$/bond:polymer_6/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[1]/C2 $/atom:polymer_6/monomer[1]/H5
$/bond:polymer_6/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[1]/C2 $/atom:polymer_6/monomer[1]/H6
$/bond:polymer_6/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[2]/C1 $/atom:polymer_6/monomer[2]/C2
$/bond:polymer_6/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[2]/C1 $/atom:polymer_6/monomer[2]/H3
$/bond:polymer_6/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[2]/C1 $/atom:polymer_6/monomer[2]/H4
$/bond:polymer_6/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[2]/C2 $/atom:polymer_6/monomer[2]/H5
$/bond:polymer_6/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[2]/C2 $/atom:polymer_6/monomer[2]/H6
$/bond:polymer_6/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[3]/C1 $/atom:polymer_6/monomer[3]/C2
$/bond:polymer_6/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[3]/C1 $/atom:polymer_6/monomer[3]/H3
$/bond:polymer_6/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[3]/C1 $/atom:polymer_6/monomer[3]/H4
$/bond:polymer_6/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[3]/C2 $/atom:polymer_6/monomer[3]/H5
$/bond:polymer_6/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[3]/C2 $/atom:polymer_6/monomer[3]/H6
$/bond:polymer_6/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[4]/C1 $/atom:polymer_6/monomer[4]/C2
$/bond:polymer_6/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[4]/C1 $/atom:polymer_6/monomer[4]/H3
$/bond:polymer_6/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[4]/C1 $/atom:polymer_6/monomer[4]/H4
$/bond:polymer_6/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[4]/C2 $/atom:polymer_6/monomer[4]/H5
$/bond:polymer_6/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[4]/C2 $/atom:polymer_6/monomer[4]/H6
$/bond:polymer_6/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[5]/C1 $/atom:polymer_6/monomer[5]/C2
$/bond:polymer_6/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[5]/C1 $/atom:polymer_6/monomer[5]/H3
$/bond:polymer_6/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[5]/C1 $/atom:polymer_6/monomer[5]/H4
$/bond:polymer_6/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[5]/C2 $/atom:polymer_6/monomer[5]/H5
$/bond:polymer_6/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[5]/C2 $/atom:polymer_6/monomer[5]/H6
$/bond:polymer_6/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[6]/C1 $/atom:polymer_6/monomer[6]/C2
$/bond:polymer_6/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[6]/C1 $/atom:polymer_6/monomer[6]/H3
$/bond:polymer_6/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[6]/C1 $/atom:polymer_6/monomer[6]/H4
$/bond:polymer_6/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[6]/C2 $/atom:polymer_6/monomer[6]/H5
$/bond:polymer_6/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[6]/C2 $/atom:polymer_6/monomer[6]/H6
$/bond:polymer_6/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[7]/C1 $/atom:polymer_6/monomer[7]/C2
$/bond:polymer_6/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[7]/C1 $/atom:polymer_6/monomer[7]/H3
$/bond:polymer_6/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[7]/C1 $/atom:polymer_6/monomer[7]/H4
$/bond:polymer_6/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[7]/C2 $/atom:polymer_6/monomer[7]/H5
$/bond:polymer_6/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[7]/C2 $/atom:polymer_6/monomer[7]/H6
$/bond:polymer_6/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[8]/C1 $/atom:polymer_6/monomer[8]/C2
$/bond:polymer_6/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[8]/C1 $/atom:polymer_6/monomer[8]/H3
$/bond:polymer_6/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[8]/C1 $/atom:polymer_6/monomer[8]/H4
$/bond:polymer_6/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[8]/C2 $/atom:polymer_6/monomer[8]/H5
$/bond:polymer_6/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_6/monomer[8]/C2 $/atom:polymer_6/monomer[8]/H6
$/bond:polymer_6/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_6/monomer[9]/C1 $/atom:polymer_6/monomer[9]/C2
$/bond:polymer_6/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[9]/C1 $/atom:polymer_6/monomer[9]/H3
$/bond:polymer_6/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[9]/C1 $/atom:polymer_6/monomer[9]/H4
$/bond:polymer_6/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[9]/C2 $/atom:polymer_6/monomer[9]/H5
$/bond:polymer_6/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[9]/C2 $/atom:polymer_6/monomer[9]/H6
$/bond:polymer_6/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_6/monomer[9]/C2 $/atom:polymer_6/monomer[9]/H7
$/bond:polymer_6/b1 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[0]/C2 $/atom:polymer_6/monomer[1]/C1
$/bond:polymer_6/b2 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[1]/C2 $/atom:polymer_6/monomer[2]/C1
$/bond:polymer_6/b3 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[2]/C2 $/atom:polymer_6/monomer[3]/C1
$/bond:polymer_6/b4 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[3]/C2 $/atom:polymer_6/monomer[4]/C1
$/bond:polymer_6/b5 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[4]/C2 $/atom:polymer_6/monomer[5]/C1
$/bond:polymer_6/b6 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[5]/C2 $/atom:polymer_6/monomer[6]/C1
$/bond:polymer_6/b7 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[6]/C2 $/atom:polymer_6/monomer[7]/C1
$/bond:polymer_6/b8 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[7]/C2 $/atom:polymer_6/monomer[8]/C1
$/bond:polymer_6/b9 @/bond:OPLSAA/82-81 $/atom:polymer_6/monomer[8]/C2 $/atom:polymer_6/monomer[9]/C1
$/bond:polymer_7/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_7/monomer[0]/C1 $/atom:polymer_7/monomer[0]/C2
$/bond:polymer_7/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_7/monomer[0]/C1 $/atom:polymer_7/monomer[0]/H3
$/bond:polymer_7/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_7/monomer[0]/C1 $/atom:polymer_7/monomer[0]/H4
$/bond:polymer_7/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[0]/C2 $/atom:polymer_7/monomer[0]/H5
$/bond:polymer_7/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[0]/C2 $/atom:polymer_7/monomer[0]/H6
$/bond:polymer_7/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_7/monomer[0]/C1 $/atom:polymer_7/monomer[0]/H7
$/bond:polymer_7/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[1]/C1 $/atom:polymer_7/monomer[1]/C2
$/bond:polymer_7/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[1]/C1 $/atom:polymer_7/monomer[1]/H3
$/bond:polymer_7/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[1]/C1 $/atom:polymer_7/monomer[1]/H4
$/bond:polymer_7/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[1]/C2 $/atom:polymer_7/monomer[1]/H5
$/bond:polymer_7/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[1]/C2 $/atom:polymer_7/monomer[1]/H6
$/bond:polymer_7/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[2]/C1 $/atom:polymer_7/monomer[2]/C2
$/bond:polymer_7/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[2]/C1 $/atom:polymer_7/monomer[2]/H3
$/bond:polymer_7/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[2]/C1 $/atom:polymer_7/monomer[2]/H4
$/bond:polymer_7/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[2]/C2 $/atom:polymer_7/monomer[2]/H5
$/bond:polymer_7/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[2]/C2 $/atom:polymer_7/monomer[2]/H6
$/bond:polymer_7/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[3]/C1 $/atom:polymer_7/monomer[3]/C2
$/bond:polymer_7/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[3]/C1 $/atom:polymer_7/monomer[3]/H3
$/bond:polymer_7/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[3]/C1 $/atom:polymer_7/monomer[3]/H4
$/bond:polymer_7/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[3]/C2 $/atom:polymer_7/monomer[3]/H5
$/bond:polymer_7/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[3]/C2 $/atom:polymer_7/monomer[3]/H6
$/bond:polymer_7/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[4]/C1 $/atom:polymer_7/monomer[4]/C2
$/bond:polymer_7/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[4]/C1 $/atom:polymer_7/monomer[4]/H3
$/bond:polymer_7/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[4]/C1 $/atom:polymer_7/monomer[4]/H4
$/bond:polymer_7/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[4]/C2 $/atom:polymer_7/monomer[4]/H5
$/bond:polymer_7/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[4]/C2 $/atom:polymer_7/monomer[4]/H6
$/bond:polymer_7/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[5]/C1 $/atom:polymer_7/monomer[5]/C2
$/bond:polymer_7/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[5]/C1 $/atom:polymer_7/monomer[5]/H3
$/bond:polymer_7/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[5]/C1 $/atom:polymer_7/monomer[5]/H4
$/bond:polymer_7/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[5]/C2 $/atom:polymer_7/monomer[5]/H5
$/bond:polymer_7/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[5]/C2 $/atom:polymer_7/monomer[5]/H6
$/bond:polymer_7/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[6]/C1 $/atom:polymer_7/monomer[6]/C2
$/bond:polymer_7/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[6]/C1 $/atom:polymer_7/monomer[6]/H3
$/bond:polymer_7/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[6]/C1 $/atom:polymer_7/monomer[6]/H4
$/bond:polymer_7/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[6]/C2 $/atom:polymer_7/monomer[6]/H5
$/bond:polymer_7/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[6]/C2 $/atom:polymer_7/monomer[6]/H6
$/bond:polymer_7/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[7]/C1 $/atom:polymer_7/monomer[7]/C2
$/bond:polymer_7/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[7]/C1 $/atom:polymer_7/monomer[7]/H3
$/bond:polymer_7/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[7]/C1 $/atom:polymer_7/monomer[7]/H4
$/bond:polymer_7/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[7]/C2 $/atom:polymer_7/monomer[7]/H5
$/bond:polymer_7/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[7]/C2 $/atom:polymer_7/monomer[7]/H6
$/bond:polymer_7/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[8]/C1 $/atom:polymer_7/monomer[8]/C2
$/bond:polymer_7/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[8]/C1 $/atom:polymer_7/monomer[8]/H3
$/bond:polymer_7/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[8]/C1 $/atom:polymer_7/monomer[8]/H4
$/bond:polymer_7/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[8]/C2 $/atom:polymer_7/monomer[8]/H5
$/bond:polymer_7/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_7/monomer[8]/C2 $/atom:polymer_7/monomer[8]/H6
$/bond:polymer_7/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_7/monomer[9]/C1 $/atom:polymer_7/monomer[9]/C2
$/bond:polymer_7/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[9]/C1 $/atom:polymer_7/monomer[9]/H3
$/bond:polymer_7/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[9]/C1 $/atom:polymer_7/monomer[9]/H4
$/bond:polymer_7/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[9]/C2 $/atom:polymer_7/monomer[9]/H5
$/bond:polymer_7/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[9]/C2 $/atom:polymer_7/monomer[9]/H6
$/bond:polymer_7/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_7/monomer[9]/C2 $/atom:polymer_7/monomer[9]/H7
$/bond:polymer_7/b1 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[0]/C2 $/atom:polymer_7/monomer[1]/C1
$/bond:polymer_7/b2 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[1]/C2 $/atom:polymer_7/monomer[2]/C1
$/bond:polymer_7/b3 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[2]/C2 $/atom:polymer_7/monomer[3]/C1
$/bond:polymer_7/b4 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[3]/C2 $/atom:polymer_7/monomer[4]/C1
$/bond:polymer_7/b5 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[4]/C2 $/atom:polymer_7/monomer[5]/C1
$/bond:polymer_7/b6 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[5]/C2 $/atom:polymer_7/monomer[6]/C1
$/bond:polymer_7/b7 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[6]/C2 $/atom:polymer_7/monomer[7]/C1
$/bond:polymer_7/b8 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[7]/C2 $/atom:polymer_7/monomer[8]/C1
$/bond:polymer_7/b9 @/bond:OPLSAA/82-81 $/atom:polymer_7/monomer[8]/C2 $/atom:polymer_7/monomer[9]/C1
$/bond:polymer_8/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_8/monomer[0]/C1 $/atom:polymer_8/monomer[0]/C2
$/bond:polymer_8/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_8/monomer[0]/C1 $/atom:polymer_8/monomer[0]/H3
$/bond:polymer_8/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_8/monomer[0]/C1 $/atom:polymer_8/monomer[0]/H4
$/bond:polymer_8/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[0]/C2 $/atom:polymer_8/monomer[0]/H5
$/bond:polymer_8/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[0]/C2 $/atom:polymer_8/monomer[0]/H6
$/bond:polymer_8/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_8/monomer[0]/C1 $/atom:polymer_8/monomer[0]/H7
$/bond:polymer_8/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[1]/C1 $/atom:polymer_8/monomer[1]/C2
$/bond:polymer_8/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[1]/C1 $/atom:polymer_8/monomer[1]/H3
$/bond:polymer_8/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[1]/C1 $/atom:polymer_8/monomer[1]/H4
$/bond:polymer_8/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[1]/C2 $/atom:polymer_8/monomer[1]/H5
$/bond:polymer_8/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[1]/C2 $/atom:polymer_8/monomer[1]/H6
$/bond:polymer_8/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[2]/C1 $/atom:polymer_8/monomer[2]/C2
$/bond:polymer_8/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[2]/C1 $/atom:polymer_8/monomer[2]/H3
$/bond:polymer_8/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[2]/C1 $/atom:polymer_8/monomer[2]/H4
$/bond:polymer_8/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[2]/C2 $/atom:polymer_8/monomer[2]/H5
$/bond:polymer_8/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[2]/C2 $/atom:polymer_8/monomer[2]/H6
$/bond:polymer_8/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[3]/C1 $/atom:polymer_8/monomer[3]/C2
$/bond:polymer_8/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[3]/C1 $/atom:polymer_8/monomer[3]/H3
$/bond:polymer_8/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[3]/C1 $/atom:polymer_8/monomer[3]/H4
$/bond:polymer_8/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[3]/C2 $/atom:polymer_8/monomer[3]/H5
$/bond:polymer_8/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[3]/C2 $/atom:polymer_8/monomer[3]/H6
$/bond:polymer_8/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[4]/C1 $/atom:polymer_8/monomer[4]/C2
$/bond:polymer_8/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[4]/C1 $/atom:polymer_8/monomer[4]/H3
$/bond:polymer_8/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[4]/C1 $/atom:polymer_8/monomer[4]/H4
$/bond:polymer_8/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[4]/C2 $/atom:polymer_8/monomer[4]/H5
$/bond:polymer_8/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[4]/C2 $/atom:polymer_8/monomer[4]/H6
$/bond:polymer_8/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[5]/C1 $/atom:polymer_8/monomer[5]/C2
$/bond:polymer_8/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[5]/C1 $/atom:polymer_8/monomer[5]/H3
$/bond:polymer_8/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[5]/C1 $/atom:polymer_8/monomer[5]/H4
$/bond:polymer_8/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[5]/C2 $/atom:polymer_8/monomer[5]/H5
$/bond:polymer_8/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[5]/C2 $/atom:polymer_8/monomer[5]/H6
$/bond:polymer_8/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[6]/C1 $/atom:polymer_8/monomer[6]/C2
$/bond:polymer_8/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[6]/C1 $/atom:polymer_8/monomer[6]/H3
$/bond:polymer_8/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[6]/C1 $/atom:polymer_8/monomer[6]/H4
$/bond:polymer_8/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[6]/C2 $/atom:polymer_8/monomer[6]/H5
$/bond:polymer_8/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[6]/C2 $/atom:polymer_8/monomer[6]/H6
$/bond:polymer_8/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[7]/C1 $/atom:polymer_8/monomer[7]/C2
$/bond:polymer_8/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[7]/C1 $/atom:polymer_8/monomer[7]/H3
$/bond:polymer_8/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[7]/C1 $/atom:polymer_8/monomer[7]/H4
$/bond:polymer_8/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[7]/C2 $/atom:polymer_8/monomer[7]/H5
$/bond:polymer_8/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[7]/C2 $/atom:polymer_8/monomer[7]/H6
$/bond:polymer_8/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[8]/C1 $/atom:polymer_8/monomer[8]/C2
$/bond:polymer_8/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[8]/C1 $/atom:polymer_8/monomer[8]/H3
$/bond:polymer_8/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[8]/C1 $/atom:polymer_8/monomer[8]/H4
$/bond:polymer_8/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[8]/C2 $/atom:polymer_8/monomer[8]/H5
$/bond:polymer_8/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_8/monomer[8]/C2 $/atom:polymer_8/monomer[8]/H6
$/bond:polymer_8/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_8/monomer[9]/C1 $/atom:polymer_8/monomer[9]/C2
$/bond:polymer_8/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[9]/C1 $/atom:polymer_8/monomer[9]/H3
$/bond:polymer_8/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[9]/C1 $/atom:polymer_8/monomer[9]/H4
$/bond:polymer_8/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[9]/C2 $/atom:polymer_8/monomer[9]/H5
$/bond:polymer_8/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[9]/C2 $/atom:polymer_8/monomer[9]/H6
$/bond:polymer_8/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_8/monomer[9]/C2 $/atom:polymer_8/monomer[9]/H7
$/bond:polymer_8/b1 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[0]/C2 $/atom:polymer_8/monomer[1]/C1
$/bond:polymer_8/b2 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[1]/C2 $/atom:polymer_8/monomer[2]/C1
$/bond:polymer_8/b3 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[2]/C2 $/atom:polymer_8/monomer[3]/C1
$/bond:polymer_8/b4 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[3]/C2 $/atom:polymer_8/monomer[4]/C1
$/bond:polymer_8/b5 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[4]/C2 $/atom:polymer_8/monomer[5]/C1
$/bond:polymer_8/b6 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[5]/C2 $/atom:polymer_8/monomer[6]/C1
$/bond:polymer_8/b7 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[6]/C2 $/atom:polymer_8/monomer[7]/C1
$/bond:polymer_8/b8 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[7]/C2 $/atom:polymer_8/monomer[8]/C1
$/bond:polymer_8/b9 @/bond:OPLSAA/82-81 $/atom:polymer_8/monomer[8]/C2 $/atom:polymer_8/monomer[9]/C1
$/bond:polymer_9/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_9/monomer[0]/C1 $/atom:polymer_9/monomer[0]/C2
$/bond:polymer_9/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_9/monomer[0]/C1 $/atom:polymer_9/monomer[0]/H3
$/bond:polymer_9/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_9/monomer[0]/C1 $/atom:polymer_9/monomer[0]/H4
$/bond:polymer_9/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[0]/C2 $/atom:polymer_9/monomer[0]/H5
$/bond:polymer_9/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[0]/C2 $/atom:polymer_9/monomer[0]/H6
$/bond:polymer_9/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_9/monomer[0]/C1 $/atom:polymer_9/monomer[0]/H7
$/bond:polymer_9/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[1]/C1 $/atom:polymer_9/monomer[1]/C2
$/bond:polymer_9/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[1]/C1 $/atom:polymer_9/monomer[1]/H3
$/bond:polymer_9/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[1]/C1 $/atom:polymer_9/monomer[1]/H4
$/bond:polymer_9/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[1]/C2 $/atom:polymer_9/monomer[1]/H5
$/bond:polymer_9/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[1]/C2 $/atom:polymer_9/monomer[1]/H6
$/bond:polymer_9/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[2]/C1 $/atom:polymer_9/monomer[2]/C2
$/bond:polymer_9/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[2]/C1 $/atom:polymer_9/monomer[2]/H3
$/bond:polymer_9/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[2]/C1 $/atom:polymer_9/monomer[2]/H4
$/bond:polymer_9/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[2]/C2 $/atom:polymer_9/monomer[2]/H5
$/bond:polymer_9/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[2]/C2 $/atom:polymer_9/monomer[2]/H6
$/bond:polymer_9/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[3]/C1 $/atom:polymer_9/monomer[3]/C2
$/bond:polymer_9/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[3]/C1 $/atom:polymer_9/monomer[3]/H3
$/bond:polymer_9/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[3]/C1 $/atom:polymer_9/monomer[3]/H4
$/bond:polymer_9/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[3]/C2 $/atom:polymer_9/monomer[3]/H5
$/bond:polymer_9/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[3]/C2 $/atom:polymer_9/monomer[3]/H6
$/bond:polymer_9/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[4]/C1 $/atom:polymer_9/monomer[4]/C2
$/bond:polymer_9/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[4]/C1 $/atom:polymer_9/monomer[4]/H3
$/bond:polymer_9/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[4]/C1 $/atom:polymer_9/monomer[4]/H4
$/bond:polymer_9/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[4]/C2 $/atom:polymer_9/monomer[4]/H5
$/bond:polymer_9/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[4]/C2 $/atom:polymer_9/monomer[4]/H6
$/bond:polymer_9/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[5]/C1 $/atom:polymer_9/monomer[5]/C2
$/bond:polymer_9/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[5]/C1 $/atom:polymer_9/monomer[5]/H3
$/bond:polymer_9/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[5]/C1 $/atom:polymer_9/monomer[5]/H4
$/bond:polymer_9/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[5]/C2 $/atom:polymer_9/monomer[5]/H5
$/bond:polymer_9/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[5]/C2 $/atom:polymer_9/monomer[5]/H6
$/bond:polymer_9/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[6]/C1 $/atom:polymer_9/monomer[6]/C2
$/bond:polymer_9/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[6]/C1 $/atom:polymer_9/monomer[6]/H3
$/bond:polymer_9/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[6]/C1 $/atom:polymer_9/monomer[6]/H4
$/bond:polymer_9/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[6]/C2 $/atom:polymer_9/monomer[6]/H5
$/bond:polymer_9/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[6]/C2 $/atom:polymer_9/monomer[6]/H6
$/bond:polymer_9/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[7]/C1 $/atom:polymer_9/monomer[7]/C2
$/bond:polymer_9/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[7]/C1 $/atom:polymer_9/monomer[7]/H3
$/bond:polymer_9/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[7]/C1 $/atom:polymer_9/monomer[7]/H4
$/bond:polymer_9/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[7]/C2 $/atom:polymer_9/monomer[7]/H5
$/bond:polymer_9/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[7]/C2 $/atom:polymer_9/monomer[7]/H6
$/bond:polymer_9/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[8]/C1 $/atom:polymer_9/monomer[8]/C2
$/bond:polymer_9/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[8]/C1 $/atom:polymer_9/monomer[8]/H3
$/bond:polymer_9/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[8]/C1 $/atom:polymer_9/monomer[8]/H4
$/bond:polymer_9/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[8]/C2 $/atom:polymer_9/monomer[8]/H5
$/bond:polymer_9/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_9/monomer[8]/C2 $/atom:polymer_9/monomer[8]/H6
$/bond:polymer_9/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_9/monomer[9]/C1 $/atom:polymer_9/monomer[9]/C2
$/bond:polymer_9/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[9]/C1 $/atom:polymer_9/monomer[9]/H3
$/bond:polymer_9/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[9]/C1 $/atom:polymer_9/monomer[9]/H4
$/bond:polymer_9/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[9]/C2 $/atom:polymer_9/monomer[9]/H5
$/bond:polymer_9/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[9]/C2 $/atom:polymer_9/monomer[9]/H6
$/bond:polymer_9/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_9/monomer[9]/C2 $/atom:polymer_9/monomer[9]/H7
$/bond:polymer_9/b1 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[0]/C2 $/atom:polymer_9/monomer[1]/C1
$/bond:polymer_9/b2 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[1]/C2 $/atom:polymer_9/monomer[2]/C1
$/bond:polymer_9/b3 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[2]/C2 $/atom:polymer_9/monomer[3]/C1
$/bond:polymer_9/b4 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[3]/C2 $/atom:polymer_9/monomer[4]/C1
$/bond:polymer_9/b5 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[4]/C2 $/atom:polymer_9/monomer[5]/C1
$/bond:polymer_9/b6 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[5]/C2 $/atom:polymer_9/monomer[6]/C1
$/bond:polymer_9/b7 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[6]/C2 $/atom:polymer_9/monomer[7]/C1
$/bond:polymer_9/b8 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[7]/C2 $/atom:polymer_9/monomer[8]/C1
$/bond:polymer_9/b9 @/bond:OPLSAA/82-81 $/atom:polymer_9/monomer[8]/C2 $/atom:polymer_9/monomer[9]/C1
$/bond:polymer_10/monomer[0]/C1C2 @/bond:OPLSAA/82-80 $/atom:polymer_10/monomer[0]/C1 $/atom:polymer_10/monomer[0]/C2
$/bond:polymer_10/monomer[0]/C1H3 @/bond:OPLSAA/80-85 $/atom:polymer_10/monomer[0]/C1 $/atom:polymer_10/monomer[0]/H3
$/bond:polymer_10/monomer[0]/C1H4 @/bond:OPLSAA/80-85 $/atom:polymer_10/monomer[0]/C1 $/atom:polymer_10/monomer[0]/H4
$/bond:polymer_10/monomer[0]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[0]/C2 $/atom:polymer_10/monomer[0]/H5
$/bond:polymer_10/monomer[0]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[0]/C2 $/atom:polymer_10/monomer[0]/H6
$/bond:polymer_10/monomer[0]/C1H7 @/bond:OPLSAA/80-85 $/atom:polymer_10/monomer[0]/C1 $/atom:polymer_10/monomer[0]/H7
$/bond:polymer_10/monomer[1]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[1]/C1 $/atom:polymer_10/monomer[1]/C2
$/bond:polymer_10/monomer[1]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[1]/C1 $/atom:polymer_10/monomer[1]/H3
$/bond:polymer_10/monomer[1]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[1]/C1 $/atom:polymer_10/monomer[1]/H4
$/bond:polymer_10/monomer[1]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[1]/C2 $/atom:polymer_10/monomer[1]/H5
$/bond:polymer_10/monomer[1]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[1]/C2 $/atom:polymer_10/monomer[1]/H6
$/bond:polymer_10/monomer[2]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[2]/C1 $/atom:polymer_10/monomer[2]/C2
$/bond:polymer_10/monomer[2]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[2]/C1 $/atom:polymer_10/monomer[2]/H3
$/bond:polymer_10/monomer[2]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[2]/C1 $/atom:polymer_10/monomer[2]/H4
$/bond:polymer_10/monomer[2]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[2]/C2 $/atom:polymer_10/monomer[2]/H5
$/bond:polymer_10/monomer[2]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[2]/C2 $/atom:polymer_10/monomer[2]/H6
$/bond:polymer_10/monomer[3]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[3]/C1 $/atom:polymer_10/monomer[3]/C2
$/bond:polymer_10/monomer[3]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[3]/C1 $/atom:polymer_10/monomer[3]/H3
$/bond:polymer_10/monomer[3]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[3]/C1 $/atom:polymer_10/monomer[3]/H4
$/bond:polymer_10/monomer[3]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[3]/C2 $/atom:polymer_10/monomer[3]/H5
$/bond:polymer_10/monomer[3]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[3]/C2 $/atom:polymer_10/monomer[3]/H6
$/bond:polymer_10/monomer[4]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[4]/C1 $/atom:polymer_10/monomer[4]/C2
$/bond:polymer_10/monomer[4]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[4]/C1 $/atom:polymer_10/monomer[4]/H3
$/bond:polymer_10/monomer[4]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[4]/C1 $/atom:polymer_10/monomer[4]/H4
$/bond:polymer_10/monomer[4]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[4]/C2 $/atom:polymer_10/monomer[4]/H5
$/bond:polymer_10/monomer[4]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[4]/C2 $/atom:polymer_10/monomer[4]/H6
$/bond:polymer_10/monomer[5]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[5]/C1 $/atom:polymer_10/monomer[5]/C2
$/bond:polymer_10/monomer[5]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[5]/C1 $/atom:polymer_10/monomer[5]/H3
$/bond:polymer_10/monomer[5]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[5]/C1 $/atom:polymer_10/monomer[5]/H4
$/bond:polymer_10/monomer[5]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[5]/C2 $/atom:polymer_10/monomer[5]/H5
$/bond:polymer_10/monomer[5]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[5]/C2 $/atom:polymer_10/monomer[5]/H6
$/bond:polymer_10/monomer[6]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[6]/C1 $/atom:polymer_10/monomer[6]/C2
$/bond:polymer_10/monomer[6]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[6]/C1 $/atom:polymer_10/monomer[6]/H3
$/bond:polymer_10/monomer[6]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[6]/C1 $/atom:polymer_10/monomer[6]/H4
$/bond:polymer_10/monomer[6]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[6]/C2 $/atom:polymer_10/monomer[6]/H5
$/bond:polymer_10/monomer[6]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[6]/C2 $/atom:polymer_10/monomer[6]/H6
$/bond:polymer_10/monomer[7]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[7]/C1 $/atom:polymer_10/monomer[7]/C2
$/bond:polymer_10/monomer[7]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[7]/C1 $/atom:polymer_10/monomer[7]/H3
$/bond:polymer_10/monomer[7]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[7]/C1 $/atom:polymer_10/monomer[7]/H4
$/bond:polymer_10/monomer[7]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[7]/C2 $/atom:polymer_10/monomer[7]/H5
$/bond:polymer_10/monomer[7]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[7]/C2 $/atom:polymer_10/monomer[7]/H6
$/bond:polymer_10/monomer[8]/C1C2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[8]/C1 $/atom:polymer_10/monomer[8]/C2
$/bond:polymer_10/monomer[8]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[8]/C1 $/atom:polymer_10/monomer[8]/H3
$/bond:polymer_10/monomer[8]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[8]/C1 $/atom:polymer_10/monomer[8]/H4
$/bond:polymer_10/monomer[8]/C2H5 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[8]/C2 $/atom:polymer_10/monomer[8]/H5
$/bond:polymer_10/monomer[8]/C2H6 @/bond:OPLSAA/82-85 $/atom:polymer_10/monomer[8]/C2 $/atom:polymer_10/monomer[8]/H6
$/bond:polymer_10/monomer[9]/C1C2 @/bond:OPLSAA/81-81 $/atom:polymer_10/monomer[9]/C1 $/atom:polymer_10/monomer[9]/C2
$/bond:polymer_10/monomer[9]/C1H3 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[9]/C1 $/atom:polymer_10/monomer[9]/H3
$/bond:polymer_10/monomer[9]/C1H4 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[9]/C1 $/atom:polymer_10/monomer[9]/H4
$/bond:polymer_10/monomer[9]/C2H5 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[9]/C2 $/atom:polymer_10/monomer[9]/H5
$/bond:polymer_10/monomer[9]/C2H6 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[9]/C2 $/atom:polymer_10/monomer[9]/H6
$/bond:polymer_10/monomer[9]/C2H7 @/bond:OPLSAA/81-85 $/atom:polymer_10/monomer[9]/C2 $/atom:polymer_10/monomer[9]/H7
$/bond:polymer_10/b1 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[0]/C2 $/atom:polymer_10/monomer[1]/C1
$/bond:polymer_10/b2 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[1]/C2 $/atom:polymer_10/monomer[2]/C1
$/bond:polymer_10/b3 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[2]/C2 $/atom:polymer_10/monomer[3]/C1
$/bond:polymer_10/b4 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[3]/C2 $/atom:polymer_10/monomer[4]/C1
$/bond:polymer_10/b5 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[4]/C2 $/atom:polymer_10/monomer[5]/C1
$/bond:polymer_10/b6 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[5]/C2 $/atom:polymer_10/monomer[6]/C1
$/bond:polymer_10/b7 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[6]/C2 $/atom:polymer_10/monomer[7]/C1
$/bond:polymer_10/b8 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[7]/C2 $/atom:polymer_10/monomer[8]/C1
$/bond:polymer_10/b9 @/bond:OPLSAA/82-81 $/atom:polymer_10/monomer[8]/C2 $/atom:polymer_10/monomer[9]/C1
