    @/bond:OPLSAA/13-13 @/atom:OPLSAA/13 @/atom:OPLSAA/13
    @/bond:OPLSAA/13-10 @/atom:OPLSAA/13 @/atom:OPLSAA/10
    @/bond:OPLSAA/13-15 @/atom:OPLSAA/13 @/atom:OPLSAA/15
    @/bond:OPLSAA/13-80 @/atom:OPLSAA/13 @/atom:OPLSAA/80
    @/bond:OPLSAA/13-81 @/atom:OPLSAA/13 @/atom:OPLSAA/81
    @/bond:OPLSAA/10-10 @/atom:OPLSAA/10 @/atom:OPLSAA/10
    @/bond:OPLSAA/10-15 @/atom:OPLSAA/10 @/atom:OPLSAA/15
    @/bond:OPLSAA/10-80 @/atom:OPLSAA/10 @/atom:OPLSAA/80
    @/bond:OPLSAA/10-81 @/atom:OPLSAA/10 @/atom:OPLSAA/81
    @/bond:OPLSAA/15-15 @/atom:OPLSAA/15 @/atom:OPLSAA/15
    @/bond:OPLSAA/80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/bond:OPLSAA/80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/bond:OPLSAA/81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/bond:OPLSAA/81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/bond:OPLSAA/80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/bond:OPLSAA/81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
