    @/dihedral:OPLSAA/0-13-13-13 @/atom:OPLSAA/* @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/13
    @/dihedral:OPLSAA/0-13-13-10 @/atom:OPLSAA/* @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/10
    @/dihedral:OPLSAA/13-13-13-13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/13
    @/dihedral:OPLSAA/13-13-13-10 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/10
    @/dihedral:OPLSAA/13-13-13-15 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/15
    @/dihedral:OPLSAA/13-13-13-80 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/13-13-13-81 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/10-13-13-10 @/atom:OPLSAA/10 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/10
    @/dihedral:OPLSAA/15-13-13-15 @/atom:OPLSAA/15 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/15
    @/dihedral:OPLSAA/0-13-15-13 @/atom:OPLSAA/* @/atom:OPLSAA/13 @/atom:OPLSAA/15 @/atom:OPLSAA/13
    @/dihedral:OPLSAA/13-13-15-13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/15 @/atom:OPLSAA/13
    @/dihedral:OPLSAA/13-13-80-13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/80 @/atom:OPLSAA/13
    @/dihedral:OPLSAA/13-13-81-13 @/atom:OPLSAA/13 @/atom:OPLSAA/13 @/atom:OPLSAA/81 @/atom:OPLSAA/13
    @/dihedral:OPLSAA/0-80-80-80 @/atom:OPLSAA/* @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/0-80-80-81 @/atom:OPLSAA/* @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/0-80-81-80 @/atom:OPLSAA/* @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/0-80-81-81 @/atom:OPLSAA/* @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/0-81-80-80 @/atom:OPLSAA/* @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/0-81-80-81 @/atom:OPLSAA/* @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/0-81-81-80 @/atom:OPLSAA/* @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/0-81-81-81 @/atom:OPLSAA/* @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/80-80-80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/80-80-80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/80-80-81-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/80-80-81-81 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/80-81-80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/80-81-80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/80-81-81-80 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/80-81-81-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/81-80-80-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/81-80-80-81 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/81-80-81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/81-80-81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/81-81-80-80 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/81-81-80-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/81-81-81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/dihedral:OPLSAA/81-81-81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/dihedral:OPLSAA/80-80-80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/80-80-81-85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/80-81-80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/80-81-81-85 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/81-80-80-85 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/81-80-81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/81-81-80-85 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/81-81-81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/85-80-80-85 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/85-80-81-85 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/85-81-80-85 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/dihedral:OPLSAA/85-81-81-85 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/85
