    set type @/atom:OPLSAA/10 charge 0.0
    set type @/atom:OPLSAA/13 charge 0.0
    set type @/atom:OPLSAA/15 charge 0.0
    set type @/atom:OPLSAA/80 charge -0.18
    set type @/atom:OPLSAA/81 charge -0.12
    set type @/atom:OPLSAA/85 charge 0.06
