    @/bond:OPLSAA/80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/bond:OPLSAA/80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/bond:OPLSAA/81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/bond:OPLSAA/81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/bond:OPLSAA/80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/bond:OPLSAA/81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/bond:OPLSAA/80-90 @/atom:OPLSAA/80 @/atom:OPLSAA/90
    @/bond:OPLSAA/81-90 @/atom:OPLSAA/81 @/atom:OPLSAA/90
    @/bond:OPLSAA/90-90 @/atom:OPLSAA/90 @/atom:OPLSAA/90
    @/bond:OPLSAA/90-91 @/atom:OPLSAA/90 @/atom:OPLSAA/91
