$/bond:polymer_1/monomer[0]/1 @/bond:OPLSAA/81-80 $/atom:polymer_1/monomer[0]/C1 $/atom:polymer_1/monomer[0]/C2
$/bond:polymer_1/monomer[0]/2 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[0]/C1 $/atom:polymer_1/monomer[0]/H3
$/bond:polymer_1/monomer[0]/3 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[0]/C1 $/atom:polymer_1/monomer[0]/H4
$/bond:polymer_1/monomer[0]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[0]/C2 $/atom:polymer_1/monomer[0]/H5
$/bond:polymer_1/monomer[0]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[0]/C2 $/atom:polymer_1/monomer[0]/H6
$/bond:polymer_1/monomer[0]/6 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[0]/H7 $/atom:polymer_1/monomer[0]/C1
$/bond:polymer_1/monomer[1]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[1]/C1 $/atom:polymer_1/monomer[1]/C2
$/bond:polymer_1/monomer[1]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[1]/C1 $/atom:polymer_1/monomer[1]/H3
$/bond:polymer_1/monomer[1]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[1]/C1 $/atom:polymer_1/monomer[1]/H4
$/bond:polymer_1/monomer[1]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[1]/C2 $/atom:polymer_1/monomer[1]/H5
$/bond:polymer_1/monomer[1]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[1]/C2 $/atom:polymer_1/monomer[1]/H6
$/bond:polymer_1/monomer[2]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[2]/C1 $/atom:polymer_1/monomer[2]/C2
$/bond:polymer_1/monomer[2]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[2]/C1 $/atom:polymer_1/monomer[2]/H3
$/bond:polymer_1/monomer[2]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[2]/C1 $/atom:polymer_1/monomer[2]/H4
$/bond:polymer_1/monomer[2]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[2]/C2 $/atom:polymer_1/monomer[2]/H5
$/bond:polymer_1/monomer[2]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[2]/C2 $/atom:polymer_1/monomer[2]/H6
$/bond:polymer_1/monomer[3]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[3]/C1 $/atom:polymer_1/monomer[3]/C2
$/bond:polymer_1/monomer[3]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[3]/C1 $/atom:polymer_1/monomer[3]/H3
$/bond:polymer_1/monomer[3]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[3]/C1 $/atom:polymer_1/monomer[3]/H4
$/bond:polymer_1/monomer[3]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[3]/C2 $/atom:polymer_1/monomer[3]/H5
$/bond:polymer_1/monomer[3]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[3]/C2 $/atom:polymer_1/monomer[3]/H6
$/bond:polymer_1/monomer[4]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[4]/C1 $/atom:polymer_1/monomer[4]/C2
$/bond:polymer_1/monomer[4]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[4]/C1 $/atom:polymer_1/monomer[4]/H3
$/bond:polymer_1/monomer[4]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[4]/C1 $/atom:polymer_1/monomer[4]/H4
$/bond:polymer_1/monomer[4]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[4]/C2 $/atom:polymer_1/monomer[4]/H5
$/bond:polymer_1/monomer[4]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[4]/C2 $/atom:polymer_1/monomer[4]/H6
$/bond:polymer_1/monomer[5]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[5]/C1 $/atom:polymer_1/monomer[5]/C2
$/bond:polymer_1/monomer[5]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[5]/C1 $/atom:polymer_1/monomer[5]/H3
$/bond:polymer_1/monomer[5]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[5]/C1 $/atom:polymer_1/monomer[5]/H4
$/bond:polymer_1/monomer[5]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[5]/C2 $/atom:polymer_1/monomer[5]/H5
$/bond:polymer_1/monomer[5]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[5]/C2 $/atom:polymer_1/monomer[5]/H6
$/bond:polymer_1/monomer[6]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[6]/C1 $/atom:polymer_1/monomer[6]/C2
$/bond:polymer_1/monomer[6]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[6]/C1 $/atom:polymer_1/monomer[6]/H3
$/bond:polymer_1/monomer[6]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[6]/C1 $/atom:polymer_1/monomer[6]/H4
$/bond:polymer_1/monomer[6]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[6]/C2 $/atom:polymer_1/monomer[6]/H5
$/bond:polymer_1/monomer[6]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[6]/C2 $/atom:polymer_1/monomer[6]/H6
$/bond:polymer_1/monomer[7]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[7]/C1 $/atom:polymer_1/monomer[7]/C2
$/bond:polymer_1/monomer[7]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[7]/C1 $/atom:polymer_1/monomer[7]/H3
$/bond:polymer_1/monomer[7]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[7]/C1 $/atom:polymer_1/monomer[7]/H4
$/bond:polymer_1/monomer[7]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[7]/C2 $/atom:polymer_1/monomer[7]/H5
$/bond:polymer_1/monomer[7]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[7]/C2 $/atom:polymer_1/monomer[7]/H6
$/bond:polymer_1/monomer[8]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[8]/C1 $/atom:polymer_1/monomer[8]/C2
$/bond:polymer_1/monomer[8]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[8]/C1 $/atom:polymer_1/monomer[8]/H3
$/bond:polymer_1/monomer[8]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[8]/C1 $/atom:polymer_1/monomer[8]/H4
$/bond:polymer_1/monomer[8]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[8]/C2 $/atom:polymer_1/monomer[8]/H5
$/bond:polymer_1/monomer[8]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[8]/C2 $/atom:polymer_1/monomer[8]/H6
$/bond:polymer_1/monomer[9]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[9]/C1 $/atom:polymer_1/monomer[9]/C2
$/bond:polymer_1/monomer[9]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C1 $/atom:polymer_1/monomer[9]/H3
$/bond:polymer_1/monomer[9]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C1 $/atom:polymer_1/monomer[9]/H4
$/bond:polymer_1/monomer[9]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C2 $/atom:polymer_1/monomer[9]/H5
$/bond:polymer_1/monomer[9]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[9]/C2 $/atom:polymer_1/monomer[9]/H6
$/bond:polymer_1/monomer[10]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[10]/C1 $/atom:polymer_1/monomer[10]/C2
$/bond:polymer_1/monomer[10]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[10]/C1 $/atom:polymer_1/monomer[10]/H3
$/bond:polymer_1/monomer[10]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[10]/C1 $/atom:polymer_1/monomer[10]/H4
$/bond:polymer_1/monomer[10]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[10]/C2 $/atom:polymer_1/monomer[10]/H5
$/bond:polymer_1/monomer[10]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[10]/C2 $/atom:polymer_1/monomer[10]/H6
$/bond:polymer_1/monomer[11]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[11]/C1 $/atom:polymer_1/monomer[11]/C2
$/bond:polymer_1/monomer[11]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[11]/C1 $/atom:polymer_1/monomer[11]/H3
$/bond:polymer_1/monomer[11]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[11]/C1 $/atom:polymer_1/monomer[11]/H4
$/bond:polymer_1/monomer[11]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[11]/C2 $/atom:polymer_1/monomer[11]/H5
$/bond:polymer_1/monomer[11]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[11]/C2 $/atom:polymer_1/monomer[11]/H6
$/bond:polymer_1/monomer[12]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[12]/C1 $/atom:polymer_1/monomer[12]/C2
$/bond:polymer_1/monomer[12]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[12]/C1 $/atom:polymer_1/monomer[12]/H3
$/bond:polymer_1/monomer[12]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[12]/C1 $/atom:polymer_1/monomer[12]/H4
$/bond:polymer_1/monomer[12]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[12]/C2 $/atom:polymer_1/monomer[12]/H5
$/bond:polymer_1/monomer[12]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[12]/C2 $/atom:polymer_1/monomer[12]/H6
$/bond:polymer_1/monomer[13]/1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[13]/C1 $/atom:polymer_1/monomer[13]/C2
$/bond:polymer_1/monomer[13]/2 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[13]/C1 $/atom:polymer_1/monomer[13]/H3
$/bond:polymer_1/monomer[13]/3 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[13]/C1 $/atom:polymer_1/monomer[13]/H4
$/bond:polymer_1/monomer[13]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[13]/C2 $/atom:polymer_1/monomer[13]/H5
$/bond:polymer_1/monomer[13]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[13]/C2 $/atom:polymer_1/monomer[13]/H6
$/bond:polymer_1/monomer[14]/1 @/bond:OPLSAA/81-80 $/atom:polymer_1/monomer[14]/C2 $/atom:polymer_1/monomer[14]/C1
$/bond:polymer_1/monomer[14]/2 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[14]/C2 $/atom:polymer_1/monomer[14]/H3
$/bond:polymer_1/monomer[14]/3 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[14]/C2 $/atom:polymer_1/monomer[14]/H4
$/bond:polymer_1/monomer[14]/4 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[14]/C1 $/atom:polymer_1/monomer[14]/H5
$/bond:polymer_1/monomer[14]/5 @/bond:OPLSAA/81-85 $/atom:polymer_1/monomer[14]/C1 $/atom:polymer_1/monomer[14]/H6
$/bond:polymer_1/monomer[14]/6 @/bond:OPLSAA/80-85 $/atom:polymer_1/monomer[14]/H7 $/atom:polymer_1/monomer[14]/C2
$/bond:polymer_1/b1 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[0]/C2 $/atom:polymer_1/monomer[1]/C1
$/bond:polymer_1/b2 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[1]/C2 $/atom:polymer_1/monomer[2]/C1
$/bond:polymer_1/b3 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[2]/C2 $/atom:polymer_1/monomer[3]/C1
$/bond:polymer_1/b4 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[3]/C2 $/atom:polymer_1/monomer[4]/C1
$/bond:polymer_1/b5 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[4]/C2 $/atom:polymer_1/monomer[5]/C1
$/bond:polymer_1/b6 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[5]/C2 $/atom:polymer_1/monomer[6]/C1
$/bond:polymer_1/b7 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[6]/C2 $/atom:polymer_1/monomer[7]/C1
$/bond:polymer_1/b8 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[7]/C2 $/atom:polymer_1/monomer[8]/C1
$/bond:polymer_1/b9 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[8]/C2 $/atom:polymer_1/monomer[9]/C1
$/bond:polymer_1/b10 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[9]/C2 $/atom:polymer_1/monomer[10]/C1
$/bond:polymer_1/b11 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[10]/C2 $/atom:polymer_1/monomer[11]/C1
$/bond:polymer_1/b12 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[11]/C2 $/atom:polymer_1/monomer[12]/C1
$/bond:polymer_1/b13 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[12]/C2 $/atom:polymer_1/monomer[13]/C1
$/bond:polymer_1/b14 @/bond:OPLSAA/81-81 $/atom:polymer_1/monomer[13]/C2 $/atom:polymer_1/monomer[14]/C1
$/bond:polymer_2/monomer[0]/1 @/bond:OPLSAA/81-80 $/atom:polymer_2/monomer[0]/C1 $/atom:polymer_2/monomer[0]/C2
$/bond:polymer_2/monomer[0]/2 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[0]/C1 $/atom:polymer_2/monomer[0]/H3
$/bond:polymer_2/monomer[0]/3 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[0]/C1 $/atom:polymer_2/monomer[0]/H4
$/bond:polymer_2/monomer[0]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[0]/C2 $/atom:polymer_2/monomer[0]/H5
$/bond:polymer_2/monomer[0]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[0]/C2 $/atom:polymer_2/monomer[0]/H6
$/bond:polymer_2/monomer[0]/6 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[0]/H7 $/atom:polymer_2/monomer[0]/C1
$/bond:polymer_2/monomer[1]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[1]/C1 $/atom:polymer_2/monomer[1]/C2
$/bond:polymer_2/monomer[1]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[1]/C1 $/atom:polymer_2/monomer[1]/H3
$/bond:polymer_2/monomer[1]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[1]/C1 $/atom:polymer_2/monomer[1]/H4
$/bond:polymer_2/monomer[1]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[1]/C2 $/atom:polymer_2/monomer[1]/H5
$/bond:polymer_2/monomer[1]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[1]/C2 $/atom:polymer_2/monomer[1]/H6
$/bond:polymer_2/monomer[2]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[2]/C1 $/atom:polymer_2/monomer[2]/C2
$/bond:polymer_2/monomer[2]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[2]/C1 $/atom:polymer_2/monomer[2]/H3
$/bond:polymer_2/monomer[2]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[2]/C1 $/atom:polymer_2/monomer[2]/H4
$/bond:polymer_2/monomer[2]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[2]/C2 $/atom:polymer_2/monomer[2]/H5
$/bond:polymer_2/monomer[2]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[2]/C2 $/atom:polymer_2/monomer[2]/H6
$/bond:polymer_2/monomer[3]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[3]/C1 $/atom:polymer_2/monomer[3]/C2
$/bond:polymer_2/monomer[3]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[3]/C1 $/atom:polymer_2/monomer[3]/H3
$/bond:polymer_2/monomer[3]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[3]/C1 $/atom:polymer_2/monomer[3]/H4
$/bond:polymer_2/monomer[3]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[3]/C2 $/atom:polymer_2/monomer[3]/H5
$/bond:polymer_2/monomer[3]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[3]/C2 $/atom:polymer_2/monomer[3]/H6
$/bond:polymer_2/monomer[4]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[4]/C1 $/atom:polymer_2/monomer[4]/C2
$/bond:polymer_2/monomer[4]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[4]/C1 $/atom:polymer_2/monomer[4]/H3
$/bond:polymer_2/monomer[4]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[4]/C1 $/atom:polymer_2/monomer[4]/H4
$/bond:polymer_2/monomer[4]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[4]/C2 $/atom:polymer_2/monomer[4]/H5
$/bond:polymer_2/monomer[4]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[4]/C2 $/atom:polymer_2/monomer[4]/H6
$/bond:polymer_2/monomer[5]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[5]/C1 $/atom:polymer_2/monomer[5]/C2
$/bond:polymer_2/monomer[5]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[5]/C1 $/atom:polymer_2/monomer[5]/H3
$/bond:polymer_2/monomer[5]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[5]/C1 $/atom:polymer_2/monomer[5]/H4
$/bond:polymer_2/monomer[5]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[5]/C2 $/atom:polymer_2/monomer[5]/H5
$/bond:polymer_2/monomer[5]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[5]/C2 $/atom:polymer_2/monomer[5]/H6
$/bond:polymer_2/monomer[6]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[6]/C1 $/atom:polymer_2/monomer[6]/C2
$/bond:polymer_2/monomer[6]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[6]/C1 $/atom:polymer_2/monomer[6]/H3
$/bond:polymer_2/monomer[6]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[6]/C1 $/atom:polymer_2/monomer[6]/H4
$/bond:polymer_2/monomer[6]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[6]/C2 $/atom:polymer_2/monomer[6]/H5
$/bond:polymer_2/monomer[6]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[6]/C2 $/atom:polymer_2/monomer[6]/H6
$/bond:polymer_2/monomer[7]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[7]/C1 $/atom:polymer_2/monomer[7]/C2
$/bond:polymer_2/monomer[7]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[7]/C1 $/atom:polymer_2/monomer[7]/H3
$/bond:polymer_2/monomer[7]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[7]/C1 $/atom:polymer_2/monomer[7]/H4
$/bond:polymer_2/monomer[7]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[7]/C2 $/atom:polymer_2/monomer[7]/H5
$/bond:polymer_2/monomer[7]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[7]/C2 $/atom:polymer_2/monomer[7]/H6
$/bond:polymer_2/monomer[8]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[8]/C1 $/atom:polymer_2/monomer[8]/C2
$/bond:polymer_2/monomer[8]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[8]/C1 $/atom:polymer_2/monomer[8]/H3
$/bond:polymer_2/monomer[8]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[8]/C1 $/atom:polymer_2/monomer[8]/H4
$/bond:polymer_2/monomer[8]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[8]/C2 $/atom:polymer_2/monomer[8]/H5
$/bond:polymer_2/monomer[8]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[8]/C2 $/atom:polymer_2/monomer[8]/H6
$/bond:polymer_2/monomer[9]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[9]/C1 $/atom:polymer_2/monomer[9]/C2
$/bond:polymer_2/monomer[9]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C1 $/atom:polymer_2/monomer[9]/H3
$/bond:polymer_2/monomer[9]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C1 $/atom:polymer_2/monomer[9]/H4
$/bond:polymer_2/monomer[9]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C2 $/atom:polymer_2/monomer[9]/H5
$/bond:polymer_2/monomer[9]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[9]/C2 $/atom:polymer_2/monomer[9]/H6
$/bond:polymer_2/monomer[10]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[10]/C1 $/atom:polymer_2/monomer[10]/C2
$/bond:polymer_2/monomer[10]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[10]/C1 $/atom:polymer_2/monomer[10]/H3
$/bond:polymer_2/monomer[10]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[10]/C1 $/atom:polymer_2/monomer[10]/H4
$/bond:polymer_2/monomer[10]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[10]/C2 $/atom:polymer_2/monomer[10]/H5
$/bond:polymer_2/monomer[10]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[10]/C2 $/atom:polymer_2/monomer[10]/H6
$/bond:polymer_2/monomer[11]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[11]/C1 $/atom:polymer_2/monomer[11]/C2
$/bond:polymer_2/monomer[11]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[11]/C1 $/atom:polymer_2/monomer[11]/H3
$/bond:polymer_2/monomer[11]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[11]/C1 $/atom:polymer_2/monomer[11]/H4
$/bond:polymer_2/monomer[11]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[11]/C2 $/atom:polymer_2/monomer[11]/H5
$/bond:polymer_2/monomer[11]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[11]/C2 $/atom:polymer_2/monomer[11]/H6
$/bond:polymer_2/monomer[12]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[12]/C1 $/atom:polymer_2/monomer[12]/C2
$/bond:polymer_2/monomer[12]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[12]/C1 $/atom:polymer_2/monomer[12]/H3
$/bond:polymer_2/monomer[12]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[12]/C1 $/atom:polymer_2/monomer[12]/H4
$/bond:polymer_2/monomer[12]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[12]/C2 $/atom:polymer_2/monomer[12]/H5
$/bond:polymer_2/monomer[12]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[12]/C2 $/atom:polymer_2/monomer[12]/H6
$/bond:polymer_2/monomer[13]/1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[13]/C1 $/atom:polymer_2/monomer[13]/C2
$/bond:polymer_2/monomer[13]/2 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[13]/C1 $/atom:polymer_2/monomer[13]/H3
$/bond:polymer_2/monomer[13]/3 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[13]/C1 $/atom:polymer_2/monomer[13]/H4
$/bond:polymer_2/monomer[13]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[13]/C2 $/atom:polymer_2/monomer[13]/H5
$/bond:polymer_2/monomer[13]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[13]/C2 $/atom:polymer_2/monomer[13]/H6
$/bond:polymer_2/monomer[14]/1 @/bond:OPLSAA/81-80 $/atom:polymer_2/monomer[14]/C2 $/atom:polymer_2/monomer[14]/C1
$/bond:polymer_2/monomer[14]/2 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[14]/C2 $/atom:polymer_2/monomer[14]/H3
$/bond:polymer_2/monomer[14]/3 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[14]/C2 $/atom:polymer_2/monomer[14]/H4
$/bond:polymer_2/monomer[14]/4 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[14]/C1 $/atom:polymer_2/monomer[14]/H5
$/bond:polymer_2/monomer[14]/5 @/bond:OPLSAA/81-85 $/atom:polymer_2/monomer[14]/C1 $/atom:polymer_2/monomer[14]/H6
$/bond:polymer_2/monomer[14]/6 @/bond:OPLSAA/80-85 $/atom:polymer_2/monomer[14]/H7 $/atom:polymer_2/monomer[14]/C2
$/bond:polymer_2/b1 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[0]/C2 $/atom:polymer_2/monomer[1]/C1
$/bond:polymer_2/b2 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[1]/C2 $/atom:polymer_2/monomer[2]/C1
$/bond:polymer_2/b3 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[2]/C2 $/atom:polymer_2/monomer[3]/C1
$/bond:polymer_2/b4 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[3]/C2 $/atom:polymer_2/monomer[4]/C1
$/bond:polymer_2/b5 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[4]/C2 $/atom:polymer_2/monomer[5]/C1
$/bond:polymer_2/b6 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[5]/C2 $/atom:polymer_2/monomer[6]/C1
$/bond:polymer_2/b7 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[6]/C2 $/atom:polymer_2/monomer[7]/C1
$/bond:polymer_2/b8 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[7]/C2 $/atom:polymer_2/monomer[8]/C1
$/bond:polymer_2/b9 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[8]/C2 $/atom:polymer_2/monomer[9]/C1
$/bond:polymer_2/b10 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[9]/C2 $/atom:polymer_2/monomer[10]/C1
$/bond:polymer_2/b11 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[10]/C2 $/atom:polymer_2/monomer[11]/C1
$/bond:polymer_2/b12 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[11]/C2 $/atom:polymer_2/monomer[12]/C1
$/bond:polymer_2/b13 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[12]/C2 $/atom:polymer_2/monomer[13]/C1
$/bond:polymer_2/b14 @/bond:OPLSAA/81-81 $/atom:polymer_2/monomer[13]/C2 $/atom:polymer_2/monomer[14]/C1
$/bond:polymer_3/monomer[0]/1 @/bond:OPLSAA/81-80 $/atom:polymer_3/monomer[0]/C1 $/atom:polymer_3/monomer[0]/C2
$/bond:polymer_3/monomer[0]/2 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[0]/C1 $/atom:polymer_3/monomer[0]/H3
$/bond:polymer_3/monomer[0]/3 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[0]/C1 $/atom:polymer_3/monomer[0]/H4
$/bond:polymer_3/monomer[0]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[0]/C2 $/atom:polymer_3/monomer[0]/H5
$/bond:polymer_3/monomer[0]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[0]/C2 $/atom:polymer_3/monomer[0]/H6
$/bond:polymer_3/monomer[0]/6 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[0]/H7 $/atom:polymer_3/monomer[0]/C1
$/bond:polymer_3/monomer[1]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[1]/C1 $/atom:polymer_3/monomer[1]/C2
$/bond:polymer_3/monomer[1]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[1]/C1 $/atom:polymer_3/monomer[1]/H3
$/bond:polymer_3/monomer[1]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[1]/C1 $/atom:polymer_3/monomer[1]/H4
$/bond:polymer_3/monomer[1]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[1]/C2 $/atom:polymer_3/monomer[1]/H5
$/bond:polymer_3/monomer[1]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[1]/C2 $/atom:polymer_3/monomer[1]/H6
$/bond:polymer_3/monomer[2]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[2]/C1 $/atom:polymer_3/monomer[2]/C2
$/bond:polymer_3/monomer[2]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[2]/C1 $/atom:polymer_3/monomer[2]/H3
$/bond:polymer_3/monomer[2]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[2]/C1 $/atom:polymer_3/monomer[2]/H4
$/bond:polymer_3/monomer[2]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[2]/C2 $/atom:polymer_3/monomer[2]/H5
$/bond:polymer_3/monomer[2]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[2]/C2 $/atom:polymer_3/monomer[2]/H6
$/bond:polymer_3/monomer[3]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[3]/C1 $/atom:polymer_3/monomer[3]/C2
$/bond:polymer_3/monomer[3]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[3]/C1 $/atom:polymer_3/monomer[3]/H3
$/bond:polymer_3/monomer[3]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[3]/C1 $/atom:polymer_3/monomer[3]/H4
$/bond:polymer_3/monomer[3]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[3]/C2 $/atom:polymer_3/monomer[3]/H5
$/bond:polymer_3/monomer[3]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[3]/C2 $/atom:polymer_3/monomer[3]/H6
$/bond:polymer_3/monomer[4]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[4]/C1 $/atom:polymer_3/monomer[4]/C2
$/bond:polymer_3/monomer[4]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[4]/C1 $/atom:polymer_3/monomer[4]/H3
$/bond:polymer_3/monomer[4]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[4]/C1 $/atom:polymer_3/monomer[4]/H4
$/bond:polymer_3/monomer[4]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[4]/C2 $/atom:polymer_3/monomer[4]/H5
$/bond:polymer_3/monomer[4]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[4]/C2 $/atom:polymer_3/monomer[4]/H6
$/bond:polymer_3/monomer[5]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[5]/C1 $/atom:polymer_3/monomer[5]/C2
$/bond:polymer_3/monomer[5]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[5]/C1 $/atom:polymer_3/monomer[5]/H3
$/bond:polymer_3/monomer[5]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[5]/C1 $/atom:polymer_3/monomer[5]/H4
$/bond:polymer_3/monomer[5]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[5]/C2 $/atom:polymer_3/monomer[5]/H5
$/bond:polymer_3/monomer[5]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[5]/C2 $/atom:polymer_3/monomer[5]/H6
$/bond:polymer_3/monomer[6]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[6]/C1 $/atom:polymer_3/monomer[6]/C2
$/bond:polymer_3/monomer[6]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[6]/C1 $/atom:polymer_3/monomer[6]/H3
$/bond:polymer_3/monomer[6]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[6]/C1 $/atom:polymer_3/monomer[6]/H4
$/bond:polymer_3/monomer[6]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[6]/C2 $/atom:polymer_3/monomer[6]/H5
$/bond:polymer_3/monomer[6]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[6]/C2 $/atom:polymer_3/monomer[6]/H6
$/bond:polymer_3/monomer[7]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[7]/C1 $/atom:polymer_3/monomer[7]/C2
$/bond:polymer_3/monomer[7]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[7]/C1 $/atom:polymer_3/monomer[7]/H3
$/bond:polymer_3/monomer[7]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[7]/C1 $/atom:polymer_3/monomer[7]/H4
$/bond:polymer_3/monomer[7]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[7]/C2 $/atom:polymer_3/monomer[7]/H5
$/bond:polymer_3/monomer[7]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[7]/C2 $/atom:polymer_3/monomer[7]/H6
$/bond:polymer_3/monomer[8]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[8]/C1 $/atom:polymer_3/monomer[8]/C2
$/bond:polymer_3/monomer[8]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[8]/C1 $/atom:polymer_3/monomer[8]/H3
$/bond:polymer_3/monomer[8]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[8]/C1 $/atom:polymer_3/monomer[8]/H4
$/bond:polymer_3/monomer[8]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[8]/C2 $/atom:polymer_3/monomer[8]/H5
$/bond:polymer_3/monomer[8]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[8]/C2 $/atom:polymer_3/monomer[8]/H6
$/bond:polymer_3/monomer[9]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[9]/C1 $/atom:polymer_3/monomer[9]/C2
$/bond:polymer_3/monomer[9]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C1 $/atom:polymer_3/monomer[9]/H3
$/bond:polymer_3/monomer[9]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C1 $/atom:polymer_3/monomer[9]/H4
$/bond:polymer_3/monomer[9]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C2 $/atom:polymer_3/monomer[9]/H5
$/bond:polymer_3/monomer[9]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[9]/C2 $/atom:polymer_3/monomer[9]/H6
$/bond:polymer_3/monomer[10]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[10]/C1 $/atom:polymer_3/monomer[10]/C2
$/bond:polymer_3/monomer[10]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[10]/C1 $/atom:polymer_3/monomer[10]/H3
$/bond:polymer_3/monomer[10]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[10]/C1 $/atom:polymer_3/monomer[10]/H4
$/bond:polymer_3/monomer[10]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[10]/C2 $/atom:polymer_3/monomer[10]/H5
$/bond:polymer_3/monomer[10]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[10]/C2 $/atom:polymer_3/monomer[10]/H6
$/bond:polymer_3/monomer[11]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[11]/C1 $/atom:polymer_3/monomer[11]/C2
$/bond:polymer_3/monomer[11]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[11]/C1 $/atom:polymer_3/monomer[11]/H3
$/bond:polymer_3/monomer[11]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[11]/C1 $/atom:polymer_3/monomer[11]/H4
$/bond:polymer_3/monomer[11]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[11]/C2 $/atom:polymer_3/monomer[11]/H5
$/bond:polymer_3/monomer[11]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[11]/C2 $/atom:polymer_3/monomer[11]/H6
$/bond:polymer_3/monomer[12]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[12]/C1 $/atom:polymer_3/monomer[12]/C2
$/bond:polymer_3/monomer[12]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[12]/C1 $/atom:polymer_3/monomer[12]/H3
$/bond:polymer_3/monomer[12]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[12]/C1 $/atom:polymer_3/monomer[12]/H4
$/bond:polymer_3/monomer[12]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[12]/C2 $/atom:polymer_3/monomer[12]/H5
$/bond:polymer_3/monomer[12]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[12]/C2 $/atom:polymer_3/monomer[12]/H6
$/bond:polymer_3/monomer[13]/1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[13]/C1 $/atom:polymer_3/monomer[13]/C2
$/bond:polymer_3/monomer[13]/2 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[13]/C1 $/atom:polymer_3/monomer[13]/H3
$/bond:polymer_3/monomer[13]/3 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[13]/C1 $/atom:polymer_3/monomer[13]/H4
$/bond:polymer_3/monomer[13]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[13]/C2 $/atom:polymer_3/monomer[13]/H5
$/bond:polymer_3/monomer[13]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[13]/C2 $/atom:polymer_3/monomer[13]/H6
$/bond:polymer_3/monomer[14]/1 @/bond:OPLSAA/81-80 $/atom:polymer_3/monomer[14]/C2 $/atom:polymer_3/monomer[14]/C1
$/bond:polymer_3/monomer[14]/2 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[14]/C2 $/atom:polymer_3/monomer[14]/H3
$/bond:polymer_3/monomer[14]/3 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[14]/C2 $/atom:polymer_3/monomer[14]/H4
$/bond:polymer_3/monomer[14]/4 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[14]/C1 $/atom:polymer_3/monomer[14]/H5
$/bond:polymer_3/monomer[14]/5 @/bond:OPLSAA/81-85 $/atom:polymer_3/monomer[14]/C1 $/atom:polymer_3/monomer[14]/H6
$/bond:polymer_3/monomer[14]/6 @/bond:OPLSAA/80-85 $/atom:polymer_3/monomer[14]/H7 $/atom:polymer_3/monomer[14]/C2
$/bond:polymer_3/b1 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[0]/C2 $/atom:polymer_3/monomer[1]/C1
$/bond:polymer_3/b2 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[1]/C2 $/atom:polymer_3/monomer[2]/C1
$/bond:polymer_3/b3 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[2]/C2 $/atom:polymer_3/monomer[3]/C1
$/bond:polymer_3/b4 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[3]/C2 $/atom:polymer_3/monomer[4]/C1
$/bond:polymer_3/b5 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[4]/C2 $/atom:polymer_3/monomer[5]/C1
$/bond:polymer_3/b6 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[5]/C2 $/atom:polymer_3/monomer[6]/C1
$/bond:polymer_3/b7 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[6]/C2 $/atom:polymer_3/monomer[7]/C1
$/bond:polymer_3/b8 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[7]/C2 $/atom:polymer_3/monomer[8]/C1
$/bond:polymer_3/b9 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[8]/C2 $/atom:polymer_3/monomer[9]/C1
$/bond:polymer_3/b10 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[9]/C2 $/atom:polymer_3/monomer[10]/C1
$/bond:polymer_3/b11 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[10]/C2 $/atom:polymer_3/monomer[11]/C1
$/bond:polymer_3/b12 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[11]/C2 $/atom:polymer_3/monomer[12]/C1
$/bond:polymer_3/b13 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[12]/C2 $/atom:polymer_3/monomer[13]/C1
$/bond:polymer_3/b14 @/bond:OPLSAA/81-81 $/atom:polymer_3/monomer[13]/C2 $/atom:polymer_3/monomer[14]/C1
$/bond:molecule_4/C12 @/bond:OPLSAA/90-90 $/atom:molecule_4/C1 $/atom:molecule_4/C2
$/bond:molecule_4/C23 @/bond:OPLSAA/90-90 $/atom:molecule_4/C2 $/atom:molecule_4/C3
$/bond:molecule_4/C34 @/bond:OPLSAA/90-90 $/atom:molecule_4/C3 $/atom:molecule_4/C4
$/bond:molecule_4/C45 @/bond:OPLSAA/90-90 $/atom:molecule_4/C4 $/atom:molecule_4/C5
$/bond:molecule_4/C56 @/bond:OPLSAA/90-90 $/atom:molecule_4/C5 $/atom:molecule_4/C6
$/bond:molecule_4/C61 @/bond:OPLSAA/90-90 $/atom:molecule_4/C6 $/atom:molecule_4/C1
$/bond:molecule_4/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_4/C1 $/atom:molecule_4/H11
$/bond:molecule_4/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_4/C2 $/atom:molecule_4/H21
$/bond:molecule_4/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_4/C3 $/atom:molecule_4/H31
$/bond:molecule_4/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_4/C4 $/atom:molecule_4/H41
$/bond:molecule_4/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_4/C5 $/atom:molecule_4/H51
$/bond:molecule_4/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_4/C6 $/atom:molecule_4/H61
$/bond:molecule_5/C12 @/bond:OPLSAA/90-90 $/atom:molecule_5/C1 $/atom:molecule_5/C2
$/bond:molecule_5/C23 @/bond:OPLSAA/90-90 $/atom:molecule_5/C2 $/atom:molecule_5/C3
$/bond:molecule_5/C34 @/bond:OPLSAA/90-90 $/atom:molecule_5/C3 $/atom:molecule_5/C4
$/bond:molecule_5/C45 @/bond:OPLSAA/90-90 $/atom:molecule_5/C4 $/atom:molecule_5/C5
$/bond:molecule_5/C56 @/bond:OPLSAA/90-90 $/atom:molecule_5/C5 $/atom:molecule_5/C6
$/bond:molecule_5/C61 @/bond:OPLSAA/90-90 $/atom:molecule_5/C6 $/atom:molecule_5/C1
$/bond:molecule_5/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_5/C1 $/atom:molecule_5/H11
$/bond:molecule_5/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_5/C2 $/atom:molecule_5/H21
$/bond:molecule_5/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_5/C3 $/atom:molecule_5/H31
$/bond:molecule_5/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_5/C4 $/atom:molecule_5/H41
$/bond:molecule_5/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_5/C5 $/atom:molecule_5/H51
$/bond:molecule_5/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_5/C6 $/atom:molecule_5/H61
$/bond:molecule_6/C12 @/bond:OPLSAA/90-90 $/atom:molecule_6/C1 $/atom:molecule_6/C2
$/bond:molecule_6/C23 @/bond:OPLSAA/90-90 $/atom:molecule_6/C2 $/atom:molecule_6/C3
$/bond:molecule_6/C34 @/bond:OPLSAA/90-90 $/atom:molecule_6/C3 $/atom:molecule_6/C4
$/bond:molecule_6/C45 @/bond:OPLSAA/90-90 $/atom:molecule_6/C4 $/atom:molecule_6/C5
$/bond:molecule_6/C56 @/bond:OPLSAA/90-90 $/atom:molecule_6/C5 $/atom:molecule_6/C6
$/bond:molecule_6/C61 @/bond:OPLSAA/90-90 $/atom:molecule_6/C6 $/atom:molecule_6/C1
$/bond:molecule_6/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_6/C1 $/atom:molecule_6/H11
$/bond:molecule_6/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_6/C2 $/atom:molecule_6/H21
$/bond:molecule_6/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_6/C3 $/atom:molecule_6/H31
$/bond:molecule_6/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_6/C4 $/atom:molecule_6/H41
$/bond:molecule_6/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_6/C5 $/atom:molecule_6/H51
$/bond:molecule_6/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_6/C6 $/atom:molecule_6/H61
$/bond:molecule_7/C12 @/bond:OPLSAA/90-90 $/atom:molecule_7/C1 $/atom:molecule_7/C2
$/bond:molecule_7/C23 @/bond:OPLSAA/90-90 $/atom:molecule_7/C2 $/atom:molecule_7/C3
$/bond:molecule_7/C34 @/bond:OPLSAA/90-90 $/atom:molecule_7/C3 $/atom:molecule_7/C4
$/bond:molecule_7/C45 @/bond:OPLSAA/90-90 $/atom:molecule_7/C4 $/atom:molecule_7/C5
$/bond:molecule_7/C56 @/bond:OPLSAA/90-90 $/atom:molecule_7/C5 $/atom:molecule_7/C6
$/bond:molecule_7/C61 @/bond:OPLSAA/90-90 $/atom:molecule_7/C6 $/atom:molecule_7/C1
$/bond:molecule_7/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_7/C1 $/atom:molecule_7/H11
$/bond:molecule_7/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_7/C2 $/atom:molecule_7/H21
$/bond:molecule_7/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_7/C3 $/atom:molecule_7/H31
$/bond:molecule_7/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_7/C4 $/atom:molecule_7/H41
$/bond:molecule_7/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_7/C5 $/atom:molecule_7/H51
$/bond:molecule_7/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_7/C6 $/atom:molecule_7/H61
$/bond:molecule_8/C12 @/bond:OPLSAA/90-90 $/atom:molecule_8/C1 $/atom:molecule_8/C2
$/bond:molecule_8/C23 @/bond:OPLSAA/90-90 $/atom:molecule_8/C2 $/atom:molecule_8/C3
$/bond:molecule_8/C34 @/bond:OPLSAA/90-90 $/atom:molecule_8/C3 $/atom:molecule_8/C4
$/bond:molecule_8/C45 @/bond:OPLSAA/90-90 $/atom:molecule_8/C4 $/atom:molecule_8/C5
$/bond:molecule_8/C56 @/bond:OPLSAA/90-90 $/atom:molecule_8/C5 $/atom:molecule_8/C6
$/bond:molecule_8/C61 @/bond:OPLSAA/90-90 $/atom:molecule_8/C6 $/atom:molecule_8/C1
$/bond:molecule_8/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_8/C1 $/atom:molecule_8/H11
$/bond:molecule_8/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_8/C2 $/atom:molecule_8/H21
$/bond:molecule_8/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_8/C3 $/atom:molecule_8/H31
$/bond:molecule_8/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_8/C4 $/atom:molecule_8/H41
$/bond:molecule_8/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_8/C5 $/atom:molecule_8/H51
$/bond:molecule_8/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_8/C6 $/atom:molecule_8/H61
$/bond:molecule_9/C12 @/bond:OPLSAA/90-90 $/atom:molecule_9/C1 $/atom:molecule_9/C2
$/bond:molecule_9/C23 @/bond:OPLSAA/90-90 $/atom:molecule_9/C2 $/atom:molecule_9/C3
$/bond:molecule_9/C34 @/bond:OPLSAA/90-90 $/atom:molecule_9/C3 $/atom:molecule_9/C4
$/bond:molecule_9/C45 @/bond:OPLSAA/90-90 $/atom:molecule_9/C4 $/atom:molecule_9/C5
$/bond:molecule_9/C56 @/bond:OPLSAA/90-90 $/atom:molecule_9/C5 $/atom:molecule_9/C6
$/bond:molecule_9/C61 @/bond:OPLSAA/90-90 $/atom:molecule_9/C6 $/atom:molecule_9/C1
$/bond:molecule_9/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_9/C1 $/atom:molecule_9/H11
$/bond:molecule_9/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_9/C2 $/atom:molecule_9/H21
$/bond:molecule_9/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_9/C3 $/atom:molecule_9/H31
$/bond:molecule_9/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_9/C4 $/atom:molecule_9/H41
$/bond:molecule_9/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_9/C5 $/atom:molecule_9/H51
$/bond:molecule_9/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_9/C6 $/atom:molecule_9/H61
$/bond:molecule_10/C12 @/bond:OPLSAA/90-90 $/atom:molecule_10/C1 $/atom:molecule_10/C2
$/bond:molecule_10/C23 @/bond:OPLSAA/90-90 $/atom:molecule_10/C2 $/atom:molecule_10/C3
$/bond:molecule_10/C34 @/bond:OPLSAA/90-90 $/atom:molecule_10/C3 $/atom:molecule_10/C4
$/bond:molecule_10/C45 @/bond:OPLSAA/90-90 $/atom:molecule_10/C4 $/atom:molecule_10/C5
$/bond:molecule_10/C56 @/bond:OPLSAA/90-90 $/atom:molecule_10/C5 $/atom:molecule_10/C6
$/bond:molecule_10/C61 @/bond:OPLSAA/90-90 $/atom:molecule_10/C6 $/atom:molecule_10/C1
$/bond:molecule_10/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_10/C1 $/atom:molecule_10/H11
$/bond:molecule_10/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_10/C2 $/atom:molecule_10/H21
$/bond:molecule_10/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_10/C3 $/atom:molecule_10/H31
$/bond:molecule_10/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_10/C4 $/atom:molecule_10/H41
$/bond:molecule_10/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_10/C5 $/atom:molecule_10/H51
$/bond:molecule_10/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_10/C6 $/atom:molecule_10/H61
$/bond:molecule_11/C12 @/bond:OPLSAA/90-90 $/atom:molecule_11/C1 $/atom:molecule_11/C2
$/bond:molecule_11/C23 @/bond:OPLSAA/90-90 $/atom:molecule_11/C2 $/atom:molecule_11/C3
$/bond:molecule_11/C34 @/bond:OPLSAA/90-90 $/atom:molecule_11/C3 $/atom:molecule_11/C4
$/bond:molecule_11/C45 @/bond:OPLSAA/90-90 $/atom:molecule_11/C4 $/atom:molecule_11/C5
$/bond:molecule_11/C56 @/bond:OPLSAA/90-90 $/atom:molecule_11/C5 $/atom:molecule_11/C6
$/bond:molecule_11/C61 @/bond:OPLSAA/90-90 $/atom:molecule_11/C6 $/atom:molecule_11/C1
$/bond:molecule_11/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_11/C1 $/atom:molecule_11/H11
$/bond:molecule_11/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_11/C2 $/atom:molecule_11/H21
$/bond:molecule_11/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_11/C3 $/atom:molecule_11/H31
$/bond:molecule_11/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_11/C4 $/atom:molecule_11/H41
$/bond:molecule_11/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_11/C5 $/atom:molecule_11/H51
$/bond:molecule_11/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_11/C6 $/atom:molecule_11/H61
$/bond:molecule_12/C12 @/bond:OPLSAA/90-90 $/atom:molecule_12/C1 $/atom:molecule_12/C2
$/bond:molecule_12/C23 @/bond:OPLSAA/90-90 $/atom:molecule_12/C2 $/atom:molecule_12/C3
$/bond:molecule_12/C34 @/bond:OPLSAA/90-90 $/atom:molecule_12/C3 $/atom:molecule_12/C4
$/bond:molecule_12/C45 @/bond:OPLSAA/90-90 $/atom:molecule_12/C4 $/atom:molecule_12/C5
$/bond:molecule_12/C56 @/bond:OPLSAA/90-90 $/atom:molecule_12/C5 $/atom:molecule_12/C6
$/bond:molecule_12/C61 @/bond:OPLSAA/90-90 $/atom:molecule_12/C6 $/atom:molecule_12/C1
$/bond:molecule_12/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_12/C1 $/atom:molecule_12/H11
$/bond:molecule_12/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_12/C2 $/atom:molecule_12/H21
$/bond:molecule_12/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_12/C3 $/atom:molecule_12/H31
$/bond:molecule_12/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_12/C4 $/atom:molecule_12/H41
$/bond:molecule_12/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_12/C5 $/atom:molecule_12/H51
$/bond:molecule_12/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_12/C6 $/atom:molecule_12/H61
$/bond:molecule_13/C12 @/bond:OPLSAA/90-90 $/atom:molecule_13/C1 $/atom:molecule_13/C2
$/bond:molecule_13/C23 @/bond:OPLSAA/90-90 $/atom:molecule_13/C2 $/atom:molecule_13/C3
$/bond:molecule_13/C34 @/bond:OPLSAA/90-90 $/atom:molecule_13/C3 $/atom:molecule_13/C4
$/bond:molecule_13/C45 @/bond:OPLSAA/90-90 $/atom:molecule_13/C4 $/atom:molecule_13/C5
$/bond:molecule_13/C56 @/bond:OPLSAA/90-90 $/atom:molecule_13/C5 $/atom:molecule_13/C6
$/bond:molecule_13/C61 @/bond:OPLSAA/90-90 $/atom:molecule_13/C6 $/atom:molecule_13/C1
$/bond:molecule_13/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_13/C1 $/atom:molecule_13/H11
$/bond:molecule_13/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_13/C2 $/atom:molecule_13/H21
$/bond:molecule_13/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_13/C3 $/atom:molecule_13/H31
$/bond:molecule_13/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_13/C4 $/atom:molecule_13/H41
$/bond:molecule_13/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_13/C5 $/atom:molecule_13/H51
$/bond:molecule_13/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_13/C6 $/atom:molecule_13/H61
$/bond:molecule_14/C12 @/bond:OPLSAA/90-90 $/atom:molecule_14/C1 $/atom:molecule_14/C2
$/bond:molecule_14/C23 @/bond:OPLSAA/90-90 $/atom:molecule_14/C2 $/atom:molecule_14/C3
$/bond:molecule_14/C34 @/bond:OPLSAA/90-90 $/atom:molecule_14/C3 $/atom:molecule_14/C4
$/bond:molecule_14/C45 @/bond:OPLSAA/90-90 $/atom:molecule_14/C4 $/atom:molecule_14/C5
$/bond:molecule_14/C56 @/bond:OPLSAA/90-90 $/atom:molecule_14/C5 $/atom:molecule_14/C6
$/bond:molecule_14/C61 @/bond:OPLSAA/90-90 $/atom:molecule_14/C6 $/atom:molecule_14/C1
$/bond:molecule_14/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_14/C1 $/atom:molecule_14/H11
$/bond:molecule_14/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_14/C2 $/atom:molecule_14/H21
$/bond:molecule_14/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_14/C3 $/atom:molecule_14/H31
$/bond:molecule_14/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_14/C4 $/atom:molecule_14/H41
$/bond:molecule_14/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_14/C5 $/atom:molecule_14/H51
$/bond:molecule_14/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_14/C6 $/atom:molecule_14/H61
$/bond:molecule_15/C12 @/bond:OPLSAA/90-90 $/atom:molecule_15/C1 $/atom:molecule_15/C2
$/bond:molecule_15/C23 @/bond:OPLSAA/90-90 $/atom:molecule_15/C2 $/atom:molecule_15/C3
$/bond:molecule_15/C34 @/bond:OPLSAA/90-90 $/atom:molecule_15/C3 $/atom:molecule_15/C4
$/bond:molecule_15/C45 @/bond:OPLSAA/90-90 $/atom:molecule_15/C4 $/atom:molecule_15/C5
$/bond:molecule_15/C56 @/bond:OPLSAA/90-90 $/atom:molecule_15/C5 $/atom:molecule_15/C6
$/bond:molecule_15/C61 @/bond:OPLSAA/90-90 $/atom:molecule_15/C6 $/atom:molecule_15/C1
$/bond:molecule_15/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_15/C1 $/atom:molecule_15/H11
$/bond:molecule_15/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_15/C2 $/atom:molecule_15/H21
$/bond:molecule_15/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_15/C3 $/atom:molecule_15/H31
$/bond:molecule_15/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_15/C4 $/atom:molecule_15/H41
$/bond:molecule_15/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_15/C5 $/atom:molecule_15/H51
$/bond:molecule_15/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_15/C6 $/atom:molecule_15/H61
$/bond:molecule_16/C12 @/bond:OPLSAA/90-90 $/atom:molecule_16/C1 $/atom:molecule_16/C2
$/bond:molecule_16/C23 @/bond:OPLSAA/90-90 $/atom:molecule_16/C2 $/atom:molecule_16/C3
$/bond:molecule_16/C34 @/bond:OPLSAA/90-90 $/atom:molecule_16/C3 $/atom:molecule_16/C4
$/bond:molecule_16/C45 @/bond:OPLSAA/90-90 $/atom:molecule_16/C4 $/atom:molecule_16/C5
$/bond:molecule_16/C56 @/bond:OPLSAA/90-90 $/atom:molecule_16/C5 $/atom:molecule_16/C6
$/bond:molecule_16/C61 @/bond:OPLSAA/90-90 $/atom:molecule_16/C6 $/atom:molecule_16/C1
$/bond:molecule_16/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_16/C1 $/atom:molecule_16/H11
$/bond:molecule_16/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_16/C2 $/atom:molecule_16/H21
$/bond:molecule_16/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_16/C3 $/atom:molecule_16/H31
$/bond:molecule_16/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_16/C4 $/atom:molecule_16/H41
$/bond:molecule_16/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_16/C5 $/atom:molecule_16/H51
$/bond:molecule_16/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_16/C6 $/atom:molecule_16/H61
$/bond:molecule_17/C12 @/bond:OPLSAA/90-90 $/atom:molecule_17/C1 $/atom:molecule_17/C2
$/bond:molecule_17/C23 @/bond:OPLSAA/90-90 $/atom:molecule_17/C2 $/atom:molecule_17/C3
$/bond:molecule_17/C34 @/bond:OPLSAA/90-90 $/atom:molecule_17/C3 $/atom:molecule_17/C4
$/bond:molecule_17/C45 @/bond:OPLSAA/90-90 $/atom:molecule_17/C4 $/atom:molecule_17/C5
$/bond:molecule_17/C56 @/bond:OPLSAA/90-90 $/atom:molecule_17/C5 $/atom:molecule_17/C6
$/bond:molecule_17/C61 @/bond:OPLSAA/90-90 $/atom:molecule_17/C6 $/atom:molecule_17/C1
$/bond:molecule_17/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_17/C1 $/atom:molecule_17/H11
$/bond:molecule_17/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_17/C2 $/atom:molecule_17/H21
$/bond:molecule_17/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_17/C3 $/atom:molecule_17/H31
$/bond:molecule_17/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_17/C4 $/atom:molecule_17/H41
$/bond:molecule_17/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_17/C5 $/atom:molecule_17/H51
$/bond:molecule_17/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_17/C6 $/atom:molecule_17/H61
$/bond:molecule_18/C12 @/bond:OPLSAA/90-90 $/atom:molecule_18/C1 $/atom:molecule_18/C2
$/bond:molecule_18/C23 @/bond:OPLSAA/90-90 $/atom:molecule_18/C2 $/atom:molecule_18/C3
$/bond:molecule_18/C34 @/bond:OPLSAA/90-90 $/atom:molecule_18/C3 $/atom:molecule_18/C4
$/bond:molecule_18/C45 @/bond:OPLSAA/90-90 $/atom:molecule_18/C4 $/atom:molecule_18/C5
$/bond:molecule_18/C56 @/bond:OPLSAA/90-90 $/atom:molecule_18/C5 $/atom:molecule_18/C6
$/bond:molecule_18/C61 @/bond:OPLSAA/90-90 $/atom:molecule_18/C6 $/atom:molecule_18/C1
$/bond:molecule_18/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_18/C1 $/atom:molecule_18/H11
$/bond:molecule_18/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_18/C2 $/atom:molecule_18/H21
$/bond:molecule_18/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_18/C3 $/atom:molecule_18/H31
$/bond:molecule_18/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_18/C4 $/atom:molecule_18/H41
$/bond:molecule_18/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_18/C5 $/atom:molecule_18/H51
$/bond:molecule_18/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_18/C6 $/atom:molecule_18/H61
$/bond:molecule_19/C12 @/bond:OPLSAA/90-90 $/atom:molecule_19/C1 $/atom:molecule_19/C2
$/bond:molecule_19/C23 @/bond:OPLSAA/90-90 $/atom:molecule_19/C2 $/atom:molecule_19/C3
$/bond:molecule_19/C34 @/bond:OPLSAA/90-90 $/atom:molecule_19/C3 $/atom:molecule_19/C4
$/bond:molecule_19/C45 @/bond:OPLSAA/90-90 $/atom:molecule_19/C4 $/atom:molecule_19/C5
$/bond:molecule_19/C56 @/bond:OPLSAA/90-90 $/atom:molecule_19/C5 $/atom:molecule_19/C6
$/bond:molecule_19/C61 @/bond:OPLSAA/90-90 $/atom:molecule_19/C6 $/atom:molecule_19/C1
$/bond:molecule_19/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_19/C1 $/atom:molecule_19/H11
$/bond:molecule_19/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_19/C2 $/atom:molecule_19/H21
$/bond:molecule_19/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_19/C3 $/atom:molecule_19/H31
$/bond:molecule_19/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_19/C4 $/atom:molecule_19/H41
$/bond:molecule_19/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_19/C5 $/atom:molecule_19/H51
$/bond:molecule_19/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_19/C6 $/atom:molecule_19/H61
$/bond:molecule_20/C12 @/bond:OPLSAA/90-90 $/atom:molecule_20/C1 $/atom:molecule_20/C2
$/bond:molecule_20/C23 @/bond:OPLSAA/90-90 $/atom:molecule_20/C2 $/atom:molecule_20/C3
$/bond:molecule_20/C34 @/bond:OPLSAA/90-90 $/atom:molecule_20/C3 $/atom:molecule_20/C4
$/bond:molecule_20/C45 @/bond:OPLSAA/90-90 $/atom:molecule_20/C4 $/atom:molecule_20/C5
$/bond:molecule_20/C56 @/bond:OPLSAA/90-90 $/atom:molecule_20/C5 $/atom:molecule_20/C6
$/bond:molecule_20/C61 @/bond:OPLSAA/90-90 $/atom:molecule_20/C6 $/atom:molecule_20/C1
$/bond:molecule_20/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_20/C1 $/atom:molecule_20/H11
$/bond:molecule_20/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_20/C2 $/atom:molecule_20/H21
$/bond:molecule_20/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_20/C3 $/atom:molecule_20/H31
$/bond:molecule_20/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_20/C4 $/atom:molecule_20/H41
$/bond:molecule_20/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_20/C5 $/atom:molecule_20/H51
$/bond:molecule_20/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_20/C6 $/atom:molecule_20/H61
$/bond:molecule_21/C12 @/bond:OPLSAA/90-90 $/atom:molecule_21/C1 $/atom:molecule_21/C2
$/bond:molecule_21/C23 @/bond:OPLSAA/90-90 $/atom:molecule_21/C2 $/atom:molecule_21/C3
$/bond:molecule_21/C34 @/bond:OPLSAA/90-90 $/atom:molecule_21/C3 $/atom:molecule_21/C4
$/bond:molecule_21/C45 @/bond:OPLSAA/90-90 $/atom:molecule_21/C4 $/atom:molecule_21/C5
$/bond:molecule_21/C56 @/bond:OPLSAA/90-90 $/atom:molecule_21/C5 $/atom:molecule_21/C6
$/bond:molecule_21/C61 @/bond:OPLSAA/90-90 $/atom:molecule_21/C6 $/atom:molecule_21/C1
$/bond:molecule_21/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_21/C1 $/atom:molecule_21/H11
$/bond:molecule_21/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_21/C2 $/atom:molecule_21/H21
$/bond:molecule_21/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_21/C3 $/atom:molecule_21/H31
$/bond:molecule_21/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_21/C4 $/atom:molecule_21/H41
$/bond:molecule_21/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_21/C5 $/atom:molecule_21/H51
$/bond:molecule_21/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_21/C6 $/atom:molecule_21/H61
$/bond:molecule_22/C12 @/bond:OPLSAA/90-90 $/atom:molecule_22/C1 $/atom:molecule_22/C2
$/bond:molecule_22/C23 @/bond:OPLSAA/90-90 $/atom:molecule_22/C2 $/atom:molecule_22/C3
$/bond:molecule_22/C34 @/bond:OPLSAA/90-90 $/atom:molecule_22/C3 $/atom:molecule_22/C4
$/bond:molecule_22/C45 @/bond:OPLSAA/90-90 $/atom:molecule_22/C4 $/atom:molecule_22/C5
$/bond:molecule_22/C56 @/bond:OPLSAA/90-90 $/atom:molecule_22/C5 $/atom:molecule_22/C6
$/bond:molecule_22/C61 @/bond:OPLSAA/90-90 $/atom:molecule_22/C6 $/atom:molecule_22/C1
$/bond:molecule_22/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_22/C1 $/atom:molecule_22/H11
$/bond:molecule_22/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_22/C2 $/atom:molecule_22/H21
$/bond:molecule_22/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_22/C3 $/atom:molecule_22/H31
$/bond:molecule_22/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_22/C4 $/atom:molecule_22/H41
$/bond:molecule_22/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_22/C5 $/atom:molecule_22/H51
$/bond:molecule_22/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_22/C6 $/atom:molecule_22/H61
$/bond:molecule_23/C12 @/bond:OPLSAA/90-90 $/atom:molecule_23/C1 $/atom:molecule_23/C2
$/bond:molecule_23/C23 @/bond:OPLSAA/90-90 $/atom:molecule_23/C2 $/atom:molecule_23/C3
$/bond:molecule_23/C34 @/bond:OPLSAA/90-90 $/atom:molecule_23/C3 $/atom:molecule_23/C4
$/bond:molecule_23/C45 @/bond:OPLSAA/90-90 $/atom:molecule_23/C4 $/atom:molecule_23/C5
$/bond:molecule_23/C56 @/bond:OPLSAA/90-90 $/atom:molecule_23/C5 $/atom:molecule_23/C6
$/bond:molecule_23/C61 @/bond:OPLSAA/90-90 $/atom:molecule_23/C6 $/atom:molecule_23/C1
$/bond:molecule_23/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_23/C1 $/atom:molecule_23/H11
$/bond:molecule_23/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_23/C2 $/atom:molecule_23/H21
$/bond:molecule_23/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_23/C3 $/atom:molecule_23/H31
$/bond:molecule_23/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_23/C4 $/atom:molecule_23/H41
$/bond:molecule_23/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_23/C5 $/atom:molecule_23/H51
$/bond:molecule_23/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_23/C6 $/atom:molecule_23/H61
$/bond:molecule_24/C12 @/bond:OPLSAA/90-90 $/atom:molecule_24/C1 $/atom:molecule_24/C2
$/bond:molecule_24/C23 @/bond:OPLSAA/90-90 $/atom:molecule_24/C2 $/atom:molecule_24/C3
$/bond:molecule_24/C34 @/bond:OPLSAA/90-90 $/atom:molecule_24/C3 $/atom:molecule_24/C4
$/bond:molecule_24/C45 @/bond:OPLSAA/90-90 $/atom:molecule_24/C4 $/atom:molecule_24/C5
$/bond:molecule_24/C56 @/bond:OPLSAA/90-90 $/atom:molecule_24/C5 $/atom:molecule_24/C6
$/bond:molecule_24/C61 @/bond:OPLSAA/90-90 $/atom:molecule_24/C6 $/atom:molecule_24/C1
$/bond:molecule_24/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_24/C1 $/atom:molecule_24/H11
$/bond:molecule_24/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_24/C2 $/atom:molecule_24/H21
$/bond:molecule_24/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_24/C3 $/atom:molecule_24/H31
$/bond:molecule_24/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_24/C4 $/atom:molecule_24/H41
$/bond:molecule_24/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_24/C5 $/atom:molecule_24/H51
$/bond:molecule_24/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_24/C6 $/atom:molecule_24/H61
$/bond:molecule_25/C12 @/bond:OPLSAA/90-90 $/atom:molecule_25/C1 $/atom:molecule_25/C2
$/bond:molecule_25/C23 @/bond:OPLSAA/90-90 $/atom:molecule_25/C2 $/atom:molecule_25/C3
$/bond:molecule_25/C34 @/bond:OPLSAA/90-90 $/atom:molecule_25/C3 $/atom:molecule_25/C4
$/bond:molecule_25/C45 @/bond:OPLSAA/90-90 $/atom:molecule_25/C4 $/atom:molecule_25/C5
$/bond:molecule_25/C56 @/bond:OPLSAA/90-90 $/atom:molecule_25/C5 $/atom:molecule_25/C6
$/bond:molecule_25/C61 @/bond:OPLSAA/90-90 $/atom:molecule_25/C6 $/atom:molecule_25/C1
$/bond:molecule_25/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_25/C1 $/atom:molecule_25/H11
$/bond:molecule_25/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_25/C2 $/atom:molecule_25/H21
$/bond:molecule_25/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_25/C3 $/atom:molecule_25/H31
$/bond:molecule_25/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_25/C4 $/atom:molecule_25/H41
$/bond:molecule_25/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_25/C5 $/atom:molecule_25/H51
$/bond:molecule_25/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_25/C6 $/atom:molecule_25/H61
$/bond:molecule_26/C12 @/bond:OPLSAA/90-90 $/atom:molecule_26/C1 $/atom:molecule_26/C2
$/bond:molecule_26/C23 @/bond:OPLSAA/90-90 $/atom:molecule_26/C2 $/atom:molecule_26/C3
$/bond:molecule_26/C34 @/bond:OPLSAA/90-90 $/atom:molecule_26/C3 $/atom:molecule_26/C4
$/bond:molecule_26/C45 @/bond:OPLSAA/90-90 $/atom:molecule_26/C4 $/atom:molecule_26/C5
$/bond:molecule_26/C56 @/bond:OPLSAA/90-90 $/atom:molecule_26/C5 $/atom:molecule_26/C6
$/bond:molecule_26/C61 @/bond:OPLSAA/90-90 $/atom:molecule_26/C6 $/atom:molecule_26/C1
$/bond:molecule_26/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_26/C1 $/atom:molecule_26/H11
$/bond:molecule_26/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_26/C2 $/atom:molecule_26/H21
$/bond:molecule_26/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_26/C3 $/atom:molecule_26/H31
$/bond:molecule_26/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_26/C4 $/atom:molecule_26/H41
$/bond:molecule_26/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_26/C5 $/atom:molecule_26/H51
$/bond:molecule_26/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_26/C6 $/atom:molecule_26/H61
$/bond:molecule_27/C12 @/bond:OPLSAA/90-90 $/atom:molecule_27/C1 $/atom:molecule_27/C2
$/bond:molecule_27/C23 @/bond:OPLSAA/90-90 $/atom:molecule_27/C2 $/atom:molecule_27/C3
$/bond:molecule_27/C34 @/bond:OPLSAA/90-90 $/atom:molecule_27/C3 $/atom:molecule_27/C4
$/bond:molecule_27/C45 @/bond:OPLSAA/90-90 $/atom:molecule_27/C4 $/atom:molecule_27/C5
$/bond:molecule_27/C56 @/bond:OPLSAA/90-90 $/atom:molecule_27/C5 $/atom:molecule_27/C6
$/bond:molecule_27/C61 @/bond:OPLSAA/90-90 $/atom:molecule_27/C6 $/atom:molecule_27/C1
$/bond:molecule_27/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_27/C1 $/atom:molecule_27/H11
$/bond:molecule_27/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_27/C2 $/atom:molecule_27/H21
$/bond:molecule_27/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_27/C3 $/atom:molecule_27/H31
$/bond:molecule_27/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_27/C4 $/atom:molecule_27/H41
$/bond:molecule_27/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_27/C5 $/atom:molecule_27/H51
$/bond:molecule_27/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_27/C6 $/atom:molecule_27/H61
$/bond:molecule_28/C12 @/bond:OPLSAA/90-90 $/atom:molecule_28/C1 $/atom:molecule_28/C2
$/bond:molecule_28/C23 @/bond:OPLSAA/90-90 $/atom:molecule_28/C2 $/atom:molecule_28/C3
$/bond:molecule_28/C34 @/bond:OPLSAA/90-90 $/atom:molecule_28/C3 $/atom:molecule_28/C4
$/bond:molecule_28/C45 @/bond:OPLSAA/90-90 $/atom:molecule_28/C4 $/atom:molecule_28/C5
$/bond:molecule_28/C56 @/bond:OPLSAA/90-90 $/atom:molecule_28/C5 $/atom:molecule_28/C6
$/bond:molecule_28/C61 @/bond:OPLSAA/90-90 $/atom:molecule_28/C6 $/atom:molecule_28/C1
$/bond:molecule_28/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_28/C1 $/atom:molecule_28/H11
$/bond:molecule_28/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_28/C2 $/atom:molecule_28/H21
$/bond:molecule_28/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_28/C3 $/atom:molecule_28/H31
$/bond:molecule_28/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_28/C4 $/atom:molecule_28/H41
$/bond:molecule_28/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_28/C5 $/atom:molecule_28/H51
$/bond:molecule_28/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_28/C6 $/atom:molecule_28/H61
$/bond:molecule_29/C12 @/bond:OPLSAA/90-90 $/atom:molecule_29/C1 $/atom:molecule_29/C2
$/bond:molecule_29/C23 @/bond:OPLSAA/90-90 $/atom:molecule_29/C2 $/atom:molecule_29/C3
$/bond:molecule_29/C34 @/bond:OPLSAA/90-90 $/atom:molecule_29/C3 $/atom:molecule_29/C4
$/bond:molecule_29/C45 @/bond:OPLSAA/90-90 $/atom:molecule_29/C4 $/atom:molecule_29/C5
$/bond:molecule_29/C56 @/bond:OPLSAA/90-90 $/atom:molecule_29/C5 $/atom:molecule_29/C6
$/bond:molecule_29/C61 @/bond:OPLSAA/90-90 $/atom:molecule_29/C6 $/atom:molecule_29/C1
$/bond:molecule_29/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_29/C1 $/atom:molecule_29/H11
$/bond:molecule_29/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_29/C2 $/atom:molecule_29/H21
$/bond:molecule_29/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_29/C3 $/atom:molecule_29/H31
$/bond:molecule_29/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_29/C4 $/atom:molecule_29/H41
$/bond:molecule_29/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_29/C5 $/atom:molecule_29/H51
$/bond:molecule_29/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_29/C6 $/atom:molecule_29/H61
$/bond:molecule_30/C12 @/bond:OPLSAA/90-90 $/atom:molecule_30/C1 $/atom:molecule_30/C2
$/bond:molecule_30/C23 @/bond:OPLSAA/90-90 $/atom:molecule_30/C2 $/atom:molecule_30/C3
$/bond:molecule_30/C34 @/bond:OPLSAA/90-90 $/atom:molecule_30/C3 $/atom:molecule_30/C4
$/bond:molecule_30/C45 @/bond:OPLSAA/90-90 $/atom:molecule_30/C4 $/atom:molecule_30/C5
$/bond:molecule_30/C56 @/bond:OPLSAA/90-90 $/atom:molecule_30/C5 $/atom:molecule_30/C6
$/bond:molecule_30/C61 @/bond:OPLSAA/90-90 $/atom:molecule_30/C6 $/atom:molecule_30/C1
$/bond:molecule_30/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_30/C1 $/atom:molecule_30/H11
$/bond:molecule_30/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_30/C2 $/atom:molecule_30/H21
$/bond:molecule_30/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_30/C3 $/atom:molecule_30/H31
$/bond:molecule_30/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_30/C4 $/atom:molecule_30/H41
$/bond:molecule_30/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_30/C5 $/atom:molecule_30/H51
$/bond:molecule_30/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_30/C6 $/atom:molecule_30/H61
$/bond:molecule_31/C12 @/bond:OPLSAA/90-90 $/atom:molecule_31/C1 $/atom:molecule_31/C2
$/bond:molecule_31/C23 @/bond:OPLSAA/90-90 $/atom:molecule_31/C2 $/atom:molecule_31/C3
$/bond:molecule_31/C34 @/bond:OPLSAA/90-90 $/atom:molecule_31/C3 $/atom:molecule_31/C4
$/bond:molecule_31/C45 @/bond:OPLSAA/90-90 $/atom:molecule_31/C4 $/atom:molecule_31/C5
$/bond:molecule_31/C56 @/bond:OPLSAA/90-90 $/atom:molecule_31/C5 $/atom:molecule_31/C6
$/bond:molecule_31/C61 @/bond:OPLSAA/90-90 $/atom:molecule_31/C6 $/atom:molecule_31/C1
$/bond:molecule_31/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_31/C1 $/atom:molecule_31/H11
$/bond:molecule_31/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_31/C2 $/atom:molecule_31/H21
$/bond:molecule_31/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_31/C3 $/atom:molecule_31/H31
$/bond:molecule_31/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_31/C4 $/atom:molecule_31/H41
$/bond:molecule_31/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_31/C5 $/atom:molecule_31/H51
$/bond:molecule_31/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_31/C6 $/atom:molecule_31/H61
$/bond:molecule_32/C12 @/bond:OPLSAA/90-90 $/atom:molecule_32/C1 $/atom:molecule_32/C2
$/bond:molecule_32/C23 @/bond:OPLSAA/90-90 $/atom:molecule_32/C2 $/atom:molecule_32/C3
$/bond:molecule_32/C34 @/bond:OPLSAA/90-90 $/atom:molecule_32/C3 $/atom:molecule_32/C4
$/bond:molecule_32/C45 @/bond:OPLSAA/90-90 $/atom:molecule_32/C4 $/atom:molecule_32/C5
$/bond:molecule_32/C56 @/bond:OPLSAA/90-90 $/atom:molecule_32/C5 $/atom:molecule_32/C6
$/bond:molecule_32/C61 @/bond:OPLSAA/90-90 $/atom:molecule_32/C6 $/atom:molecule_32/C1
$/bond:molecule_32/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_32/C1 $/atom:molecule_32/H11
$/bond:molecule_32/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_32/C2 $/atom:molecule_32/H21
$/bond:molecule_32/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_32/C3 $/atom:molecule_32/H31
$/bond:molecule_32/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_32/C4 $/atom:molecule_32/H41
$/bond:molecule_32/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_32/C5 $/atom:molecule_32/H51
$/bond:molecule_32/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_32/C6 $/atom:molecule_32/H61
$/bond:molecule_33/C12 @/bond:OPLSAA/90-90 $/atom:molecule_33/C1 $/atom:molecule_33/C2
$/bond:molecule_33/C23 @/bond:OPLSAA/90-90 $/atom:molecule_33/C2 $/atom:molecule_33/C3
$/bond:molecule_33/C34 @/bond:OPLSAA/90-90 $/atom:molecule_33/C3 $/atom:molecule_33/C4
$/bond:molecule_33/C45 @/bond:OPLSAA/90-90 $/atom:molecule_33/C4 $/atom:molecule_33/C5
$/bond:molecule_33/C56 @/bond:OPLSAA/90-90 $/atom:molecule_33/C5 $/atom:molecule_33/C6
$/bond:molecule_33/C61 @/bond:OPLSAA/90-90 $/atom:molecule_33/C6 $/atom:molecule_33/C1
$/bond:molecule_33/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_33/C1 $/atom:molecule_33/H11
$/bond:molecule_33/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_33/C2 $/atom:molecule_33/H21
$/bond:molecule_33/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_33/C3 $/atom:molecule_33/H31
$/bond:molecule_33/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_33/C4 $/atom:molecule_33/H41
$/bond:molecule_33/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_33/C5 $/atom:molecule_33/H51
$/bond:molecule_33/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_33/C6 $/atom:molecule_33/H61
$/bond:molecule_34/C12 @/bond:OPLSAA/90-90 $/atom:molecule_34/C1 $/atom:molecule_34/C2
$/bond:molecule_34/C23 @/bond:OPLSAA/90-90 $/atom:molecule_34/C2 $/atom:molecule_34/C3
$/bond:molecule_34/C34 @/bond:OPLSAA/90-90 $/atom:molecule_34/C3 $/atom:molecule_34/C4
$/bond:molecule_34/C45 @/bond:OPLSAA/90-90 $/atom:molecule_34/C4 $/atom:molecule_34/C5
$/bond:molecule_34/C56 @/bond:OPLSAA/90-90 $/atom:molecule_34/C5 $/atom:molecule_34/C6
$/bond:molecule_34/C61 @/bond:OPLSAA/90-90 $/atom:molecule_34/C6 $/atom:molecule_34/C1
$/bond:molecule_34/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_34/C1 $/atom:molecule_34/H11
$/bond:molecule_34/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_34/C2 $/atom:molecule_34/H21
$/bond:molecule_34/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_34/C3 $/atom:molecule_34/H31
$/bond:molecule_34/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_34/C4 $/atom:molecule_34/H41
$/bond:molecule_34/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_34/C5 $/atom:molecule_34/H51
$/bond:molecule_34/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_34/C6 $/atom:molecule_34/H61
$/bond:molecule_35/C12 @/bond:OPLSAA/90-90 $/atom:molecule_35/C1 $/atom:molecule_35/C2
$/bond:molecule_35/C23 @/bond:OPLSAA/90-90 $/atom:molecule_35/C2 $/atom:molecule_35/C3
$/bond:molecule_35/C34 @/bond:OPLSAA/90-90 $/atom:molecule_35/C3 $/atom:molecule_35/C4
$/bond:molecule_35/C45 @/bond:OPLSAA/90-90 $/atom:molecule_35/C4 $/atom:molecule_35/C5
$/bond:molecule_35/C56 @/bond:OPLSAA/90-90 $/atom:molecule_35/C5 $/atom:molecule_35/C6
$/bond:molecule_35/C61 @/bond:OPLSAA/90-90 $/atom:molecule_35/C6 $/atom:molecule_35/C1
$/bond:molecule_35/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_35/C1 $/atom:molecule_35/H11
$/bond:molecule_35/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_35/C2 $/atom:molecule_35/H21
$/bond:molecule_35/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_35/C3 $/atom:molecule_35/H31
$/bond:molecule_35/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_35/C4 $/atom:molecule_35/H41
$/bond:molecule_35/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_35/C5 $/atom:molecule_35/H51
$/bond:molecule_35/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_35/C6 $/atom:molecule_35/H61
$/bond:molecule_36/C12 @/bond:OPLSAA/90-90 $/atom:molecule_36/C1 $/atom:molecule_36/C2
$/bond:molecule_36/C23 @/bond:OPLSAA/90-90 $/atom:molecule_36/C2 $/atom:molecule_36/C3
$/bond:molecule_36/C34 @/bond:OPLSAA/90-90 $/atom:molecule_36/C3 $/atom:molecule_36/C4
$/bond:molecule_36/C45 @/bond:OPLSAA/90-90 $/atom:molecule_36/C4 $/atom:molecule_36/C5
$/bond:molecule_36/C56 @/bond:OPLSAA/90-90 $/atom:molecule_36/C5 $/atom:molecule_36/C6
$/bond:molecule_36/C61 @/bond:OPLSAA/90-90 $/atom:molecule_36/C6 $/atom:molecule_36/C1
$/bond:molecule_36/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_36/C1 $/atom:molecule_36/H11
$/bond:molecule_36/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_36/C2 $/atom:molecule_36/H21
$/bond:molecule_36/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_36/C3 $/atom:molecule_36/H31
$/bond:molecule_36/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_36/C4 $/atom:molecule_36/H41
$/bond:molecule_36/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_36/C5 $/atom:molecule_36/H51
$/bond:molecule_36/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_36/C6 $/atom:molecule_36/H61
$/bond:molecule_37/C12 @/bond:OPLSAA/90-90 $/atom:molecule_37/C1 $/atom:molecule_37/C2
$/bond:molecule_37/C23 @/bond:OPLSAA/90-90 $/atom:molecule_37/C2 $/atom:molecule_37/C3
$/bond:molecule_37/C34 @/bond:OPLSAA/90-90 $/atom:molecule_37/C3 $/atom:molecule_37/C4
$/bond:molecule_37/C45 @/bond:OPLSAA/90-90 $/atom:molecule_37/C4 $/atom:molecule_37/C5
$/bond:molecule_37/C56 @/bond:OPLSAA/90-90 $/atom:molecule_37/C5 $/atom:molecule_37/C6
$/bond:molecule_37/C61 @/bond:OPLSAA/90-90 $/atom:molecule_37/C6 $/atom:molecule_37/C1
$/bond:molecule_37/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_37/C1 $/atom:molecule_37/H11
$/bond:molecule_37/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_37/C2 $/atom:molecule_37/H21
$/bond:molecule_37/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_37/C3 $/atom:molecule_37/H31
$/bond:molecule_37/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_37/C4 $/atom:molecule_37/H41
$/bond:molecule_37/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_37/C5 $/atom:molecule_37/H51
$/bond:molecule_37/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_37/C6 $/atom:molecule_37/H61
$/bond:molecule_38/C12 @/bond:OPLSAA/90-90 $/atom:molecule_38/C1 $/atom:molecule_38/C2
$/bond:molecule_38/C23 @/bond:OPLSAA/90-90 $/atom:molecule_38/C2 $/atom:molecule_38/C3
$/bond:molecule_38/C34 @/bond:OPLSAA/90-90 $/atom:molecule_38/C3 $/atom:molecule_38/C4
$/bond:molecule_38/C45 @/bond:OPLSAA/90-90 $/atom:molecule_38/C4 $/atom:molecule_38/C5
$/bond:molecule_38/C56 @/bond:OPLSAA/90-90 $/atom:molecule_38/C5 $/atom:molecule_38/C6
$/bond:molecule_38/C61 @/bond:OPLSAA/90-90 $/atom:molecule_38/C6 $/atom:molecule_38/C1
$/bond:molecule_38/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_38/C1 $/atom:molecule_38/H11
$/bond:molecule_38/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_38/C2 $/atom:molecule_38/H21
$/bond:molecule_38/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_38/C3 $/atom:molecule_38/H31
$/bond:molecule_38/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_38/C4 $/atom:molecule_38/H41
$/bond:molecule_38/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_38/C5 $/atom:molecule_38/H51
$/bond:molecule_38/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_38/C6 $/atom:molecule_38/H61
$/bond:molecule_39/C12 @/bond:OPLSAA/90-90 $/atom:molecule_39/C1 $/atom:molecule_39/C2
$/bond:molecule_39/C23 @/bond:OPLSAA/90-90 $/atom:molecule_39/C2 $/atom:molecule_39/C3
$/bond:molecule_39/C34 @/bond:OPLSAA/90-90 $/atom:molecule_39/C3 $/atom:molecule_39/C4
$/bond:molecule_39/C45 @/bond:OPLSAA/90-90 $/atom:molecule_39/C4 $/atom:molecule_39/C5
$/bond:molecule_39/C56 @/bond:OPLSAA/90-90 $/atom:molecule_39/C5 $/atom:molecule_39/C6
$/bond:molecule_39/C61 @/bond:OPLSAA/90-90 $/atom:molecule_39/C6 $/atom:molecule_39/C1
$/bond:molecule_39/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_39/C1 $/atom:molecule_39/H11
$/bond:molecule_39/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_39/C2 $/atom:molecule_39/H21
$/bond:molecule_39/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_39/C3 $/atom:molecule_39/H31
$/bond:molecule_39/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_39/C4 $/atom:molecule_39/H41
$/bond:molecule_39/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_39/C5 $/atom:molecule_39/H51
$/bond:molecule_39/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_39/C6 $/atom:molecule_39/H61
$/bond:molecule_40/C12 @/bond:OPLSAA/90-90 $/atom:molecule_40/C1 $/atom:molecule_40/C2
$/bond:molecule_40/C23 @/bond:OPLSAA/90-90 $/atom:molecule_40/C2 $/atom:molecule_40/C3
$/bond:molecule_40/C34 @/bond:OPLSAA/90-90 $/atom:molecule_40/C3 $/atom:molecule_40/C4
$/bond:molecule_40/C45 @/bond:OPLSAA/90-90 $/atom:molecule_40/C4 $/atom:molecule_40/C5
$/bond:molecule_40/C56 @/bond:OPLSAA/90-90 $/atom:molecule_40/C5 $/atom:molecule_40/C6
$/bond:molecule_40/C61 @/bond:OPLSAA/90-90 $/atom:molecule_40/C6 $/atom:molecule_40/C1
$/bond:molecule_40/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_40/C1 $/atom:molecule_40/H11
$/bond:molecule_40/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_40/C2 $/atom:molecule_40/H21
$/bond:molecule_40/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_40/C3 $/atom:molecule_40/H31
$/bond:molecule_40/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_40/C4 $/atom:molecule_40/H41
$/bond:molecule_40/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_40/C5 $/atom:molecule_40/H51
$/bond:molecule_40/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_40/C6 $/atom:molecule_40/H61
$/bond:molecule_41/C12 @/bond:OPLSAA/90-90 $/atom:molecule_41/C1 $/atom:molecule_41/C2
$/bond:molecule_41/C23 @/bond:OPLSAA/90-90 $/atom:molecule_41/C2 $/atom:molecule_41/C3
$/bond:molecule_41/C34 @/bond:OPLSAA/90-90 $/atom:molecule_41/C3 $/atom:molecule_41/C4
$/bond:molecule_41/C45 @/bond:OPLSAA/90-90 $/atom:molecule_41/C4 $/atom:molecule_41/C5
$/bond:molecule_41/C56 @/bond:OPLSAA/90-90 $/atom:molecule_41/C5 $/atom:molecule_41/C6
$/bond:molecule_41/C61 @/bond:OPLSAA/90-90 $/atom:molecule_41/C6 $/atom:molecule_41/C1
$/bond:molecule_41/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_41/C1 $/atom:molecule_41/H11
$/bond:molecule_41/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_41/C2 $/atom:molecule_41/H21
$/bond:molecule_41/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_41/C3 $/atom:molecule_41/H31
$/bond:molecule_41/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_41/C4 $/atom:molecule_41/H41
$/bond:molecule_41/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_41/C5 $/atom:molecule_41/H51
$/bond:molecule_41/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_41/C6 $/atom:molecule_41/H61
$/bond:molecule_42/C12 @/bond:OPLSAA/90-90 $/atom:molecule_42/C1 $/atom:molecule_42/C2
$/bond:molecule_42/C23 @/bond:OPLSAA/90-90 $/atom:molecule_42/C2 $/atom:molecule_42/C3
$/bond:molecule_42/C34 @/bond:OPLSAA/90-90 $/atom:molecule_42/C3 $/atom:molecule_42/C4
$/bond:molecule_42/C45 @/bond:OPLSAA/90-90 $/atom:molecule_42/C4 $/atom:molecule_42/C5
$/bond:molecule_42/C56 @/bond:OPLSAA/90-90 $/atom:molecule_42/C5 $/atom:molecule_42/C6
$/bond:molecule_42/C61 @/bond:OPLSAA/90-90 $/atom:molecule_42/C6 $/atom:molecule_42/C1
$/bond:molecule_42/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_42/C1 $/atom:molecule_42/H11
$/bond:molecule_42/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_42/C2 $/atom:molecule_42/H21
$/bond:molecule_42/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_42/C3 $/atom:molecule_42/H31
$/bond:molecule_42/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_42/C4 $/atom:molecule_42/H41
$/bond:molecule_42/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_42/C5 $/atom:molecule_42/H51
$/bond:molecule_42/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_42/C6 $/atom:molecule_42/H61
$/bond:molecule_43/C12 @/bond:OPLSAA/90-90 $/atom:molecule_43/C1 $/atom:molecule_43/C2
$/bond:molecule_43/C23 @/bond:OPLSAA/90-90 $/atom:molecule_43/C2 $/atom:molecule_43/C3
$/bond:molecule_43/C34 @/bond:OPLSAA/90-90 $/atom:molecule_43/C3 $/atom:molecule_43/C4
$/bond:molecule_43/C45 @/bond:OPLSAA/90-90 $/atom:molecule_43/C4 $/atom:molecule_43/C5
$/bond:molecule_43/C56 @/bond:OPLSAA/90-90 $/atom:molecule_43/C5 $/atom:molecule_43/C6
$/bond:molecule_43/C61 @/bond:OPLSAA/90-90 $/atom:molecule_43/C6 $/atom:molecule_43/C1
$/bond:molecule_43/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_43/C1 $/atom:molecule_43/H11
$/bond:molecule_43/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_43/C2 $/atom:molecule_43/H21
$/bond:molecule_43/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_43/C3 $/atom:molecule_43/H31
$/bond:molecule_43/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_43/C4 $/atom:molecule_43/H41
$/bond:molecule_43/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_43/C5 $/atom:molecule_43/H51
$/bond:molecule_43/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_43/C6 $/atom:molecule_43/H61
$/bond:molecule_44/C12 @/bond:OPLSAA/90-90 $/atom:molecule_44/C1 $/atom:molecule_44/C2
$/bond:molecule_44/C23 @/bond:OPLSAA/90-90 $/atom:molecule_44/C2 $/atom:molecule_44/C3
$/bond:molecule_44/C34 @/bond:OPLSAA/90-90 $/atom:molecule_44/C3 $/atom:molecule_44/C4
$/bond:molecule_44/C45 @/bond:OPLSAA/90-90 $/atom:molecule_44/C4 $/atom:molecule_44/C5
$/bond:molecule_44/C56 @/bond:OPLSAA/90-90 $/atom:molecule_44/C5 $/atom:molecule_44/C6
$/bond:molecule_44/C61 @/bond:OPLSAA/90-90 $/atom:molecule_44/C6 $/atom:molecule_44/C1
$/bond:molecule_44/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_44/C1 $/atom:molecule_44/H11
$/bond:molecule_44/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_44/C2 $/atom:molecule_44/H21
$/bond:molecule_44/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_44/C3 $/atom:molecule_44/H31
$/bond:molecule_44/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_44/C4 $/atom:molecule_44/H41
$/bond:molecule_44/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_44/C5 $/atom:molecule_44/H51
$/bond:molecule_44/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_44/C6 $/atom:molecule_44/H61
$/bond:molecule_45/C12 @/bond:OPLSAA/90-90 $/atom:molecule_45/C1 $/atom:molecule_45/C2
$/bond:molecule_45/C23 @/bond:OPLSAA/90-90 $/atom:molecule_45/C2 $/atom:molecule_45/C3
$/bond:molecule_45/C34 @/bond:OPLSAA/90-90 $/atom:molecule_45/C3 $/atom:molecule_45/C4
$/bond:molecule_45/C45 @/bond:OPLSAA/90-90 $/atom:molecule_45/C4 $/atom:molecule_45/C5
$/bond:molecule_45/C56 @/bond:OPLSAA/90-90 $/atom:molecule_45/C5 $/atom:molecule_45/C6
$/bond:molecule_45/C61 @/bond:OPLSAA/90-90 $/atom:molecule_45/C6 $/atom:molecule_45/C1
$/bond:molecule_45/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_45/C1 $/atom:molecule_45/H11
$/bond:molecule_45/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_45/C2 $/atom:molecule_45/H21
$/bond:molecule_45/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_45/C3 $/atom:molecule_45/H31
$/bond:molecule_45/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_45/C4 $/atom:molecule_45/H41
$/bond:molecule_45/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_45/C5 $/atom:molecule_45/H51
$/bond:molecule_45/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_45/C6 $/atom:molecule_45/H61
$/bond:molecule_46/C12 @/bond:OPLSAA/90-90 $/atom:molecule_46/C1 $/atom:molecule_46/C2
$/bond:molecule_46/C23 @/bond:OPLSAA/90-90 $/atom:molecule_46/C2 $/atom:molecule_46/C3
$/bond:molecule_46/C34 @/bond:OPLSAA/90-90 $/atom:molecule_46/C3 $/atom:molecule_46/C4
$/bond:molecule_46/C45 @/bond:OPLSAA/90-90 $/atom:molecule_46/C4 $/atom:molecule_46/C5
$/bond:molecule_46/C56 @/bond:OPLSAA/90-90 $/atom:molecule_46/C5 $/atom:molecule_46/C6
$/bond:molecule_46/C61 @/bond:OPLSAA/90-90 $/atom:molecule_46/C6 $/atom:molecule_46/C1
$/bond:molecule_46/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_46/C1 $/atom:molecule_46/H11
$/bond:molecule_46/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_46/C2 $/atom:molecule_46/H21
$/bond:molecule_46/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_46/C3 $/atom:molecule_46/H31
$/bond:molecule_46/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_46/C4 $/atom:molecule_46/H41
$/bond:molecule_46/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_46/C5 $/atom:molecule_46/H51
$/bond:molecule_46/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_46/C6 $/atom:molecule_46/H61
$/bond:molecule_47/C12 @/bond:OPLSAA/90-90 $/atom:molecule_47/C1 $/atom:molecule_47/C2
$/bond:molecule_47/C23 @/bond:OPLSAA/90-90 $/atom:molecule_47/C2 $/atom:molecule_47/C3
$/bond:molecule_47/C34 @/bond:OPLSAA/90-90 $/atom:molecule_47/C3 $/atom:molecule_47/C4
$/bond:molecule_47/C45 @/bond:OPLSAA/90-90 $/atom:molecule_47/C4 $/atom:molecule_47/C5
$/bond:molecule_47/C56 @/bond:OPLSAA/90-90 $/atom:molecule_47/C5 $/atom:molecule_47/C6
$/bond:molecule_47/C61 @/bond:OPLSAA/90-90 $/atom:molecule_47/C6 $/atom:molecule_47/C1
$/bond:molecule_47/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_47/C1 $/atom:molecule_47/H11
$/bond:molecule_47/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_47/C2 $/atom:molecule_47/H21
$/bond:molecule_47/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_47/C3 $/atom:molecule_47/H31
$/bond:molecule_47/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_47/C4 $/atom:molecule_47/H41
$/bond:molecule_47/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_47/C5 $/atom:molecule_47/H51
$/bond:molecule_47/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_47/C6 $/atom:molecule_47/H61
$/bond:molecule_48/C12 @/bond:OPLSAA/90-90 $/atom:molecule_48/C1 $/atom:molecule_48/C2
$/bond:molecule_48/C23 @/bond:OPLSAA/90-90 $/atom:molecule_48/C2 $/atom:molecule_48/C3
$/bond:molecule_48/C34 @/bond:OPLSAA/90-90 $/atom:molecule_48/C3 $/atom:molecule_48/C4
$/bond:molecule_48/C45 @/bond:OPLSAA/90-90 $/atom:molecule_48/C4 $/atom:molecule_48/C5
$/bond:molecule_48/C56 @/bond:OPLSAA/90-90 $/atom:molecule_48/C5 $/atom:molecule_48/C6
$/bond:molecule_48/C61 @/bond:OPLSAA/90-90 $/atom:molecule_48/C6 $/atom:molecule_48/C1
$/bond:molecule_48/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_48/C1 $/atom:molecule_48/H11
$/bond:molecule_48/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_48/C2 $/atom:molecule_48/H21
$/bond:molecule_48/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_48/C3 $/atom:molecule_48/H31
$/bond:molecule_48/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_48/C4 $/atom:molecule_48/H41
$/bond:molecule_48/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_48/C5 $/atom:molecule_48/H51
$/bond:molecule_48/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_48/C6 $/atom:molecule_48/H61
$/bond:molecule_49/C12 @/bond:OPLSAA/90-90 $/atom:molecule_49/C1 $/atom:molecule_49/C2
$/bond:molecule_49/C23 @/bond:OPLSAA/90-90 $/atom:molecule_49/C2 $/atom:molecule_49/C3
$/bond:molecule_49/C34 @/bond:OPLSAA/90-90 $/atom:molecule_49/C3 $/atom:molecule_49/C4
$/bond:molecule_49/C45 @/bond:OPLSAA/90-90 $/atom:molecule_49/C4 $/atom:molecule_49/C5
$/bond:molecule_49/C56 @/bond:OPLSAA/90-90 $/atom:molecule_49/C5 $/atom:molecule_49/C6
$/bond:molecule_49/C61 @/bond:OPLSAA/90-90 $/atom:molecule_49/C6 $/atom:molecule_49/C1
$/bond:molecule_49/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_49/C1 $/atom:molecule_49/H11
$/bond:molecule_49/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_49/C2 $/atom:molecule_49/H21
$/bond:molecule_49/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_49/C3 $/atom:molecule_49/H31
$/bond:molecule_49/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_49/C4 $/atom:molecule_49/H41
$/bond:molecule_49/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_49/C5 $/atom:molecule_49/H51
$/bond:molecule_49/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_49/C6 $/atom:molecule_49/H61
$/bond:molecule_50/C12 @/bond:OPLSAA/90-90 $/atom:molecule_50/C1 $/atom:molecule_50/C2
$/bond:molecule_50/C23 @/bond:OPLSAA/90-90 $/atom:molecule_50/C2 $/atom:molecule_50/C3
$/bond:molecule_50/C34 @/bond:OPLSAA/90-90 $/atom:molecule_50/C3 $/atom:molecule_50/C4
$/bond:molecule_50/C45 @/bond:OPLSAA/90-90 $/atom:molecule_50/C4 $/atom:molecule_50/C5
$/bond:molecule_50/C56 @/bond:OPLSAA/90-90 $/atom:molecule_50/C5 $/atom:molecule_50/C6
$/bond:molecule_50/C61 @/bond:OPLSAA/90-90 $/atom:molecule_50/C6 $/atom:molecule_50/C1
$/bond:molecule_50/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_50/C1 $/atom:molecule_50/H11
$/bond:molecule_50/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_50/C2 $/atom:molecule_50/H21
$/bond:molecule_50/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_50/C3 $/atom:molecule_50/H31
$/bond:molecule_50/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_50/C4 $/atom:molecule_50/H41
$/bond:molecule_50/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_50/C5 $/atom:molecule_50/H51
$/bond:molecule_50/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_50/C6 $/atom:molecule_50/H61
$/bond:molecule_51/C12 @/bond:OPLSAA/90-90 $/atom:molecule_51/C1 $/atom:molecule_51/C2
$/bond:molecule_51/C23 @/bond:OPLSAA/90-90 $/atom:molecule_51/C2 $/atom:molecule_51/C3
$/bond:molecule_51/C34 @/bond:OPLSAA/90-90 $/atom:molecule_51/C3 $/atom:molecule_51/C4
$/bond:molecule_51/C45 @/bond:OPLSAA/90-90 $/atom:molecule_51/C4 $/atom:molecule_51/C5
$/bond:molecule_51/C56 @/bond:OPLSAA/90-90 $/atom:molecule_51/C5 $/atom:molecule_51/C6
$/bond:molecule_51/C61 @/bond:OPLSAA/90-90 $/atom:molecule_51/C6 $/atom:molecule_51/C1
$/bond:molecule_51/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_51/C1 $/atom:molecule_51/H11
$/bond:molecule_51/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_51/C2 $/atom:molecule_51/H21
$/bond:molecule_51/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_51/C3 $/atom:molecule_51/H31
$/bond:molecule_51/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_51/C4 $/atom:molecule_51/H41
$/bond:molecule_51/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_51/C5 $/atom:molecule_51/H51
$/bond:molecule_51/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_51/C6 $/atom:molecule_51/H61
$/bond:molecule_52/C12 @/bond:OPLSAA/90-90 $/atom:molecule_52/C1 $/atom:molecule_52/C2
$/bond:molecule_52/C23 @/bond:OPLSAA/90-90 $/atom:molecule_52/C2 $/atom:molecule_52/C3
$/bond:molecule_52/C34 @/bond:OPLSAA/90-90 $/atom:molecule_52/C3 $/atom:molecule_52/C4
$/bond:molecule_52/C45 @/bond:OPLSAA/90-90 $/atom:molecule_52/C4 $/atom:molecule_52/C5
$/bond:molecule_52/C56 @/bond:OPLSAA/90-90 $/atom:molecule_52/C5 $/atom:molecule_52/C6
$/bond:molecule_52/C61 @/bond:OPLSAA/90-90 $/atom:molecule_52/C6 $/atom:molecule_52/C1
$/bond:molecule_52/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_52/C1 $/atom:molecule_52/H11
$/bond:molecule_52/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_52/C2 $/atom:molecule_52/H21
$/bond:molecule_52/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_52/C3 $/atom:molecule_52/H31
$/bond:molecule_52/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_52/C4 $/atom:molecule_52/H41
$/bond:molecule_52/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_52/C5 $/atom:molecule_52/H51
$/bond:molecule_52/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_52/C6 $/atom:molecule_52/H61
$/bond:molecule_53/C12 @/bond:OPLSAA/90-90 $/atom:molecule_53/C1 $/atom:molecule_53/C2
$/bond:molecule_53/C23 @/bond:OPLSAA/90-90 $/atom:molecule_53/C2 $/atom:molecule_53/C3
$/bond:molecule_53/C34 @/bond:OPLSAA/90-90 $/atom:molecule_53/C3 $/atom:molecule_53/C4
$/bond:molecule_53/C45 @/bond:OPLSAA/90-90 $/atom:molecule_53/C4 $/atom:molecule_53/C5
$/bond:molecule_53/C56 @/bond:OPLSAA/90-90 $/atom:molecule_53/C5 $/atom:molecule_53/C6
$/bond:molecule_53/C61 @/bond:OPLSAA/90-90 $/atom:molecule_53/C6 $/atom:molecule_53/C1
$/bond:molecule_53/C1H1 @/bond:OPLSAA/90-91 $/atom:molecule_53/C1 $/atom:molecule_53/H11
$/bond:molecule_53/C2H2 @/bond:OPLSAA/90-91 $/atom:molecule_53/C2 $/atom:molecule_53/H21
$/bond:molecule_53/C3H3 @/bond:OPLSAA/90-91 $/atom:molecule_53/C3 $/atom:molecule_53/H31
$/bond:molecule_53/C4H4 @/bond:OPLSAA/90-91 $/atom:molecule_53/C4 $/atom:molecule_53/H41
$/bond:molecule_53/C5H5 @/bond:OPLSAA/90-91 $/atom:molecule_53/C5 $/atom:molecule_53/H51
$/bond:molecule_53/C6H6 @/bond:OPLSAA/90-91 $/atom:molecule_53/C6 $/atom:molecule_53/H61
