    set type @/atom:OPLSAA/80 charge -0.18
    set type @/atom:OPLSAA/81 charge -0.12
    set type @/atom:OPLSAA/85 charge 0.06
    set type @/atom:OPLSAA/90 charge -0.115
    set type @/atom:OPLSAA/91 charge 0.115
