    @/atom:OPLSAA/90 12.011 #CA "Aromatic C" 6 partial charge=-0.115
    @/atom:OPLSAA/91 1.008 #HA "Aromatic H-C" 1 partial charge=0.115
    @/atom:OPLSAA/92 12.011 #CA "Naphthalene Fusion C" 6 partial charge=0.0
