    @/angle:OPLSAA/85-80-85 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-81-85 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-81-85 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-80-85 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/85
